Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

codecov.yml:

---
# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status checks on pull requests
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% drop
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

# PR comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag configuration for different coverage types
flags:
  api:
    paths:
      - "api/**"
    carryforward: true
  curator:
    paths:
      - "curator/**"
    carryforward: true
  common:
    paths:
      - "common/**"
    carryforward: true
  dashboard:
    paths:
      - "dashboard/**"
    carryforward: true
  explore:
    paths:
      - "explore/**"
    carryforward: true
  graphinator:
    paths:
      - "graphinator/**"
    carryforward: true
  schema-init:
    paths:
      - "schema-init/**"
    carryforward: true
  tableinator:
    paths:
      - "tableinator/**"
    carryforward: true
  extractor:
    paths:
      - "extractor/**"
    carryforward: true
  e2e-chromium:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-firefox:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-webkit:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-iphone-15:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-ipad-pro-11:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false

# Component configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API
      paths:
        - "api/**"
    - component_id: curator
      name: Curator
      paths:
        - "curator/**"
    - component_id: dashboard
      name: Dashboard
      paths:
        - "dashboard/**"
    - component_id: explore
      name: Explore
      paths:
        - "explore/**"
    - component_id: extractor
      name: Extractor
      paths:
        - "extractor/**"
    - component_id: graphinator
      name: Graphinator
      paths:
        - "graphinator/**"
    - component_id: schema-init
      name: Schema-Init
      paths:
        - "schema-init/**"
    - component_id: tableinator
      name: Tableinator
      paths:
        - "tableinator/**"
    - component_id: common
      name: Common
      paths:
        - "common/**"

# Ignore patterns
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/node_modules/**"
  - "**/.venv/**"
  - "**/venv/**"
  - "**/*.pyc"
  # Removed modules - carried-forward reports reference these old paths
  - "discovery/**"
  - "extractor/pyextractor/**"
  - "extractor/rustextractor/**"

# Parsers configuration - disable unused parsers to prevent warnings
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  v1:
    include_full_missed_files: false

# CLI behavior configuration
cli:
  # Disable automatic search for coverage.py to prevent warnings
  # We explicitly provide coverage files in the GitHub Actions workflow
  runners:
    use:
      - python
      - rust

# Integrations
slack_app: false

refactor(graphinator): unify batch and single-message normalization paths
  docs/database-schema.md
  explore/static/js/app.js
  graphinator/graphinator.py
  tests/graphinator/test_graphinator.py
Due: explore, graphinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore, Graphinator

docs: align all documentation with actual codebase implementation
  CLAUDE.md
  api/README.md
  common/README.md
  dashboard/README.md
  docs/architecture.md
  docs/database-schema.md
  docs/neo4j-indexing.md
  docs/recent-improvements.md
  graphinator/README.md
Due: api, common, dashboard, graphinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Graphinator, Common

docs: fix all service docs to match actual code implementation
  api/README.md
  common/README.md
  dashboard/README.md
  docs/configuration.md
  docs/database-schema.md
  explore/README.md
  extractor/README.md
  graphinator/README.md
  tableinator/Dockerfile
  tableinator/README.md
Due: api, common, dashboard, explore, graphinator, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Extractor, Graphinator, Tableinator, Common

fix(explore): add auth token to snapshot save requests
  explore/static/js/api-client.js
  explore/static/js/app.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

chore: fmt
  api/routers/collection.py
  tests/api/test_gap_queries.py
Due: api, API

chore: update deps
  .pre-commit-config.yaml
  Cargo.lock
  api/Dockerfile
  dashboard/Dockerfile
  docs/dockerfile-standards.md
  explore/Dockerfile
  graphinator/Dockerfile
  schema-init/Dockerfile
  tableinator/Dockerfile
  uv.lock
Due: api, dashboard, explore, graphinator, schema-init, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Graphinator, Schema-Init, Tableinator

test: improve coverage for collection gaps, gap queries, and data normalizer
  tests/api/test_collection.py
  tests/api/test_gap_queries.py
  tests/common/test_data_normalizer.py
Due: none

feat(collection): add gap analysis for labels, artists, and pressings (#96)
  .pre-commit-config.yaml
  CLAUDE.md
  Cargo.lock
  api/Dockerfile
  api/README.md
  api/api.py
  api/queries/gap_queries.py
  api/routers/collection.py
  common/README.md
  common/data_normalizer.py
  dashboard/Dockerfile
  dashboard/README.md
  docs/architecture.md
  docs/configuration.md
  docs/database-schema.md
  docs/dockerfile-standards.md
  docs/neo4j-indexing.md
  docs/recent-improvements.md
  explore/Dockerfile
  explore/README.md
  explore/static/css/styles.css
  explore/static/index.html
  explore/static/js/api-client.js
  explore/static/js/app.js
  explore/static/js/user-panes.js
  extractor/README.md
  graphinator/Dockerfile
  graphinator/README.md
  graphinator/batch_processor.py
  graphinator/graphinator.py
  schema-init/Dockerfile
  tableinator/Dockerfile
  tableinator/README.md
  tests/api/conftest.py
  tests/api/test_collection.py
  tests/api/test_gap_queries.py
  tests/common/test_data_normalizer.py
  tests/graphinator/test_graphinator.py
  uv.lock
Due: api, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

test(extractor): improve test coverage from 79% to 87%
  extractor/src/config.rs
  extractor/src/downloader.rs
  extractor/src/extractor.rs
  extractor/src/health.rs
  extractor/src/message_queue.rs
  extractor/src/parser.rs
  extractor/src/state_marker.rs
Due: extractor, Extractor

chore: update deps
  api/Dockerfile
  dashboard/Dockerfile
  docs/dockerfile-standards.md
  explore/Dockerfile
  graphinator/Dockerfile
  schema-init/Dockerfile
  tableinator/Dockerfile
Due: api, dashboard, explore, graphinator, schema-init, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Graphinator, Schema-Init, Tableinator

docs: remove dead load tests and fix outdated doc references
  README.md
  docs/README.md
  docs/configuration.md
  docs/development.md
  docs/monitoring.md
  docs/monorepo-guide.md
  docs/neo4j-indexing.md
  docs/performance-benchmarks.md
  docs/performance-guide.md
  docs/testing-guide.md
  docs/troubleshooting.md
  pyproject.toml
  tests/load/README.md
  tests/load/locust.conf
  tests/load/locustfile.py
  tests/load/results/.gitignore
  tests/load/results/.gitkeep
  tests/load/scenarios.py
  uv.lock
Due: none

chore: update deps
  uv.lock
Due: none

docs: add graph database alternative investigation docs
  docs/investigations/README.md
  docs/investigations/apache-age.md
  docs/investigations/arangodb.md
  docs/investigations/cloud-benchmark-deployment.md
  docs/investigations/falkordb.md
  docs/investigations/memgraph.md
  docs/investigations/shared-pre-work.md
Due: none

docs: add per-provider provisioning playbooks for all 3 clouds
  docs/investigations/cloud-benchmark-deployment.md
Due: none

docs: add Dockerfile, Docker Compose, and batch processor details to investigation docs
  docs/investigations/arangodb.md
  docs/investigations/cloud-benchmark-deployment.md
  docs/investigations/falkordb.md
Due: none

refactor(rabbitmq): replace topic exchange with per-data-type fanout exchanges
  CLAUDE.md
  common/__init__.py
  common/config.py
  dashboard/static/dashboard.js
  docs/architecture.md
  docs/rabbitmq-fanout-migration-plan.md
  extractor/src/extractor.rs
  extractor/src/message_queue.rs
  extractor/src/message_queue_tests.rs
  extractor/src/types.rs
  extractor/tests/extractor_types_test.rs
  extractor/tests/message_queue_test.rs
  graphinator/graphinator.py
  tableinator/tableinator.py
  tests/tableinator/test_tableinator.py
  tests/test_file_completion.py
  tests/test_integration.py
Due: common, dashboard, graphinator, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard, Extractor, Graphinator, Tableinator, Common

docs: update consumer-cancellation and file-completion-tracking for fanout exchanges
  docs/consumer-cancellation.md
  docs/file-completion-tracking.md
Due: none

test: add coverage for fanout exchange recovery and make_data_handler
  tests/graphinator/test_graphinator.py
  tests/tableinator/test_tableinator.py
Due: none

refactor(rabbitmq): replace topic exchange with per-data-type fanout exchanges (#105)
  CLAUDE.md
  common/__init__.py
  common/config.py
  dashboard/static/dashboard.js
  docs/architecture.md
  docs/consumer-cancellation.md
  docs/file-completion-tracking.md
  docs/rabbitmq-fanout-migration-plan.md
  extractor/src/extractor.rs
  extractor/src/message_queue.rs
  extractor/src/message_queue_tests.rs
  extractor/src/types.rs
  extractor/tests/extractor_types_test.rs
  extractor/tests/message_queue_test.rs
  graphinator/graphinator.py
  tableinator/tableinator.py
  tests/graphinator/test_graphinator.py
  tests/tableinator/test_tableinator.py
  tests/test_file_completion.py
  tests/test_integration.py
Due: common, dashboard, graphinator, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard, Extractor, Graphinator, Tableinator, Common

fix: ensure database count parity with post-extraction cleanup
  extractor/src/extractor.rs
  extractor/src/message_queue.rs
  extractor/src/types.rs
  graphinator/graphinator.py
  schema-init/postgres_schema.py
  tableinator/batch_processor.py
  tableinator/tableinator.py
  tests/graphinator/test_graphinator.py
  tests/tableinator/test_tableinator.py
Due: graphinator, schema-init, tableinator, extractor, Extractor, Graphinator, Schema-Init, Tableinator

fix(schema): add updated_at index to entity tables for stale row purge
  schema-init/postgres_schema.py
Due: schema-init, Schema-Init

docs: update docs for extraction_complete signal and post-extraction cleanup
  docs/README.md
  docs/architecture.md
  docs/consumer-cancellation.md
  docs/database-schema.md
  docs/file-completion-tracking.md
  docs/rabbitmq-fanout-migration-plan.md
  docs/recent-improvements.md
Due: none

fix: always update updated_at on upsert for correct stale row purge
  tableinator/tableinator.py
Due: tableinator, Tableinator

fix: refresh updated_at for unchanged rows to prevent incorrect purge
  tableinator/batch_processor.py
Due: tableinator, Tableinator

perf: use CASE expressions to skip JSONB rewrite for unchanged rows
  tableinator/tableinator.py
Due: tableinator, Tableinator

docs: clarify updated_at refresh vs hash-guarded data rewrite
  docs/architecture.md
  docs/database-schema.md
  docs/recent-improvements.md
Due: none

fix: add nosemgrep comments and update schema-init test expectations
  tableinator/batch_processor.py
  tableinator/tableinator.py
  tests/schema-init/test_postgres_schema.py
Due: tableinator, Tableinator

fix: remove redundant ALTER TABLE migration for updated_at column
  schema-init/postgres_schema.py
  tests/schema-init/test_postgres_schema.py
Due: schema-init, Schema-Init

fix(ci): lower E2E coverage thresholds to match actual blended percentage
  .github/workflows/e2e-test.yml
Due: none

fix: ensure database count parity with post-extraction cleanup (#106)
  .github/workflows/e2e-test.yml
  docs/README.md
  docs/architecture.md
  docs/consumer-cancellation.md
  docs/database-schema.md
  docs/file-completion-tracking.md
  docs/rabbitmq-fanout-migration-plan.md
  docs/recent-improvements.md
  extractor/src/extractor.rs
  extractor/src/message_queue.rs
  extractor/src/types.rs
  graphinator/graphinator.py
  schema-init/postgres_schema.py
  tableinator/batch_processor.py
  tableinator/tableinator.py
  tests/graphinator/test_graphinator.py
  tests/schema-init/test_postgres_schema.py
  tests/tableinator/test_tableinator.py
Due: graphinator, schema-init, tableinator, extractor, Extractor, Graphinator, Schema-Init, Tableinator

docs: update dataset stats with real production numbers and refresh dates
  README.md
  api/README.md
  docs/architecture.md
  docs/configuration.md
  docs/contributing.md
  docs/database-schema.md
  docs/development.md
  docs/docker-security.md
  docs/logging-guide.md
  docs/maintenance.md
  docs/monitoring.md
  docs/performance-guide.md
  docs/quick-start.md
  docs/recent-improvements.md
  docs/task-automation.md
  docs/troubleshooting.md
  docs/usage-examples.md
  explore/README.md
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

docs(investigations): update benchmark plan with synthetic data, Hetzner-only, and corrected architecture
  docs/investigations/README.md
  docs/investigations/apache-age.md
  docs/investigations/arangodb.md
  docs/investigations/cloud-benchmark-deployment.md
  docs/investigations/falkordb.md
  docs/investigations/memgraph.md
  docs/investigations/shared-pre-work.md
Due: none

docs(investigations): calibrate synthetic data from production Neo4j metrics
  docs/investigations/cloud-benchmark-deployment.md
  docs/investigations/shared-pre-work.md
Due: none

docs(investigations): add hardware calibration script for scaling benchmark results
  docs/investigations/README.md
  docs/investigations/apache-age.md
  docs/investigations/arangodb.md
  docs/investigations/calibration/__init__.py
  docs/investigations/calibration/calibrate.py
  docs/investigations/cloud-benchmark-deployment.md
  docs/investigations/falkordb.md
  docs/investigations/memgraph.md
  docs/investigations/shared-pre-work.md
  pyproject.toml
Due: none

refactor(investigations): merge run-all.sh into run.sh with --cloud flag
  investigations/README.md
  investigations/infra/README.md
  investigations/infra/scripts/run-all.sh
  investigations/run.sh
Due: none

feat(investigations): run and collect hardware calibration on all hosts
  investigations/infra/playbooks/collect-results.yml
  investigations/infra/playbooks/run-benchmarks.yml
Due: none

feat(investigations): switch to Debian 13, harden network, add interactive user
  investigations/infra/README.md
  investigations/infra/playbooks/provision.yml
  investigations/infra/playbooks/setup-common.yml
  investigations/infra/playbooks/teardown.yml
Due: none

refactor(investigations): make benchmarks non-blocking with fetch-results
  investigations/infra/README.md
  investigations/infra/playbooks/collect-results.yml
  investigations/infra/playbooks/fetch-results.yml
  investigations/infra/playbooks/run-benchmarks.yml
  investigations/infra/templates/run-benchmarks.sh.j2
  investigations/run.sh
Due: none

docs(investigations): fix shared-pre-work.md link display text
  investigations/README.md
Due: none
