Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

codecov.yml:

---
# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status checks on pull requests
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% drop
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

# PR comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag configuration for different coverage types
flags:
  api:
    paths:
      - "api/**"
    carryforward: true
  curator:
    paths:
      - "curator/**"
    carryforward: true
  common:
    paths:
      - "common/**"
    carryforward: true
  dashboard:
    paths:
      - "dashboard/**"
    carryforward: true
  explore:
    paths:
      - "explore/**"
    carryforward: true
  graphinator:
    paths:
      - "graphinator/**"
    carryforward: true
  schema-init:
    paths:
      - "schema-init/**"
    carryforward: true
  tableinator:
    paths:
      - "tableinator/**"
    carryforward: true
  extractor:
    paths:
      - "extractor/**"
    carryforward: true
  e2e-chromium:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-firefox:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-webkit:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-iphone-15:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-ipad-pro-11:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false

# Component configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API
      paths:
        - "api/**"
    - component_id: curator
      name: Curator
      paths:
        - "curator/**"
    - component_id: dashboard
      name: Dashboard
      paths:
        - "dashboard/**"
    - component_id: explore
      name: Explore
      paths:
        - "explore/**"
    - component_id: extractor
      name: Extractor
      paths:
        - "extractor/**"
    - component_id: graphinator
      name: Graphinator
      paths:
        - "graphinator/**"
    - component_id: schema-init
      name: Schema-Init
      paths:
        - "schema-init/**"
    - component_id: tableinator
      name: Tableinator
      paths:
        - "tableinator/**"
    - component_id: common
      name: Common
      paths:
        - "common/**"

# Ignore patterns
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/node_modules/**"
  - "**/.venv/**"
  - "**/venv/**"
  - "**/*.pyc"
  # Removed modules - carried-forward reports reference these old paths
  - "discovery/**"
  - "extractor/pyextractor/**"
  - "extractor/rustextractor/**"

# Parsers configuration - disable unused parsers to prevent warnings
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  v1:
    include_full_missed_files: false

# CLI behavior configuration
cli:
  # Disable automatic search for coverage.py to prevent warnings
  # We explicitly provide coverage files in the GitHub Actions workflow
  runners:
    use:
      - python
      - rust

# Integrations
slack_app: false

fix: update compose validation for dashboard api dependency + upgrade requests
  .github/workflows/docker-compose-validate.yml
  uv.lock
Due: none

chore: update deps
  explore/package-lock.json
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

test(dashboard): comprehensive admin proxy coverage
  tests/dashboard/test_admin_proxy.py
Due: none

docs: update architecture, config, monitoring, schema, and quick-start for admin dashboard
  README.md
  docs/README.md
  docs/architecture.md
  docs/configuration.md
  docs/database-schema.md
  docs/monitoring.md
  docs/quick-start.md
Due: none

feat(admin): add Pydantic models for Phase 2 endpoints (#137)
  api/models.py
  tests/api/test_api_models.py
Due: api, API

feat(admin): add get_user_stats query function (#137)
  api/queries/admin_queries.py
  tests/api/test_admin_queries.py
Due: api, API

feat(admin): add get_sync_activity query function (#137)
  api/queries/admin_queries.py
  tests/api/test_admin_queries.py
Due: api, API

feat(admin): add storage query functions for Neo4j, PostgreSQL, Redis (#137)
  api/queries/admin_queries.py
  tests/api/test_admin_queries.py
Due: api, API

feat(admin): add user stats, sync activity, and storage endpoints (#137)
  api/api.py
  api/routers/admin.py
  tests/api/conftest.py
  tests/api/test_admin_endpoints.py
Due: api, API

feat(admin): add dashboard proxy routes for Phase 2 endpoints (#137)
  dashboard/admin_proxy.py
  tests/dashboard/test_admin_proxy.py
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

feat(admin): add User Activity and Storage Utilization panels (#137)
  dashboard/static/admin.html
  dashboard/static/admin.js
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

test(admin): improve coverage for Phase 2 endpoints (#137)
  tests/api/test_admin_endpoints.py
  tests/api/test_admin_queries.py
Due: none

feat: Admin Dashboard Phase 2 — user activity and storage utilization (#137) (#199)
  api/api.py
  api/models.py
  api/queries/admin_queries.py
  api/routers/admin.py
  dashboard/admin_proxy.py
  dashboard/static/admin.html
  dashboard/static/admin.js
  tests/api/conftest.py
  tests/api/test_admin_endpoints.py
  tests/api/test_admin_queries.py
  tests/api/test_api_models.py
  tests/dashboard/test_admin_proxy.py
Due: api, dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard

feat(schema): add queue_metrics and service_health_metrics tables (#138)
  schema-init/postgres_schema.py
  tests/schema-init/test_metrics_schema.py
Due: schema-init, Schema-Init

feat(config): add metrics retention and collection interval settings (#138)
  common/config.py
  tests/common/test_metrics_config.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

feat(api): add metrics collector with buffer, collection, persistence (#138)
  api/metrics_collector.py
  tests/api/test_metrics_collector.py
Due: api, API

feat(api): add metrics response models and time-series query functions (#138)
  api/models.py
  api/queries/metrics_queries.py
  pyproject.toml
  tests/api/test_metrics_models.py
  tests/api/test_metrics_queries.py
Due: api, API

chore: add anthropic and sse-starlette dependencies for NLQ (#203)
  pyproject.toml
  uv.lock
Due: none

feat(schema): add insights.release_rarity table and indexes (#205)
  schema-init/postgres_schema.py
  tests/schema-init/test_release_rarity_schema.py
Due: schema-init, Schema-Init

feat(api): add queue/health history endpoints and metrics lifespan (#138)
  api/api.py
  api/routers/admin.py
  tests/api/test_admin_endpoints.py
Due: api, API

feat(nlq): add NLQ configuration with env var loading (#203)
  api/nlq/__init__.py
  api/nlq/config.py
  tests/api/nlq/__init__.py
  tests/api/nlq/test_config.py
Due: api, API

feat(models): add rarity response models (#205)
  api/models.py
  tests/api/test_rarity_models.py
Due: api, API

feat(dashboard): add queue and health history proxy routes (#138)
  dashboard/admin_proxy.py
  tests/dashboard/test_admin_proxy.py
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

feat(queries): add rarity scoring engine with 5-signal model (#205)
  api/queries/rarity_queries.py
  tests/api/test_rarity_queries.py
Due: api, API

feat(nlq): add tool definitions and NLQToolRunner for Claude tool-use API (#203)
  api/nlq/tools.py
  tests/api/nlq/conftest.py
  tests/api/nlq/test_tools.py
Due: api, API

test: add missing artist/label rarity query tests (#205)
  tests/api/test_rarity_queries.py
Due: none

feat(dashboard): add Queue Trends and System Health frontend (#138)
  dashboard/static/admin.html
  dashboard/static/admin.js
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

feat(nlq): add NLQ engine with Claude tool-use loop orchestration (#203)
  api/nlq/engine.py
  tests/api/nlq/test_engine.py
Due: api, API

feat(api): add rarity scoring endpoints (#205)
  api/api.py
  api/routers/rarity.py
  tests/api/conftest.py
  tests/api/test_rarity.py
Due: api, API

docs: update admin guide with Phase 3 endpoints and config (#138)
  docs/admin-guide.md
Due: none

feat(insights): add rarity score computation pipeline (#205)
  api/routers/insights_compute.py
  insights/computations.py
  tests/insights/test_computations.py
  tests/insights/test_rarity_computation.py
Due: api, API

feat(nlq): add NLQ router with status and query endpoints (#203)
  api/api.py
  api/routers/nlq.py
  tests/api/conftest.py
  tests/api/nlq/test_nlq_router.py
Due: api, API

fix: pressing count bug, O(N^2) perf, dead code, test fragility (#205)
  api/queries/rarity_queries.py
  api/routers/rarity.py
  tests/api/test_rarity_queries.py
Due: api, API

feat(mcp): add nlq_query tool for natural language graph queries (#203)
  mcp-server/mcp_server/server.py
  tests/mcp-server/test_nlq_tool.py
Due: none

fix(api): fix column name mismatch, endpoint_stats parsing, and prune SQL (#138)
  api/metrics_collector.py
  api/queries/metrics_queries.py
  docs/admin-guide.md
  tests/api/test_metrics_queries.py
Due: api, API

feat(explore): add NLQ Ask pane with SSE streaming and entity linking (#203)
  explore/__tests__/app.test.js
  explore/__tests__/nlq.test.js
  explore/__tests__/path-finder.test.js
  explore/static/index.html
  explore/static/js/api-client.js
  explore/static/js/app.js
  explore/static/js/nlq.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

chore: add NLQ environment variables to docker-compose (#203)
  docker-compose.yml
Due: none

test(nlq): improve test coverage for tools and router (#203)
  tests/api/nlq/test_nlq_router.py
  tests/api/nlq/test_tools.py
Due: none

test: cover missing lines flagged by Codecov (#205)
  tests/api/test_insights_compute.py
  tests/api/test_rarity.py
  tests/api/test_rarity_queries.py
Due: none
