Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

chore: update dependencies
  Cargo.lock
  api/Dockerfile
  brainzgraphinator/Dockerfile
  brainztableinator/Dockerfile
  dashboard/Dockerfile
  docs/dockerfile-standards.md
  explore/Dockerfile
  explore/package-lock.json
  explore/package.json
  graphinator/Dockerfile
  insights/Dockerfile
  schema-init/Dockerfile
  tableinator/Dockerfile
  uv.lock
Due: api, dashboard, explore, graphinator, schema-init, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Graphinator, Schema-Init, Tableinator

docs(digger): reconcile M1 schema-layer plan (Tasks 1-4) to async psycopg + repo conventions
  docs/superpowers/plans/2026-05-14-digger-m1-foundation.md
Due: none

feat(digger): add digger Postgres schema, enums, and tables
  schema-init/digger_schema.py
  tests/schema-init/test_digger_schema.py
Due: schema-init, Schema-Init

feat(digger): apply digger schema during schema-init startup
  schema-init/postgres_schema.py
  tests/schema-init/test_digger_schema_integration.py
  tests/schema-init/test_postgres_schema.py
Due: schema-init, Schema-Init

feat(digger): trigger to maintain max-tier on release_scrape_state
  schema-init/digger_schema.py
  tests/schema-init/test_digger_priority_trigger.py
Due: schema-init, Schema-Init

fix(digger): address schema-layer review feedback
  schema-init/digger_schema.py
  tests/schema-init/test_digger_priority_trigger.py
  tests/schema-init/test_digger_schema_integration.py
  tests/schema-init/test_postgres_schema.py
Due: schema-init, Schema-Init

feat(digger): seed default priority rows during wantlist sync
  api/syncer.py
  tests/api/test_syncer_digger_hook.py
Due: api, API

docs(digger): revise Task 4 to batch seeding + isolate seed failures
  docs/superpowers/plans/2026-05-14-digger-m1-foundation.md
Due: none

fix(digger): batch wantlist priority seeding and isolate seed failures
  api/syncer.py
  tests/api/test_syncer.py
  tests/api/test_syncer_digger_hook.py
Due: api, API

docs(digger): document intentional no-FK between priorities and scrape_state
  schema-init/digger_schema.py
Due: schema-init, Schema-Init

docs(digger): add verified scraper-layer conventions for Tasks 5-16
  docs/superpowers/plans/2026-05-14-digger-m1-foundation.md
Due: none

feat(digger): scaffold worker service (pyproject, Dockerfile, main, DiggerConfig)
  common/__init__.py
  common/config.py
  common/pyproject.toml
  digger/Dockerfile
  digger/README.md
  digger/digger/__init__.py
  digger/digger/main.py
  digger/digger/py.typed
  digger/pyproject.toml
  pyproject.toml
  tests/digger/__init__.py
  tests/digger/test_config.py
  uv.lock
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

feat(digger): health + Prometheus metrics on :8012
  common/health_server.py
  digger/digger/health.py
  digger/digger/metrics.py
  tests/common/test_health_server.py
  tests/digger/test_health.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

fix(digger): flat package layout + review fixes (mypy, signal, config)
  common/config.py
  digger/Dockerfile
  digger/__init__.py
  digger/digger/py.typed
  digger/health.py
  digger/main.py
  digger/metrics.py
  digger/py.typed
  digger/pyproject.toml
  justfile
  pyproject.toml
  tests/common/test_health_server.py
  tests/digger/test_config.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

docs(digger): note flat package layout in scraper conventions
  docs/superpowers/plans/2026-05-14-digger-m1-foundation.md
Due: none

feat(digger): Redis token-bucket rate budget via WATCH/MULTI/EXEC
  digger/scraper/__init__.py
  digger/scraper/rate_budget.py
  pyproject.toml
  tests/digger/conftest.py
  tests/digger/test_rate_budget.py
  uv.lock
Due: none

feat(digger): global circuit breaker for scrape failures
  digger/scraper/circuit_breaker.py
  tests/digger/test_circuit_breaker.py
Due: none

feat(digger): SSRF-safe httpx client with discogs.com allow-list
  digger/scraper/http_client.py
  tests/digger/test_http_client.py
Due: none

fix(digger): circuit-breaker cooldown, redirect safety, test cleanup
  digger/scraper/circuit_breaker.py
  digger/scraper/http_client.py
  tests/digger/test_http_client.py
  tests/digger/test_rate_budget.py
Due: none

chore(update-script): add floor-sync, cap-flag, and Docker review
  scripts/update-project.sh
Due: none

ci: SHA-pin all GitHub Actions with version comments
  .github/actions/docker-build-cache/action.yml
  .github/actions/setup-python-uv/action.yml
  .github/workflows/build.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/cleanup-images.yml
  .github/workflows/code-quality.yml
  .github/workflows/docker-compose-validate.yml
  .github/workflows/docker-validate.yml
  .github/workflows/e2e-test.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .github/workflows/update-dependencies.yml
Due: none

feat(digger): selectolax-based listing-page parser with bleach sanitization
  digger/scraper/listing_parser.py
  digger/scraper/types.py
  pyproject.toml
  tests/digger/fixtures/README.md
  tests/digger/fixtures/listing_page_basic.html
  tests/digger/test_listing_parser.py
  uv.lock
Due: none

feat(digger): seller-profile parser extracting shipping policy
  digger/scraper/seller_parser.py
  tests/digger/fixtures/seller_page_basic.html
  tests/digger/test_seller_parser.py
Due: none

chore: update-project.sh ⇄ phaze parity (floor-sync, cap-flag, full action SHA-pinning) (#338)
  .github/actions/docker-build-cache/action.yml
  .github/actions/setup-python-uv/action.yml
  .github/workflows/build.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/cleanup-images.yml
  .github/workflows/code-quality.yml
  .github/workflows/docker-compose-validate.yml
  .github/workflows/docker-validate.yml
  .github/workflows/e2e-test.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .github/workflows/update-dependencies.yml
  scripts/update-project.sh
Due: none

fix(digger): seller parser hardening + locale-safe price parsing
  digger/scraper/_textutil.py
  digger/scraper/listing_parser.py
  digger/scraper/seller_parser.py
  tests/digger/test_listing_parser.py
  tests/digger/test_seller_parser.py
Due: none

feat(digger): scrape executor with upsert + soft-delete for vanished listings
  digger/scraper/executor.py
  tests/digger/test_executor.py
Due: none

feat(digger): queue runner with priority-tier ordering and SKIP LOCKED
  digger/scraper/queue_runner.py
  tests/digger/test_queue_runner.py
Due: none

feat(digger): adaptive throttle for next_scrape_due_at
  digger/scraper/state_recomputer.py
  tests/digger/test_state_recomputer.py
Due: none

feat(digger): exponential backoff per release on scrape failure
  digger/scraper/backoff.py
  tests/digger/test_backoff.py
Due: none

feat(digger): orchestrator wiring scraper, state recomputer, and health
  digger/main.py
  digger/scraper/orchestrator.py
  tests/digger/test_orchestrator.py
Due: none

fix(digger): set next_scrape_due_at on scrape; guard state recompute
  digger/scraper/backoff.py
  digger/scraper/executor.py
  digger/scraper/queue_runner.py
  digger/scraper/state_recomputer.py
  tests/digger/test_executor.py
  tests/digger/test_orchestrator.py
  tests/digger/test_state_recomputer.py
Due: none

feat(digger): M1 schema layer — Postgres schema, priority trigger, wantlist seed hook (#337)
  api/syncer.py
  docs/superpowers/plans/2026-05-14-digger-m1-foundation.md
  schema-init/digger_schema.py
  schema-init/postgres_schema.py
  tests/api/test_syncer.py
  tests/api/test_syncer_digger_hook.py
  tests/schema-init/test_digger_priority_trigger.py
  tests/schema-init/test_digger_schema.py
  tests/schema-init/test_digger_schema_integration.py
  tests/schema-init/test_postgres_schema.py
Due: api, schema-init, API, Schema-Init

test(digger): cover DiggerConfig + add digger CI coverage job
  .coveragerc.digger
  .github/workflows/test.yml
  justfile
  tests/common/test_config.py
  tests/digger/test_config.py
  tests/digger/test_main.py
Due: none

test(digger): cover scraper error/edge branches
  tests/digger/test_circuit_breaker.py
  tests/digger/test_executor.py
  tests/digger/test_http_client.py
  tests/digger/test_listing_parser.py
  tests/digger/test_orchestrator.py
  tests/digger/test_rate_budget.py
  tests/digger/test_seller_parser.py
  tests/digger/test_textutil.py
Due: none

fix(tests): use a genuinely unknown path in health-server 404 test
  tests/test_health_server.py
Due: none

fix(tests): use a genuinely unknown path in health-server 404 test (#340)
  tests/test_health_server.py
Due: none

chore: update deps
  .github/actions/setup-python-uv/action.yml
  api/pyproject.toml
  brainzgraphinator/pyproject.toml
  brainztableinator/pyproject.toml
  common/pyproject.toml
  dashboard/pyproject.toml
  digger/pyproject.toml
  explore/package-lock.json
  explore/pyproject.toml
  graphinator/pyproject.toml
  mcp-server/pyproject.toml
  pyproject.toml
  schema-init/pyproject.toml
  tableinator/pyproject.toml
  uv.lock
Due: api, common, dashboard, explore, graphinator, schema-init, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Graphinator, Schema-Init, Tableinator, Common

feat(digger): api query helpers for settings + wantlist priorities
  api/queries/digger_queries.py
  tests/api/test_digger_queries.py
Due: api, API

feat(digger): /api/digger settings + wantlist endpoints
  api/api.py
  api/models.py
  api/routers/digger.py
  tests/api/conftest.py
  tests/api/test_digger_router.py
Due: api, API

Path conditions:
  api: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  schema-init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-chromium: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-firefox: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-webkit: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-iphone-15: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-ipad-pro-11: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  API: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Schema-Init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
