Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

test: cover SQL profiling error-swallowing paths in query_debug
  tests/common/test_query_debug.py
Due: none

feat: expand query profiling to SQL and perftest endpoint coverage (#174)
  api/queries/helpers.py
  common/__init__.py
  common/config.py
  common/query_debug.py
  docs/superpowers/specs/2026-03-19-query-debug-profiling-design.md
  tests/api/test_query_helpers.py
  tests/common/test_query_debug.py
  tests/perftest/README.md
  tests/perftest/run_perftest.py
Due: api, common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Common

fix: use correct key 'id' for autocomplete result in perftest
  tests/perftest/run_perftest.py
Due: none

perf: optimize 6 slowest Cypher queries for 10-100x fewer DB hits
  api/queries/insights_neo4j_queries.py
  api/queries/neo4j_queries.py
  api/routers/explore.py
  schema-init/neo4j_schema.py
  tests/schema-init/test_neo4j_schema.py
Due: api, schema-init, API, Schema-Init

perf: optimize 6 slowest Cypher queries for 10-100x fewer DB hits (#175)
  api/queries/insights_neo4j_queries.py
  api/queries/neo4j_queries.py
  api/routers/explore.py
  schema-init/neo4j_schema.py
  tests/schema-init/test_neo4j_schema.py
Due: api, schema-init, API, Schema-Init

test: add coverage for score normalization and clickable recommendation links
  explore/__tests__/user-panes.test.js
  tests/api/test_user.py
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

perf: optimize 7 Cypher queries — eliminate CartesianProduct, N+1, and triple traversals
  api/queries/label_dna_queries.py
  api/queries/neo4j_queries.py
  api/queries/recommend_queries.py
Due: api, API

test: add coverage for batch artist profile queries
  tests/api/test_recommend_queries.py
Due: none

perf: optimize 7 Cypher queries for 5-100x fewer DB hits (#176)
  api/queries/label_dna_queries.py
  api/queries/neo4j_queries.py
  api/queries/recommend_queries.py
  tests/api/test_recommend_queries.py
Due: api, API

docs: comprehensive doc review — fix stale endpoints, defaults, and test structure
  docs/README.md
  docs/architecture.md
  docs/configuration.md
  docs/performance-guide.md
  docs/recent-improvements.md
  docs/testing-guide.md
Due: none

docs: add perftest requirement for new database-querying endpoints
  CLAUDE.md
Due: none

perf: optimize 4 slow Cypher queries and add index listing to perftest
  api/queries/label_dna_queries.py
  api/queries/neo4j_queries.py
  api/queries/recommend_queries.py
  tests/perftest/Dockerfile
  tests/perftest/config.yaml
  tests/perftest/run_perftest.py
Due: api, API

docs: add clean-logs step to perftest README
  tests/perftest/README.md
Due: none

chore: update deps
  Cargo.lock
  explore/package-lock.json
  explore/package.json
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

test: add coverage for two-phase label similarity query
  tests/api/test_label_dna_queries.py
Due: none

perf: optimize 4 slow Cypher queries and add index listing to perftest (#177)
  Cargo.lock
  api/queries/label_dna_queries.py
  api/queries/neo4j_queries.py
  api/queries/recommend_queries.py
  explore/package-lock.json
  explore/package.json
  tests/api/test_label_dna_queries.py
  tests/perftest/Dockerfile
  tests/perftest/README.md
  tests/perftest/config.yaml
  tests/perftest/run_perftest.py
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

fix: handle NULL artist names in similar artist recommendations
  api/queries/recommend_queries.py
  tests/api/test_recommend_queries.py
Due: api, API

perf: optimize 6 Cypher queries for 2-13x fewer DB hits
  api/queries/label_dna_queries.py
  api/queries/neo4j_queries.py
  api/queries/recommend_queries.py
Due: api, API

fix: handle NULL artist names in similar artist recommendations (#178)
  api/queries/recommend_queries.py
  tests/api/test_recommend_queries.py
Due: api, API

perf: optimize 6 Cypher queries for 2-13x fewer DB hits (#179)
  api/queries/neo4j_queries.py
Due: api, API

fix: preserve upstream HTTP status codes in insights proxy
  api/queries/neo4j_queries.py
  api/routers/insights.py
  tests/api/test_insights_proxy.py
Due: api, API

perf: optimize 3 similarity queries with per-genre CALL {} barriers
  api/queries/label_dna_queries.py
  api/queries/recommend_queries.py
  docs/superpowers/plans/2026-03-21-query-perf-opt-v5.md
Due: api, API

perf: optimize 3 similarity queries with per-genre CALL {} barriers (#180)
  api/queries/label_dna_queries.py
  api/queries/recommend_queries.py
  docs/superpowers/plans/2026-03-21-query-perf-opt-v5.md
Due: api, API

fix: resolve Discover tab scrolling, score display, and item linking (#170)
  api/routers/user.py
  explore/__tests__/user-panes.test.js
  explore/static/css/styles.css
  explore/static/js/user-panes.js
  tests/api/test_user.py
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

perf: optimize 4 query families for fewer DB hits and less memory
  api/queries/label_dna_queries.py
  api/queries/neo4j_queries.py
  graphinator/graphinator.py
  schema-init/neo4j_schema.py
  tests/api/test_label_dna_queries.py
  tests/api/test_neo4j_queries.py
  tests/schema-init/test_neo4j_schema.py
Due: api, graphinator, schema-init, API, Graphinator, Schema-Init

test: add coverage for compute_first_years and its call site
  tests/graphinator/test_graphinator.py
Due: none

perf: optimize 4 query families for fewer DB hits and less memory (#181)
  api/queries/label_dna_queries.py
  api/queries/neo4j_queries.py
  graphinator/graphinator.py
  schema-init/neo4j_schema.py
  tests/api/test_label_dna_queries.py
  tests/api/test_neo4j_queries.py
  tests/graphinator/test_graphinator.py
  tests/schema-init/test_neo4j_schema.py
Due: api, graphinator, schema-init, API, Graphinator, Schema-Init

fix: pass required genre param to insights/genre-trends perftest
  tests/perftest/run_perftest.py
Due: none

fix: pass required genre param to insights/genre-trends perftest (#183)
  tests/perftest/run_perftest.py
Due: none

perf: optimize 7 query families with pre-computed stats, style-based similarity, and caching
  api/api.py
  api/queries/label_dna_queries.py
  api/queries/neo4j_queries.py
  api/queries/search_queries.py
  api/routers/explore.py
  api/routers/label_dna.py
  graphinator/graphinator.py
  tests/api/test_label_dna_queries.py
  tests/graphinator/test_graphinator.py
Due: api, graphinator, API, Graphinator

test: add coverage for Redis caching, search per-table LIMIT, and fix transaction timeout
  graphinator/graphinator.py
  tests/api/conftest.py
  tests/api/test_explore.py
  tests/api/test_label_dna.py
  tests/api/test_search.py
  tests/graphinator/test_graphinator.py
Due: graphinator, Graphinator

fix: use CALL {} IN TRANSACTIONS for genre/style stats to avoid timeout
  graphinator/graphinator.py
  tests/graphinator/test_graphinator.py
Due: graphinator, Graphinator

fix: remove RETURN from CALL {} IN TRANSACTIONS (Neo4j requires write-only)
  graphinator/graphinator.py
  tests/graphinator/test_graphinator.py
Due: graphinator, Graphinator

test: add missing cache exception handler tests for 100% label_dna coverage
  tests/api/test_label_dna.py
Due: none

test: cover _run_results per_table_limit for 100% patch coverage
  tests/api/test_search.py
Due: none

ci: skip heavy jobs when only markdown files change
  .github/workflows/build.yml
Due: none

perf: optimize 7 query families with pre-computed stats, style-based similarity, and caching (#184)
  api/api.py
  api/queries/label_dna_queries.py
  api/queries/neo4j_queries.py
  api/queries/search_queries.py
  api/routers/explore.py
  api/routers/label_dna.py
  graphinator/graphinator.py
  tests/api/conftest.py
  tests/api/test_explore.py
  tests/api/test_label_dna.py
  tests/api/test_label_dna_queries.py
  tests/api/test_search.py
  tests/graphinator/test_graphinator.py
Due: api, graphinator, API, Graphinator

ci: skip heavy jobs when only markdown files change (#185)
  .github/workflows/build.yml
Due: none

fix: address code review findings for collaborators and genre tree
  api/routers/explore.py
  explore/static/js/collaborators.js
  tests/explore/test_collaborators_api.py
  tests/explore/test_genre_tree_api.py
  tests/perftest/run_perftest.py
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

perf: optimize 6 query families — genre-emergence, artist-similar, label-dna, search, and data-completeness
  api/api.py
  api/queries/label_dna_queries.py
  api/queries/neo4j_queries.py
  api/queries/recommend_queries.py
  api/queries/search_queries.py
  api/routers/insights_compute.py
  api/routers/label_dna.py
  tests/api/test_label_dna.py
Due: api, API

Path conditions:
  api: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  schema-init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-chromium: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-firefox: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-webkit: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-iphone-15: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-ipad-pro-11: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  API: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Schema-Init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
