Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

feat(explore): add auth UI, user panes, and E2E tests
  explore/static/css/styles.css
  explore/static/index.html
  explore/static/js/api-client.js
  explore/static/js/app.js
  explore/static/js/auth.js
  explore/static/js/user-panes.js
  tests/explore/explore_test_app.py
  tests/explore/test_explore_auth_ui.py
  tests/explore/test_explore_ui.py
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix(ci): resolve three CI failures from latest build
  .github/workflows/docker-compose-validate.yml
  dashboard/static/index.html
  explore/static/js/app.js
  explore/static/js/user-panes.js
  extractor/src/downloader.rs
  extractor/tests/http_integration_test.rs
Due: dashboard, explore, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard, Explore, Extractor

chore(dashboard): remove orphaned styles.css
  dashboard/static/styles.css
  tests/dashboard/dashboard_test_app.py
  tests/dashboard/test_dashboard_api.py
  tests/dashboard/test_dashboard_api_integration.py
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

fix(explore): add httpx to explore extra in root pyproject.toml
  pyproject.toml
Due: none

chore: update deps
  Cargo.lock
  uv.lock
Due: none

fix(api,explore): add discogs-setup script and harden autocomplete timeout
  api/Dockerfile
  api/routers/explore.py
  explore/explore.py
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

fix(tests): update autocomplete tests for min_length=3 threshold
  tests/api/test_explore.py
Due: none

fix(api): handle empty token in decrypt_oauth_token
  api/auth.py
Due: api, API

perf(api,explore,schema): optimize Neo4j queries and add missing indexes
  api/queries/neo4j_queries.py
  explore/explore.py
  schema-init/neo4j_schema.py
Due: api, explore, schema-init, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore, Schema-Init

perf(postgres): optimize queries, indexes, and batch writes
  api/api.py
  api/syncer.py
  curator/syncer.py
  schema-init/postgres_schema.py
  tests/api/test_api.py
  tests/schema-init/test_postgres_schema.py
Due: api, curator, schema-init, API, Curator, Schema-Init

refactor: consolidate shared OAuth, auth, and dependency code
  api/api.py
  api/auth.py
  api/dependencies.py
  api/routers/explore.py
  api/routers/sync.py
  api/routers/user.py
  api/services/discogs.py
  api/syncer.py
  common/__init__.py
  common/oauth.py
  curator/syncer.py
  tests/api/test_api.py
  tests/api/test_explore.py
  tests/api/test_sync.py
  tests/api/test_user.py
  tests/curator/test_curator_syncer.py
Due: api, curator, common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Common

docs: update docs to reflect recent architectural changes
  README.md
  curator/README.md
  docs/README.md
  docs/architecture.md
  docs/configuration.md
  docs/recent-improvements.md
  explore/README.md
Due: curator, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Curator, Explore

fix(tests): update tests to reflect OAuth/auth consolidation refactor
  tests/api/test_discogs_service.py
  tests/explore/test_explore_api.py
  tests/schema-init/test_neo4j_schema.py
Due: none

test(explore): achieve 100% coverage for explore/explore.py
  explore/explore.py
  tests/explore/test_explore_api.py
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

chore: update Cargo.lock (aws-lc-rs, aws-lc-sys, erased-serde bumps)
  Cargo.lock
Due: none

perf(graphinator): denormalise Release.year to eliminate DERIVED_FROM join
  api/queries/neo4j_queries.py
  common/data_normalizer.py
  graphinator/batch_processor.py
  tests/common/test_data_normalizer.py
  tests/graphinator/test_batch_processor.py
Due: api, common, graphinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Graphinator, Common

perf(graphinator): denormalise Release.year to eliminate DERIVED_FROM join (#93)
  api/queries/neo4j_queries.py
  common/data_normalizer.py
  graphinator/batch_processor.py
  tests/common/test_data_normalizer.py
  tests/graphinator/test_batch_processor.py
Due: api, common, graphinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Graphinator, Common

perf(graphinator): store Master.year as integer to eliminate type coercion
  common/data_normalizer.py
  graphinator/graphinator.py
  scripts/migrate-master-year-to-int.sh
  tests/common/test_data_normalizer.py
Due: common, graphinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Graphinator, Common

refactor(common): rename _extract_year_from_released → _parse_year_int
  common/data_normalizer.py
  graphinator/graphinator.py
  tests/common/test_data_normalizer.py
Due: common, graphinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Graphinator, Common

fix(scripts): use valueType() to verify integer type in migration script
  scripts/migrate-master-year-to-int.sh
Due: none

fix(ci): eliminate security.yml:* category mismatch in code scanning
  .github/workflows/build.yml
  .github/workflows/security.yml
Due: none

perf(graphinator): store Master.year as integer to eliminate type coercion (#94)
  .github/workflows/build.yml
  .github/workflows/security.yml
  common/data_normalizer.py
  graphinator/graphinator.py
  scripts/migrate-master-year-to-int.sh
  tests/common/test_data_normalizer.py
Due: common, graphinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Graphinator, Common

perf(tableinator): collapse SELECT+INSERT into single round-trip in non-batch path
  tableinator/tableinator.py
  tests/tableinator/test_tableinator.py
Due: tableinator, Tableinator

perf(tableinator): collapse SELECT+INSERT into single round-trip in non-batch path (#95)
  tableinator/tableinator.py
  tests/tableinator/test_tableinator.py
Due: tableinator, Tableinator

chore(dashboard): upgrade Node.js base image from 22 to 24
  dashboard/Dockerfile
  docs/dockerfile-standards.md
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

test(tableinator): update assertion to reflect single-upsert optimization
  tests/test_file_completion.py
Due: none

fix(api): multi-word autocomplete and collection stats
  api/queries/neo4j_queries.py
  api/queries/user_queries.py
  tests/api/test_neo4j_queries.py
  tests/api/test_user_queries.py
Due: api, API

fix(scripts): correct valueType check in year migration verification
  scripts/migrate-master-year-to-int.sh
Due: none

fix: fix sample docker-compose
  docker-compose.prod.yml
Due: none

fix(api): resolve Cypher aggregation error in artist alias count
  api/queries/neo4j_queries.py
Due: api, API

refactor(explore): migrate from Bootstrap to Tailwind CSS + Alpine.js
  explore/Dockerfile
  explore/static/css/styles.css
  explore/static/index.html
  explore/static/js/app.js
  explore/static/js/user-panes.js
  explore/tailwind.config.js
  explore/tailwind.input.css
  tests/explore/test_explore_auth_ui.py
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

refactor: remove curator service (dead code after sync migration)
  .coveragerc.curator
  .env.example
  .github/workflows/code-quality.yml
  .github/workflows/docker-compose-validate.yml
  .github/workflows/list-sub-projects.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  README.md
  api/README.md
  codecov.yml
  common/__init__.py
  common/config.py
  curator/Dockerfile
  curator/README.md
  curator/__init__.py
  curator/curator.py
  curator/pyproject.toml
  curator/syncer.py
  docker-compose.prod.yml
  docker-compose.yml
  docs/architecture.md
  docs/configuration.md
  docs/development.md
  docs/emoji-guide.md
  docs/monitoring.md
  docs/quick-start.md
  docs/recent-improvements.md
  docs/task-automation.md
  justfile
  pyproject.toml
  scripts/update-project.sh
  tests/common/test_config.py
  tests/curator/__init__.py
  tests/curator/conftest.py
  tests/curator/test_curator.py
  tests/curator/test_curator_syncer.py
  uv.lock
Due: api, curator, common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Common

docs: update docs to reflect curator removal and explore Tailwind migration
  README.md
  docs/README.md
  docs/architecture.md
  docs/development.md
  docs/recent-improvements.md
  explore/README.md
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix(security): resolve Semgrep findings in explore index.html
  explore/static/index.html
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix(security): move @keydown.escape attrs next to nosemgrep comments
  explore/static/index.html
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(explore): redesign collection/wantlist panes with table layout
  api/queries/user_queries.py
  explore/static/css/styles.css
  explore/static/index.html
  explore/static/js/app.js
  explore/static/js/user-panes.js
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

fix(security): replace innerHTML with DOM methods in user-panes.js
  explore/static/js/user-panes.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(dashboard): show queue message count in extractor processing state
  dashboard/static/dashboard.js
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

feat(collection): add gap analysis for labels, artists, and pressings (#87)
  api/api.py
  api/queries/gap_queries.py
  api/routers/collection.py
  common/data_normalizer.py
  explore/static/css/styles.css
  explore/static/index.html
  explore/static/js/api-client.js
  explore/static/js/app.js
  explore/static/js/user-panes.js
  graphinator/batch_processor.py
  graphinator/graphinator.py
  tests/api/conftest.py
  tests/api/test_collection.py
  tests/api/test_gap_queries.py
  tests/common/test_data_normalizer.py
Due: api, common, explore, graphinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore, Graphinator, Common

Path conditions:
  api: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  schema-init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-chromium: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-firefox: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-webkit: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-iphone-15: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-ipad-pro-11: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  API: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Schema-Init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
