Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

gitblobstore: checkandput manifest
  bnpvcm1ai8h24c8jnc9525lerafuvsjd
  manifest
Due: none

feat(api): publish immutable collection pagination snapshots
  .github/workflows/test.yml
  README.md
  api/api.py
  api/collection_generations.py
  api/routers/user.py
  api/syncer.py
  common/src/common/snapshot_logging.py
  docs/collection-snapshots.md
  explore/explore.py
  justfile
  schema-init/postgres_schema.py
  tests/api/test_syncer.py
  tests/common/test_collection_snapshot_perf.py
  tests/common/test_snapshot_logging.py
  tests/integration/test_canonical_pairs.py
  tests/integration/test_collection_snapshots.py
  tests/perftest/README.md
  tests/perftest/config.yaml
  tests/perftest/run_perftest.py
Due: api, common, explore, schema-init, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore, Schema-Init, Common

gitblobstore: checkandput manifest
  6a1fdne74ot5daqfc39i7rfc1up5ksfh.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  ih4k6h6k1qu0krlp8moib6nv4a8uv78h
  manifest
Due: none

test(auth): control credential timestamp across password read
  tests/api/test_auth_router.py
Due: none

gitblobstore: checkandput manifest
  79124pf9pqlbiot32835ijatjve2r1ik.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  4qsvpvboru1pijetpj9il3c38e1bft9r
  manifest
Due: none

ci(test): publish real collection snapshot coverage
  .github/workflows/test.yml
  justfile
Due: none

gitblobstore: checkandput manifest
  manifest
  q9kt96fm0mvoqv75b1gu7alp9uka2554.darc
Due: none

gitblobstore: checkandput manifest
  manifest
  prf9t2s0tbnp8c49vkem5v3uaho8t7ji
Due: none

feat(api): publish immutable collection pagination snapshots (#504)
  .github/workflows/test.yml
  README.md
  api/api.py
  api/collection_generations.py
  api/routers/user.py
  api/syncer.py
  common/src/common/snapshot_logging.py
  docs/collection-snapshots.md
  explore/explore.py
  justfile
  schema-init/postgres_schema.py
  tests/api/test_auth_router.py
  tests/api/test_syncer.py
  tests/common/test_collection_snapshot_perf.py
  tests/common/test_snapshot_logging.py
  tests/integration/test_canonical_pairs.py
  tests/integration/test_collection_snapshots.py
  tests/perftest/README.md
  tests/perftest/config.yaml
  tests/perftest/run_perftest.py
Due: api, common, explore, schema-init, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore, Schema-Init, Common

gitblobstore: checkandput manifest
  02a3fi2f4comkaa79at5jdta2t6bve2r.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  l124drinhud93un6ct503urbcmh96laj
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  t1uohnjpg87edp21lsobu58kg7g8t5iu.darc
Due: none

gitblobstore: checkandput manifest
  38l3qr7uhp2649jd42deq7fjndo1lvig
  manifest
Due: none

gitblobstore: checkandput manifest
  3ktt43a7jokq4kb3th90m3fuj2k5hi6o.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  7e5el8mnvk3memlb3787ufkjlnb6ma6a
  manifest
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: none

chore: update dependencies
  Cargo.lock
  api/Dockerfile
  api/pyproject.toml
  brainzgraphinator/Dockerfile
  brainzgraphinator/pyproject.toml
  brainztableinator/Dockerfile
  brainztableinator/pyproject.toml
  dashboard/Dockerfile
  dashboard/pyproject.toml
  docs/dockerfile-standards.md
  explore/Dockerfile
  explore/package-lock.json
  explore/package.json
  explore/pyproject.toml
  graphinator/Dockerfile
  graphinator/pyproject.toml
  insights/Dockerfile
  mcp-server/pyproject.toml
  pyproject.toml
  schema-init/Dockerfile
  tableinator/Dockerfile
  tableinator/pyproject.toml
  uv.lock
Due: api, dashboard, explore, graphinator, schema-init, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Graphinator, Schema-Init, Tableinator

chore(ci): remove Claude and update-dependencies workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/update-dependencies.yml
  docs/github-actions-guide.md
  docs/python-version-management.md
  scripts/README.md
  tests/workflows/__init__.py
  tests/workflows/test_update_dependencies_workflow.py
Due: none

fix(docs): trim trailing blank line in scripts/README.md
  explore/package-lock.json
  migration/destinations/groovemap-music.github.io/package-lock.json
  scripts/README.md
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

chore(ci): remove Claude and update-dependencies workflows (#514)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/update-dependencies.yml
  docs/github-actions-guide.md
  docs/python-version-management.md
  explore/package-lock.json
  migration/destinations/groovemap-music.github.io/package-lock.json
  scripts/README.md
  tests/workflows/__init__.py
  tests/workflows/test_update_dependencies_workflow.py
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

chore(deps): group dependabot updates per ecosystem
  .github/dependabot.yml
Due: none

chore(deps): group dependabot updates per ecosystem (#508)
  .github/dependabot.yml
Due: none

Path conditions:
  api: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  schema-init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-chromium: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-firefox: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-webkit: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-iphone-15: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-ipad-pro-11: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  API: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Schema-Init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
