Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, e2e, e2e-chromium, e2e-firefox, e2e-webkit, e2e-desktop, e2e-iPhone 15, e2e-iPad Pro 11, Dashboard, Explore, Extractor, Graphinator, Tableinator, Common

codecov.yml:

---
# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status checks on pull requests
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% drop
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

# PR comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag configuration for different coverage types
flags:
  python:
    paths:
      - "**/*.py"
    carryforward: true
  rust:
    paths:
      - "extractor/**/*.rs"
    carryforward: true
  e2e:
    paths:
      - "dashboard/**/*.py"
      - "common/**/*.py"
    carryforward: true
  e2e-chromium:
    paths:
      - "dashboard/**/*.py"
      - "common/**/*.py"
    carryforward: true
  e2e-firefox:
    paths:
      - "dashboard/**/*.py"
      - "common/**/*.py"
    carryforward: true
  e2e-webkit:
    paths:
      - "dashboard/**/*.py"
      - "common/**/*.py"
    carryforward: true
  e2e-desktop:
    paths:
      - "dashboard/**/*.py"
      - "common/**/*.py"
    carryforward: true
  e2e-iPhone 15:
    paths:
      - "dashboard/**/*.py"
      - "common/**/*.py"
    carryforward: true
  e2e-iPad Pro 11:
    paths:
      - "dashboard/**/*.py"
      - "common/**/*.py"
    carryforward: true

# Component configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: dashboard
      name: Dashboard
      paths:
        - "dashboard/**"
    - component_id: explore
      name: Explore
      paths:
        - "explore/**"
    - component_id: extractor
      name: Extractor
      paths:
        - "extractor/**"
    - component_id: graphinator
      name: Graphinator
      paths:
        - "graphinator/**"
    - component_id: tableinator
      name: Tableinator
      paths:
        - "tableinator/**"
    - component_id: common
      name: Common
      paths:
        - "common/**"

# Ignore patterns
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/node_modules/**"
  - "**/.venv/**"
  - "**/venv/**"
  - "**/*.pyc"

# Parsers configuration - disable unused parsers to prevent warnings
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  v1:
    include_full_missed_files: false

# CLI behavior configuration
cli:
  # Disable automatic search for coverage.py to prevent warnings
  # We explicitly provide coverage files in the GitHub Actions workflow
  runners:
    use:
      - python
      - rust

refactor(dashboard,explore,graphinator,tableinator): simplify and clean up Python service code
  dashboard/dashboard.py
  explore/explore.py
  explore/neo4j_queries.py
  graphinator/graphinator.py
  tableinator/tableinator.py
Due: python, e2e, e2e-chromium, e2e-firefox, e2e-webkit, e2e-desktop, e2e-iPhone 15, e2e-iPad Pro 11, Dashboard, Explore, Graphinator, Tableinator

refactor(extractor): simplify Rust service code and remove unused types
  extractor/src/config.rs
  extractor/src/downloader.rs
  extractor/src/extractor.rs
  extractor/src/health.rs
  extractor/src/main.rs
  extractor/src/message_queue.rs
  extractor/src/parser.rs
  extractor/src/state_marker.rs
  extractor/src/types.rs
  extractor/tests/extractor_state_test.rs
Due: rust, Extractor

test: improve coverage from 92% to 94% across all services
  tests/common/test_postgres_resilient.py
  tests/dashboard/test_dashboard_app.py
  tests/graphinator/test_batch_processor.py
  tests/graphinator/test_graphinator.py
  tests/tableinator/test_tableinator.py
  tests/test_config.py
  tests/test_health_server.py
Due: none

docs: update documentation to reflect code simplification and coverage improvements
  docs/recent-improvements.md
  docs/testing-guide.md
  extractor/README.md
Due: Extractor

fix(codecov): use single flag per upload and remove spaces from flag names
  .github/workflows/e2e-test.yml
  codecov.yml
Due: none

fix(codecov): fix unusable reports by generating coverage files and using just commands
  .github/workflows/e2e-test.yml
  .github/workflows/test.yml
  justfile
  pyproject.toml
Due: none

feat(extractor): upgrade Rust dependencies to major versions
  .pre-commit-config.yaml
  Cargo.lock
  extractor/Cargo.toml
  extractor/rust-toolchain.toml
Due: Extractor

fix(extractor): adapt source code for lapin 4.0 and quick-xml 0.39 APIs
  extractor/src/message_queue.rs
  extractor/src/parser.rs
Due: rust, Extractor

chore: bump Python dependencies
  uv.lock
Due: none

chore: consolidate gitignore and add missing patterns
  .gitignore
  extractor/.gitignore
Due: Extractor

chore(tooling): use cargo-run-bin for cargo-outdated in check-updates
  justfile
Due: none

fix(scripts): improve Rust dependency update logic in update-project.sh
  scripts/update-project.sh
Due: none

fix(ci): install just in Rust extractor test job
  .github/workflows/test.yml
Due: none

fix(ci): extract only just binary from release tarball
  .github/actions/setup-just/action.yml
Due: none

fix(ci): establish both coverage sources before appending in E2E tests
  justfile
Due: none

fix(ci): use --cov=. for E2E tests to produce single-source coverage XML
  justfile
Due: none

fix(ci): fix E2E coverage source paths and ignore removed modules
  codecov.yml
  justfile
Due: none

fix(ci): fix E2E flag paths and disable unnecessary carryforward
  codecov.yml
  justfile
Due: none

fix(explore): pass params as dict to neo4j session.run() to avoid kwarg conflict
  explore/neo4j_queries.py
Due: python, Explore

docs: add codecov badge to README
  README.md
Due: none

feat(schema-init): add one-shot schema initialiser service
  .github/workflows/docker-validate.yml
  .github/workflows/list-sub-projects.yml
  .github/workflows/test.yml
  docker-compose.yml
  docs/architecture.md
  docs/database-schema.md
  docs/neo4j-indexing.md
  docs/testing-guide.md
  explore/explore.py
  explore/neo4j_indexes.py
  graphinator/graphinator.py
  justfile
  pyproject.toml
  schema-init/Dockerfile
  schema-init/neo4j_schema.py
  schema-init/postgres_schema.py
  schema-init/pyproject.toml
  schema-init/schema_init.py
  tableinator/tableinator.py
  tests/explore/test_explore_api.py
  tests/explore/test_neo4j_indexes.py
  tests/graphinator/test_graphinator.py
  tests/schema-init/__init__.py
  tests/schema-init/conftest.py
  tests/schema-init/test_neo4j_schema.py
  tests/schema-init/test_postgres_schema.py
  tests/schema-init/test_schema_init.py
  tests/tableinator/test_tableinator.py
  uv.lock
Due: python, Explore, Graphinator, Tableinator

docs: add schema-init to all documentation and tooling
  README.md
  common/config.py
  docs/configuration.md
  docs/development.md
  docs/dockerfile-standards.md
  docs/neo4j-indexing.md
  docs/task-automation.md
  scripts/update-project.sh
Due: python, e2e, e2e-chromium, e2e-firefox, e2e-webkit, e2e-desktop, e2e-iPhone 15, e2e-iPad Pro 11, Common

fix(graphinator): fix mock_wait_for signature to accept timeout as keyword argument
  tests/graphinator/test_graphinator.py
Due: none

fix(schema-init): add PYTHONPATH=/app so common module is importable
  schema-init/Dockerfile
Due: none

feat(extractor): add retry logic for failed file downloads
  extractor/src/downloader.rs
  extractor/tests/http_integration_test.rs
Due: rust, Extractor

fix(idle-mode): keep consumers connected during idle mode instead of disconnecting
  graphinator/graphinator.py
  tableinator/tableinator.py
  tests/tableinator/test_tableinator.py
Due: python, Graphinator, Tableinator

chore: update deps
  Cargo.lock
  uv.lock
Due: none

feat(extractor): log download progress every 10s for syslog visibility
  extractor/src/downloader.rs
Due: rust, Extractor

docs(readme): sort tables for clarity and logical flow
  README.md
Due: none

chore: mdformat
  README.md
  docs/architecture.md
  docs/configuration.md
  docs/logging-guide.md
  docs/recent-improvements.md
  docs/task-automation.md
  explore/README.md
Due: Explore

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix(mypy/ruff): correct extractor extend path and sync dev dependencies
  extractor/pyproject.toml
Due: Extractor

feat(dashboard): redesign UI with dark Tailwind theme from Stitch design
  dashboard/static/dashboard.js
  dashboard/static/index.html
  dashboard/static/styles.css
  tests/dashboard/test_dashboard_ui.py
Due: Dashboard

chore(extractor): remove pyproject.toml from pure Rust project
  extractor/pyproject.toml
  scripts/README.md
  scripts/update-project.sh
Due: Extractor

docs: update all docs to reflect current architecture
  README.md
  dashboard/README.md
  docs/monitoring.md
  docs/recent-improvements.md
  docs/troubleshooting.md
  extractor/README.md
Due: Dashboard, Extractor

chore: remove requirements-txt-fixer pre-commit hook
  .pre-commit-config.yaml
Due: none

chore: fmt
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Feat/dashboard UI redesign (#65)
  README.md
  dashboard/README.md
  dashboard/static/dashboard.js
  dashboard/static/index.html
  dashboard/static/styles.css
  docs/monitoring.md
  docs/recent-improvements.md
  docs/troubleshooting.md
  extractor/README.md
  extractor/pyproject.toml
  scripts/README.md
  scripts/update-project.sh
  tests/dashboard/test_dashboard_ui.py
Due: Dashboard, Extractor

fix(extractor): cache file list to avoid double scraping Discogs website
  extractor/src/downloader.rs
Due: rust, Extractor
