Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

test(extractor): add coverage for DI trait impls and error paths
  extractor/src/downloader.rs
  extractor/src/tests/downloader_tests.rs
  extractor/tests/extractor_di_test.rs
Due: extractor, Extractor

refactor(extractor): trait-based dependency injection (#97) (#117)
  .gitignore
  Cargo.lock
  docs/superpowers/plans/2026-03-13-extractor-trait-di.md
  extractor/Cargo.toml
  extractor/src/config.rs
  extractor/src/downloader.rs
  extractor/src/extractor.rs
  extractor/src/health.rs
  extractor/src/lib.rs
  extractor/src/main.rs
  extractor/src/message_queue.rs
  extractor/src/message_queue_tests.rs
  extractor/src/parser.rs
  extractor/src/state_marker.rs
  extractor/src/tests/config_tests.rs
  extractor/src/tests/downloader_tests.rs
  extractor/src/tests/extractor_tests.rs
  extractor/src/tests/health_tests.rs
  extractor/src/tests/main_tests.rs
  extractor/src/tests/message_queue_tests.rs
  extractor/src/tests/message_queue_unit_tests.rs
  extractor/src/tests/parser_tests.rs
  extractor/src/tests/state_marker_tests.rs
  extractor/src/tests/types_tests.rs
  extractor/src/types.rs
  extractor/tests/extractor_di_test.rs
  extractor/tests/mock_helpers.rs
Due: extractor, Extractor

feat(explore): path finder — shortest path between two entities (#121)
  api/models.py
  api/queries/neo4j_queries.py
  api/routers/explore.py
  explore/static/css/styles.css
  explore/static/index.html
  explore/static/js/api-client.js
  explore/static/js/app.js
  tests/api/test_api_models.py
  tests/api/test_explore.py
  tests/api/test_neo4j_queries.py
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

feat(api): Label DNA — fingerprint and compare record labels (#101)
  api/api.py
  api/models.py
  api/queries/label_dna_queries.py
  api/routers/label_dna.py
  tests/api/conftest.py
  tests/api/test_label_dna.py
  tests/api/test_label_dna_queries.py
Due: api, API

feat: MCP server — expose knowledge graph to AI assistants (#83)
  .coveragerc.mcp-server
  docs/superpowers/plans/2026-03-14-mcp-server.md
  justfile
  mcp-server/README.md
  mcp-server/mcp_server/__init__.py
  mcp-server/mcp_server/server.py
  mcp-server/pyproject.toml
  pyproject.toml
  tests/mcp-server/__init__.py
  tests/mcp-server/test_server.py
  uv.lock
Due: none

docs: add vinyl archaeology design spec (#113)
  docs/superpowers/specs/2026-03-14-vinyl-archaeology-design.md
Due: none

docs: add vinyl archaeology implementation plan (#113)
  docs/superpowers/plans/2026-03-14-vinyl-archaeology.md
Due: none

feat(explore): add year-range and genre-emergence to API client (#113)
  explore/static/js/api-client.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(explore): add before_year filtering to count query functions (#113)
  api/queries/neo4j_queries.py
  tests/api/test_neo4j_queries.py
Due: api, API

feat(explore): add year-aware graph re-fetch with setBeforeYear (#113)
  explore/static/js/graph.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix(taste): address code review findings
  api/queries/taste_queries.py
  api/routers/taste.py
  tests/api/test_taste.py
Due: api, API

feat(explore): add before_year filtering to expand query functions (#113)
  api/queries/neo4j_queries.py
Due: api, API

feat(explore): add year-range and genre-emergence endpoints (#113)
  api/routers/explore.py
  tests/api/test_explore.py
Due: api, API

feat(explore): add timeline scrubber UI with play/pause and genre emergence (#113)
  explore/static/index.html
  explore/static/js/app.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(explore): add before_year parameter to /api/expand endpoint (#113)
  api/routers/explore.py
  tests/api/test_explore.py
Due: api, API

feat(api): collection timeline and evolution endpoints (#100)
  api/queries/user_queries.py
  api/routers/user.py
  tests/api/test_user.py
  tests/api/test_user_queries.py
Due: api, API

docs(insights): add implementation plan for Insights Service (#85)
  docs/superpowers/plans/2026-03-14-insights-service.md
Due: none

docs(admin): add admin dashboard phase 1 design spec (#104)
  docs/superpowers/specs/2026-03-14-admin-dashboard-phase1-design.md
Due: none

feat(insights): add config, PostgreSQL schema, and Pydantic models (#85)
  common/__init__.py
  common/config.py
  insights/__init__.py
  insights/models.py
  insights/pyproject.toml
  pyproject.toml
  schema-init/postgres_schema.py
  tests/common/test_config.py
  tests/insights/__init__.py
  tests/insights/test_models.py
  tests/schema-init/test_postgres_schema.py
  uv.lock
Due: common, schema-init, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Schema-Init, Common

docs(admin): add admin dashboard phase 1 implementation plan
  docs/superpowers/plans/2026-03-14-admin-dashboard-phase1.md
Due: none

feat(insights): add Neo4j and PostgreSQL query layer (#85)
  insights/queries/__init__.py
  insights/queries/neo4j_queries.py
  insights/queries/pg_queries.py
  tests/insights/test_neo4j_queries.py
  tests/insights/test_pg_queries.py
Due: none

feat(schema): add dashboard_admins and extraction_history tables
  schema-init/postgres_schema.py
Due: schema-init, Schema-Init

feat(admin): add admin auth module with JWT creation and password verification
  api/admin_auth.py
  tests/api/test_admin_auth.py
Due: api, API

feat(admin): add require_admin dependency with token isolation
  api/api.py
  api/dependencies.py
  tests/api/test_admin_auth.py
Due: api, API

feat(admin): add Pydantic models for admin endpoints
  api/models.py
Due: api, API

feat(insights): add computation orchestrator and FastAPI service (#85)
  insights/computations.py
  insights/insights.py
  tests/insights/conftest.py
  tests/insights/test_computations.py
  tests/insights/test_insights.py
  tests/insights/test_scheduler.py
Due: none

feat(config): add extractor and RabbitMQ management config to ApiConfig
  common/config.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

feat(insights): add API proxy, Dockerfile, Docker Compose, and CI (#85)
  .coveragerc.insights
  .github/workflows/test.yml
  CLAUDE.md
  api/api.py
  api/routers/insights.py
  codecov.yml
  docker-compose.yml
  insights/Dockerfile
  justfile
  tests/api/test_insights_proxy.py
Due: api, API

feat(admin): add admin router with login, logout, extraction history, trigger, and DLQ purge
  api/api.py
  api/routers/admin.py
  tests/api/conftest.py
Due: api, API

test(admin): add endpoint tests for admin router
  tests/api/test_admin_endpoints.py
Due: none

feat(admin): add admin-setup CLI tool for managing admin accounts
  api/admin_setup.py
  api/pyproject.toml
Due: api, API

feat: Taste Fingerprint — personal collection analytics and shareable taste card (#120)
  api/api.py
  api/models.py
  api/queries/taste_queries.py
  api/routers/taste.py
  api/taste_card.py
  tests/api/conftest.py
  tests/api/test_api_models.py
  tests/api/test_taste.py
  tests/api/test_taste_card.py
  tests/api/test_taste_queries.py
Due: api, API

feat(extractor): add POST /trigger endpoint and extraction_status to health response
  extractor/src/extractor.rs
  extractor/src/health.rs
  extractor/src/main.rs
  extractor/src/tests/health_tests.rs
Due: extractor, Extractor

fix(admin): address code review findings
  api/api.py
  api/routers/admin.py
  tests/api/test_admin_endpoints.py
Due: api, API

feat(api): collection timeline and evolution endpoints (#100) (#127)
  api/queries/user_queries.py
  api/routers/user.py
  tests/api/test_user.py
  tests/api/test_user_queries.py
Due: api, API

docs(insights): add implementation plan for Insights Service (#85) (#128)
  docs/superpowers/plans/2026-03-14-insights-service.md
Due: none

docs: add taste fingerprint UI design spec (#129)
  docs/superpowers/specs/2026-03-14-taste-fingerprint-ui-design.md
Due: none

feat(explore): add taste fingerprint strip rendering to UserPanes (#129)
  explore/static/js/user-panes.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(explore): wire taste fingerprint into collection pane switch (#129)
  explore/static/js/app.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(explore): add taste fingerprint strip CSS styles (#129)
  explore/static/css/styles.css
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

Path conditions:
  api: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  schema-init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-chromium: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-firefox: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-webkit: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-iphone-15: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-ipad-pro-11: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  API: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Schema-Init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
