Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

feat: MCP server — expose knowledge graph to AI assistants (#83)
  .coveragerc.mcp-server
  docs/superpowers/plans/2026-03-14-mcp-server.md
  justfile
  mcp-server/README.md
  mcp-server/mcp_server/__init__.py
  mcp-server/mcp_server/server.py
  mcp-server/pyproject.toml
  pyproject.toml
  tests/mcp-server/__init__.py
  tests/mcp-server/test_server.py
  uv.lock
Due: none

fix: add ruff T201 per-file-ignore for admin_setup.py CLI tool
  pyproject.toml
Due: none

fix: optimize data-completeness query to use single table scan per entity
  api/queries/insights_pg_queries.py
  tests/api/test_insights_pg_queries.py
  tests/insights/test_pg_queries.py
Due: api, API

feat(ui): tri-state theme toggle (auto/light/dark) and fix Discogs modal
  dashboard/static/dashboard.js
  dashboard/static/index.html
  explore/__tests__/theme.test.js
  explore/static/index.html
  explore/static/js/theme.js
Due: dashboard, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard, Explore

fix(semgrep): keep x-data on same line as nosemgrep comment target
  explore/static/index.html
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

style: fix ruff format on test files
  tests/api/test_insights_pg_queries.py
  tests/insights/test_pg_queries.py
Due: none

feat(ui): tri-state theme toggle and fix Discogs modal (#167)
  dashboard/static/dashboard.js
  dashboard/static/index.html
  explore/__tests__/theme.test.js
  explore/static/index.html
  explore/static/js/theme.js
  tests/api/test_insights_pg_queries.py
  tests/insights/test_pg_queries.py
Due: dashboard, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard, Explore

fix: resolve Discover tab scrolling, score display, and item linking
  api/routers/user.py
  explore/static/css/styles.css
  explore/static/js/user-panes.js
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

fix: handle Neo4j timeouts and parallelize data-completeness queries
  api/queries/insights_pg_queries.py
  api/queries/taste_queries.py
  api/routers/explore.py
  api/routers/taste.py
Due: api, API

chore: fmt
  api/queries/taste_queries.py
Due: api, API

feat(explore): add artist collaborators panel with D3 sparklines
  explore/__tests__/collaborators.test.js
  explore/static/css/styles.css
  explore/static/index.html
  explore/static/js/app.js
  explore/static/js/collaborators.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

test(explore): add E2E tests for collaborators and genre tree
  tests/explore/explore_test_app.py
  tests/explore/test_explore_ui.py
Due: none

fix(api): add rate limiting to collaborators endpoint
  api/routers/explore.py
Due: api, API

feat(explore): add collaborators and genre-tree API client methods
  explore/__tests__/api-client.test.js
  explore/static/js/api-client.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(api): add collaborators endpoint for artist collaboration data
  api/queries/collaborator_queries.py
  api/routers/explore.py
  tests/explore/conftest.py
  tests/explore/test_collaborators_api.py
Due: api, API

feat(api): add genre-tree endpoint for genre/style hierarchy
  api/queries/genre_tree_queries.py
  api/routers/explore.py
  tests/explore/test_genre_tree_api.py
Due: api, API

fix(test): use monotonic-relative timestamp for cache expiry test
  tests/explore/test_genre_tree_api.py
Due: none

feat(explore): add genre/style tree navigation tab
  explore/__tests__/genre-tree.test.js
  explore/static/css/styles.css
  explore/static/index.html
  explore/static/js/app.js
  explore/static/js/genre-tree.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat: add query debug logging utilities (common/query_debug.py)
  common/__init__.py
  common/query_debug.py
  tests/common/test_query_debug.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

feat: add consolidated Neo4j query helpers with profiling (api/queries/helpers.py)
  api/queries/helpers.py
  tests/api/test_query_helpers.py
Due: api, API

refactor: migrate neo4j_queries.py to shared query helpers
  api/queries/gap_queries.py
  api/queries/insights_neo4j_queries.py
  api/queries/label_dna_queries.py
  api/queries/neo4j_queries.py
  api/queries/recommend_queries.py
  api/queries/taste_queries.py
  api/queries/user_queries.py
  tests/api/test_neo4j_queries.py
  tests/api/test_user_queries.py
  tests/insights/test_neo4j_queries.py
Due: api, API

feat: add debug logging for syncer Neo4j write queries and SQL execute_sql wrapper
  api/syncer.py
Due: api, API

feat: add debug SQL query logging via execute_sql wrapper
  api/api.py
  api/queries/insights_pg_queries.py
  api/queries/search_queries.py
  api/routers/collection.py
  api/routers/sync.py
Due: api, API

feat: log startup warning when Cypher profiling is active
  common/config.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

Refactor Cypher profiling check to use query_debug
  common/config.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

fix: correct indentation in cypher profiling startup warning
  common/config.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

test: add coverage for run_single/run_count profiling and error paths
  tests/api/test_query_helpers.py
Due: none

feat: query debug logging and Cypher profiling (#171)
  api/api.py
  api/queries/gap_queries.py
  api/queries/helpers.py
  api/queries/insights_neo4j_queries.py
  api/queries/insights_pg_queries.py
  api/queries/label_dna_queries.py
  api/queries/neo4j_queries.py
  api/queries/recommend_queries.py
  api/queries/search_queries.py
  api/queries/taste_queries.py
  api/queries/user_queries.py
  api/routers/collection.py
  api/routers/sync.py
  api/syncer.py
  common/__init__.py
  common/config.py
  common/query_debug.py
  tests/api/test_neo4j_queries.py
  tests/api/test_query_helpers.py
  tests/api/test_user_queries.py
  tests/common/test_query_debug.py
  tests/insights/test_neo4j_queries.py
Due: api, common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Common

docs: add query debug logging implementation plan
  docs/superpowers/plans/2026-03-19-query-debug-profiling.md
Due: none

docs: add query debug logging and cypher profiling design spec
  docs/superpowers/specs/2026-03-19-query-debug-profiling-design.md
Due: none

feat: add API performance test container
  .gitignore
  docs/superpowers/plans/2026-03-19-api-performance-test.md
  tests/perftest/Dockerfile
  tests/perftest/README.md
  tests/perftest/config.yaml
  tests/perftest/entrypoint.sh
  tests/perftest/run_perftest.py
Due: none

refactor: use docker cp for API log collection instead of volume mount
  tests/perftest/Dockerfile
  tests/perftest/README.md
  tests/perftest/entrypoint.sh
Due: none

feat: add API performance test container (#172)
  .gitignore
  docs/superpowers/plans/2026-03-19-api-performance-test.md
  tests/perftest/Dockerfile
  tests/perftest/README.md
  tests/perftest/config.yaml
  tests/perftest/entrypoint.sh
  tests/perftest/run_perftest.py
Due: none

feat: add 429 rate limit retry with exponential backoff to perftest
  tests/perftest/run_perftest.py
Due: none

chore: increase perftest 429 backoff to 32s–256s with 5min cap
  tests/perftest/run_perftest.py
Due: none

feat: switch neo4j driver to neo4j-rust-ext for up to 10x performance
  api/pyproject.toml
  common/pyproject.toml
  dashboard/pyproject.toml
  graphinator/pyproject.toml
  pyproject.toml
  schema-init/pyproject.toml
  uv.lock
Due: api, common, dashboard, graphinator, schema-init, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Graphinator, Schema-Init, Common

chore: run update-project script (uv 0.10.12, dependency updates)
  .pre-commit-config.yaml
  Cargo.lock
  api/Dockerfile
  dashboard/Dockerfile
  docs/dockerfile-standards.md
  explore/Dockerfile
  explore/package-lock.json
  graphinator/Dockerfile
  insights/Dockerfile
  schema-init/Dockerfile
  tableinator/Dockerfile
  uv.lock
Due: api, dashboard, explore, graphinator, schema-init, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Graphinator, Schema-Init, Tableinator

feat: switch to neo4j-rust-ext for up to 10x driver performance (#173)
  .pre-commit-config.yaml
  Cargo.lock
  api/Dockerfile
  api/pyproject.toml
  common/pyproject.toml
  dashboard/Dockerfile
  dashboard/pyproject.toml
  docs/dockerfile-standards.md
  explore/Dockerfile
  explore/package-lock.json
  graphinator/Dockerfile
  graphinator/pyproject.toml
  insights/Dockerfile
  pyproject.toml
  schema-init/Dockerfile
  schema-init/pyproject.toml
  tableinator/Dockerfile
  uv.lock
Due: api, common, dashboard, explore, graphinator, schema-init, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Graphinator, Schema-Init, Tableinator, Common

feat: expand query profiling to SQL and rename CYPHER_PROFILING to DB_PROFILING
  api/queries/helpers.py
  common/__init__.py
  common/config.py
  common/query_debug.py
  docs/superpowers/specs/2026-03-19-query-debug-profiling-design.md
  tests/api/test_query_helpers.py
  tests/common/test_query_debug.py
  tests/perftest/README.md
Due: api, common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Common

feat: expand perftest coverage with node details, expand, and fix genre-emergence
  tests/perftest/README.md
  tests/perftest/run_perftest.py
Due: none

Path conditions:
  api: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  schema-init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-chromium: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-firefox: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-webkit: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-iphone-15: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-ipad-pro-11: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  API: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Schema-Init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
