Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

feat(api/nlq): add Action discriminated-union schema
  api/nlq/actions.py
  tests/api/nlq/test_actions.py
Due: api, API

feat(explore): scaffold NlqPill component with collapsed state
  explore/__tests__/nlq-pill.test.js
  explore/static/index.html
  explore/static/js/nlq-pill.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(explore/graph): snapshot/restore/clearAll/addEntity for NLQ actions
  explore/__tests__/graph-snapshot.test.js
  explore/static/js/graph.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(explore): rewrite nlq.js as thin orchestrator over new components
  explore/__tests__/api-client-nlq-suggestions.test.js
  explore/static/js/api-client.js
  explore/static/js/nlq.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(explore): NlqPill wires suggestions into expanded card
  explore/__tests__/nlq-pill.test.js
  explore/static/js/nlq-pill.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(api/nlq): template-based suggestion engine
  api/nlq/suggestions.py
  tests/api/nlq/test_suggestions.py
Due: api, API

feat(common): add discovery and stats tools to agent_tools
  common/agent_tools/__init__.py
  common/agent_tools/discovery.py
  common/agent_tools/stats.py
  tests/common/test_agent_tools_discovery.py
  tests/common/test_agent_tools_stats.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

feat(common): add entity detail tools to agent_tools
  common/agent_tools/__init__.py
  common/agent_tools/entities.py
  tests/common/test_agent_tools_entities.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

feat(explore): NlqPill expand/collapse with keyboard shortcuts
  explore/__tests__/nlq-pill.test.js
  explore/package-lock.json
  explore/package.json
  explore/static/js/nlq-pill.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(api/nlq): NLQResult carries agent-emitted UI actions
  api/nlq/engine.py
  tests/api/nlq/test_engine_actions.py
Due: api, API

feat(explore): DOMPurify-backed NLQ markdown renderer with entity injection
  explore/__tests__/nlq-markdown.test.js
  explore/package-lock.json
  explore/package.json
  explore/static/js/nlq-markdown.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

test(common): add find_path target-missing and no-path error cases
  tests/common/test_agent_tools_graph.py
Due: none

feat(api/routers/nlq): add /api/nlq/suggestions endpoint
  api/routers/nlq.py
  tests/api/test_nlq_suggestions_endpoint.py
Due: api, API

test(explore): improve coverage for NLQ frontend modules
  explore/__tests__/graph.test.js
  explore/__tests__/nlq-action-applier.test.js
  explore/__tests__/nlq-handlers.test.js
  explore/__tests__/nlq-orchestrator.test.js
  explore/__tests__/nlq-pill.test.js
  explore/__tests__/nlq-suggestions.test.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

test(api/nlq): improve coverage for actions, engine, routers, suggestions
  api/nlq/engine.py
  tests/api/nlq/test_engine_actions.py
  tests/api/nlq/test_suggestions.py
  tests/api/nlq/test_tools_delegation.py
  tests/api/test_nlq_suggestions_endpoint.py
Due: api, API

fix(explore): mount Ask pill via importmap for dompurify and marked
  explore/__tests__/importmap-coverage.test.js
  explore/static/index.html
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix(explore): mount Ask pill via importmap for dompurify and marked (#305)
  explore/__tests__/importmap-coverage.test.js
  explore/static/index.html
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

refactor(explore): fold summary strip into Ask pill conversation surface
  explore/__tests__/nlq-init.test.js
  explore/__tests__/nlq-orchestrator.test.js
  explore/__tests__/nlq-pill.test.js
  explore/__tests__/nlq-summary-strip.test.js
  explore/static/css/nlq-pill.css
  explore/static/index.html
  explore/static/js/nlq-pill.js
  explore/static/js/nlq-summary-strip.js
  explore/static/js/nlq.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix(explore): render markdown tables and lists in NLQ answers
  explore/__tests__/nlq-markdown.test.js
  explore/static/js/nlq-markdown.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

refactor(api/nlq): convert UI actions from marker system to tool definitions
  api/nlq/engine.py
  api/nlq/tools.py
  tests/api/nlq/test_engine_actions.py
  tests/api/nlq/test_tools.py
Due: api, API

refactor(api/nlq): prefix all action tool names with ui_ for consistency
  api/nlq/tools.py
  tests/api/nlq/test_engine_actions.py
  tests/api/nlq/test_tools.py
Due: api, API

feat(explore): Ask pill as conversation surface with inline answers and table rendering (#306)
  explore/__tests__/nlq-init.test.js
  explore/__tests__/nlq-markdown.test.js
  explore/__tests__/nlq-orchestrator.test.js
  explore/__tests__/nlq-pill.test.js
  explore/__tests__/nlq-summary-strip.test.js
  explore/static/css/nlq-pill.css
  explore/static/index.html
  explore/static/js/nlq-markdown.js
  explore/static/js/nlq-pill.js
  explore/static/js/nlq-summary-strip.js
  explore/static/js/nlq.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

refactor(api/nlq): convert UI actions from marker system to tool definitions (#307)
  api/nlq/engine.py
  api/nlq/tools.py
  tests/api/nlq/test_engine_actions.py
  tests/api/nlq/test_tools.py
Due: api, API

feat(extractor): stream MusicBrainz .tar.xz directly from network to .jsonl.xz
  Cargo.lock
  api/Dockerfile
  brainzgraphinator/Dockerfile
  brainztableinator/Dockerfile
  dashboard/Dockerfile
  docs/dockerfile-standards.md
  explore/Dockerfile
  explore/package-lock.json
  extractor/Cargo.toml
  extractor/src/musicbrainz_downloader.rs
  extractor/src/tests/musicbrainz_downloader_tests.rs
  graphinator/Dockerfile
  insights/Dockerfile
  schema-init/Dockerfile
  tableinator/Dockerfile
Due: api, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator

chore: update deps
  extractor/Cargo.toml
Due: extractor, Extractor

refactor(dashboard): migrate Tailwind config to CSS-first v4 format
  dashboard/tailwind.config.js
  dashboard/tailwind.input.css
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

build(dashboard): update Dockerfile CSS builder for Tailwind v4
  dashboard/Dockerfile
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

fix(dashboard): copy admin static files into CSS builder stage
  dashboard/Dockerfile
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

refactor(explore): migrate Tailwind config to CSS-first v4 format
  explore/tailwind.config.js
  explore/tailwind.input.css
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

build(explore): update Dockerfile CSS builder for Tailwind v4
  explore/Dockerfile
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

docs: update Tailwind documentation for v4 upgrade
  .gitignore
  docs/dockerfile-standards.md
Due: none

fix(explore): use @utility instead of @layer components for Tailwind v4
  explore/tailwind.input.css
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

docs(plan): add Tailwind v4 upgrade plan
  docs/superpowers/plans/2026-04-15-tailwind-v4-upgrade.md
Due: none

chore: upgrade Tailwind CSS from v3 to v4 (#308)
  .gitignore
  dashboard/Dockerfile
  dashboard/tailwind.config.js
  dashboard/tailwind.input.css
  docs/dockerfile-standards.md
  docs/superpowers/plans/2026-04-15-tailwind-v4-upgrade.md
  explore/Dockerfile
  explore/tailwind.config.js
  explore/tailwind.input.css
Due: dashboard, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard, Explore

Add Patreon funding option
  .github/FUNDING.yml
Due: none

chore(extractor): remove duplicate MBID→Discogs map log line
  extractor/src/extractor.rs
Due: extractor, Extractor

chore(extractor): remove duplicate MBID→Discogs map log line (#309)
  extractor/src/extractor.rs
Due: extractor, Extractor

fix(ci): stop hitting E2BIG in update-dependencies workflow
  .github/workflows/update-dependencies.yml
  justfile
Due: none

chore: update deps
  .pre-commit-config.yaml
  Cargo.lock
  explore/package-lock.json
  explore/package.json
  uv.lock
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

Path conditions:
  api: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  schema-init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-chromium: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-firefox: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-webkit: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-iphone-15: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-ipad-pro-11: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  API: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Schema-Init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
