Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

codecov.yml:

---
# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status checks on pull requests
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% drop
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

# PR comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag configuration for different coverage types
flags:
  api:
    paths:
      - "api/**"
    carryforward: true
  curator:
    paths:
      - "curator/**"
    carryforward: true
  common:
    paths:
      - "common/**"
    carryforward: true
  dashboard:
    paths:
      - "dashboard/**"
    carryforward: true
  explore:
    paths:
      - "explore/**"
    carryforward: true
  graphinator:
    paths:
      - "graphinator/**"
    carryforward: true
  schema-init:
    paths:
      - "schema-init/**"
    carryforward: true
  tableinator:
    paths:
      - "tableinator/**"
    carryforward: true
  extractor:
    paths:
      - "extractor/**"
    carryforward: true
  e2e-chromium:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-firefox:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-webkit:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-iphone-15:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-ipad-pro-11:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false

# Component configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API
      paths:
        - "api/**"
    - component_id: curator
      name: Curator
      paths:
        - "curator/**"
    - component_id: dashboard
      name: Dashboard
      paths:
        - "dashboard/**"
    - component_id: explore
      name: Explore
      paths:
        - "explore/**"
    - component_id: extractor
      name: Extractor
      paths:
        - "extractor/**"
    - component_id: graphinator
      name: Graphinator
      paths:
        - "graphinator/**"
    - component_id: schema-init
      name: Schema-Init
      paths:
        - "schema-init/**"
    - component_id: tableinator
      name: Tableinator
      paths:
        - "tableinator/**"
    - component_id: common
      name: Common
      paths:
        - "common/**"

# Ignore patterns
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/node_modules/**"
  - "**/.venv/**"
  - "**/venv/**"
  - "**/*.pyc"
  # Removed modules - carried-forward reports reference these old paths
  - "discovery/**"
  - "extractor/pyextractor/**"
  - "extractor/rustextractor/**"

# Parsers configuration - disable unused parsers to prevent warnings
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  v1:
    include_full_missed_files: false

# CLI behavior configuration
cli:
  # Disable automatic search for coverage.py to prevent warnings
  # We explicitly provide coverage files in the GitHub Actions workflow
  runners:
    use:
      - python
      - rust

# Integrations
slack_app: false

gitblobstore: checkandput manifest
  ac7bg84kj40aaltno2fcnnalt622qs3a
  manifest
Due: none

gitblobstore: checkandput manifest
  h27m086a78ngh4dr9gdjvcumjh39c8dv.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  cpo27hi88qo3r7go2iqobl4vpp637s81
  manifest
Due: none

gitblobstore: checkandput manifest
  jm0fdjoklges37nh6jjfpeieojto8sjj.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  3qcoru2o8tjsadfvmooab29bdqtc1huq
  manifest
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: none

chore(agf): refresh AGF scaffolding and rewrite bead-tooling guidance
  AGENTS.md
  CLAUDE.md
Due: none

chore(ignore): cut Docker build context 215MB -> 9MB, dedupe ignore rules
  .dockerignore
  .gitignore
  graphinator/.dockerignore
  tableinator/.dockerignore
Due: graphinator, tableinator, Graphinator, Tableinator

chore(just): add a typecheck recipe to satisfy the AGF validation gate
  justfile
Due: none

gitblobstore: checkandput manifest
  adljc4t4qkhlaq352u42ulduuab53711.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  8r1qn5vmkb77f4144egl4nefi0sd8e4q
  manifest
Due: none

chore: repo config hygiene — AGF scaffolding, ignore-file cleanup, 215MB Docker context fix (#423)
  .dockerignore
  .gitignore
  AGENTS.md
  CLAUDE.md
  graphinator/.dockerignore
  justfile
  tableinator/.dockerignore
Due: graphinator, tableinator, Graphinator, Tableinator

chore(deps): comprehensive dependency update — clear osv-scanner npm advisories
  .github/actions/setup-python-uv/action.yml
  .pre-commit-config.yaml
  Cargo.lock
  api/Dockerfile
  api/pyproject.toml
  brainzgraphinator/Dockerfile
  brainzgraphinator/brainzgraphinator.py
  brainzgraphinator/pyproject.toml
  brainztableinator/Dockerfile
  brainztableinator/brainztableinator.py
  brainztableinator/pyproject.toml
  common/pyproject.toml
  dashboard/Dockerfile
  dashboard/pyproject.toml
  docs/dockerfile-standards.md
  explore/Dockerfile
  explore/package-lock.json
  explore/package.json
  explore/pyproject.toml
  graphinator/Dockerfile
  graphinator/batch_processor.py
  graphinator/graphinator.py
  graphinator/pyproject.toml
  insights/Dockerfile
  mcp-server/pyproject.toml
  pyproject.toml
  schema-init/Dockerfile
  schema-init/neo4j_schema.py
  schema-init/schema_init.py
  tableinator/Dockerfile
  tableinator/batch_processor.py
  tableinator/pyproject.toml
  tableinator/tableinator.py
  uv.lock
Due: api, common, dashboard, explore, graphinator, schema-init, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Graphinator, Schema-Init, Tableinator, Common

gitblobstore: checkandput manifest
  9t51o3akfli62e06m76kc8jbt657fkvh.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  nurn5gn56f1mldtmcciiu8jbtkivsd01
Due: none

chore(deps): comprehensive dependency update — clear osv-scanner npm advisories (#424)
  .github/actions/setup-python-uv/action.yml
  .pre-commit-config.yaml
  Cargo.lock
  api/Dockerfile
  api/pyproject.toml
  brainzgraphinator/Dockerfile
  brainzgraphinator/brainzgraphinator.py
  brainzgraphinator/pyproject.toml
  brainztableinator/Dockerfile
  brainztableinator/brainztableinator.py
  brainztableinator/pyproject.toml
  common/pyproject.toml
  dashboard/Dockerfile
  dashboard/pyproject.toml
  docs/dockerfile-standards.md
  explore/Dockerfile
  explore/package-lock.json
  explore/package.json
  explore/pyproject.toml
  graphinator/Dockerfile
  graphinator/batch_processor.py
  graphinator/graphinator.py
  graphinator/pyproject.toml
  insights/Dockerfile
  mcp-server/pyproject.toml
  pyproject.toml
  schema-init/Dockerfile
  schema-init/neo4j_schema.py
  schema-init/schema_init.py
  tableinator/Dockerfile
  tableinator/batch_processor.py
  tableinator/pyproject.toml
  tableinator/tableinator.py
  uv.lock
Due: api, common, dashboard, explore, graphinator, schema-init, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Graphinator, Schema-Init, Tableinator, Common

chore(ruff): adopt ruff 0.16 and resolve all 122 newly-surfaced findings
  .pre-commit-config.yaml
  brainzgraphinator/brainzgraphinator.py
  brainztableinator/brainztableinator.py
  docs/development.md
  docs/logging-guide.md
  docs/monitoring.md
  docs/performance-guide.md
  docs/postgres-pool-exhaustion-analysis.md
  docs/superpowers/plans/2026-03-14-admin-dashboard-phase1.md
  docs/superpowers/plans/2026-03-19-query-debug-profiling.md
  docs/superpowers/plans/2026-03-21-query-perf-opt-v5.md
  docs/superpowers/plans/2026-03-25-admin-dashboard-phase2.md
  docs/superpowers/plans/2026-03-25-admin-dashboard-phase3.md
  docs/superpowers/plans/2026-03-25-admin-dashboard-phase4.md
  docs/superpowers/plans/2026-03-25-musicbrainz-integration.md
  docs/superpowers/plans/2026-03-25-natural-language-graph-queries.md
  docs/superpowers/plans/2026-03-25-password-reset-totp-2fa.md
  docs/superpowers/plans/2026-03-25-release-rarity-scoring-phase1.md
  docs/superpowers/plans/2026-03-26-dashboard-musicbrainz-monitoring.md
  docs/superpowers/plans/2026-03-28-musicbrainz-release-group-support.md
  docs/superpowers/plans/2026-04-03-extraction-analysis-dashboard.md
  docs/superpowers/plans/2026-04-10-extraction-rules-skip-filter.md
  docs/superpowers/plans/2026-04-11-community-enrichment-rarity.md
  docs/superpowers/plans/2026-04-11-design-language-rebrand.md
  docs/superpowers/plans/2026-04-11-normalizer-to-extractor.md
  docs/superpowers/plans/2026-04-14-ask-mode-integration-plan.md
  docs/superpowers/plans/2026-05-21-neo4j-bolt-tls.md
  docs/superpowers/specs/2026-03-25-natural-language-graph-queries-design.md
  docs/superpowers/specs/2026-03-25-password-reset-totp-2fa-design.md
  docs/superpowers/specs/2026-03-25-release-rarity-scoring-phase1-design.md
  docs/superpowers/specs/2026-03-26-dashboard-musicbrainz-monitoring-design.md
  docs/superpowers/specs/2026-04-11-community-enrichment-rarity-design.md
  docs/superpowers/specs/2026-04-14-ask-mode-integration-design.md
  graphinator/batch_processor.py
  graphinator/graphinator.py
  schema-init/neo4j_schema.py
  schema-init/postgres_schema.py
  schema-init/schema_init.py
  tableinator/batch_processor.py
  tableinator/tableinator.py
Due: graphinator, schema-init, tableinator, Graphinator, Schema-Init, Tableinator

gitblobstore: checkandput manifest
  b9cdifnu6frss1u9lu5ee0hl4edc3c9s.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  h40v2t4ub342ivb3sgfjj2rm7n375nui
  manifest
Due: none

chore(ruff): adopt ruff 0.16 and resolve all 122 newly-surfaced findings (#425)
  .pre-commit-config.yaml
  brainzgraphinator/brainzgraphinator.py
  brainztableinator/brainztableinator.py
  docs/development.md
  docs/logging-guide.md
  docs/monitoring.md
  docs/performance-guide.md
  docs/postgres-pool-exhaustion-analysis.md
  docs/superpowers/plans/2026-03-14-admin-dashboard-phase1.md
  docs/superpowers/plans/2026-03-19-query-debug-profiling.md
  docs/superpowers/plans/2026-03-21-query-perf-opt-v5.md
  docs/superpowers/plans/2026-03-25-admin-dashboard-phase2.md
  docs/superpowers/plans/2026-03-25-admin-dashboard-phase3.md
  docs/superpowers/plans/2026-03-25-admin-dashboard-phase4.md
  docs/superpowers/plans/2026-03-25-musicbrainz-integration.md
  docs/superpowers/plans/2026-03-25-natural-language-graph-queries.md
  docs/superpowers/plans/2026-03-25-password-reset-totp-2fa.md
  docs/superpowers/plans/2026-03-25-release-rarity-scoring-phase1.md
  docs/superpowers/plans/2026-03-26-dashboard-musicbrainz-monitoring.md
  docs/superpowers/plans/2026-03-28-musicbrainz-release-group-support.md
  docs/superpowers/plans/2026-04-03-extraction-analysis-dashboard.md
  docs/superpowers/plans/2026-04-10-extraction-rules-skip-filter.md
  docs/superpowers/plans/2026-04-11-community-enrichment-rarity.md
  docs/superpowers/plans/2026-04-11-design-language-rebrand.md
  docs/superpowers/plans/2026-04-11-normalizer-to-extractor.md
  docs/superpowers/plans/2026-04-14-ask-mode-integration-plan.md
  docs/superpowers/plans/2026-05-21-neo4j-bolt-tls.md
  docs/superpowers/specs/2026-03-25-natural-language-graph-queries-design.md
  docs/superpowers/specs/2026-03-25-password-reset-totp-2fa-design.md
  docs/superpowers/specs/2026-03-25-release-rarity-scoring-phase1-design.md
  docs/superpowers/specs/2026-03-26-dashboard-musicbrainz-monitoring-design.md
  docs/superpowers/specs/2026-04-11-community-enrichment-rarity-design.md
  docs/superpowers/specs/2026-04-14-ask-mode-integration-design.md
  graphinator/batch_processor.py
  graphinator/graphinator.py
  schema-init/neo4j_schema.py
  schema-init/postgres_schema.py
  schema-init/schema_init.py
  tableinator/batch_processor.py
  tableinator/tableinator.py
Due: graphinator, schema-init, tableinator, Graphinator, Schema-Init, Tableinator

chore(deps): migrate to aio-pika 10.x
  brainzgraphinator/pyproject.toml
  brainztableinator/pyproject.toml
  common/pyproject.toml
  common/rabbitmq_resilient.py
  dashboard/pyproject.toml
  graphinator/pyproject.toml
  pyproject.toml
  tableinator/pyproject.toml
  tests/common/test_rabbitmq_resilient.py
  uv.lock
Due: common, dashboard, graphinator, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard, Graphinator, Tableinator, Common

gitblobstore: checkandput manifest
  7nerar9qrfge7lha59q0260flji6d5jg.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  99rrtmh12v2k7l2hiquh2ndug2o2r7ru
  manifest
Due: none

test(rabbitmq): verify heartbeat + reconnect against a live broker in CI
  .github/workflows/test.yml
  justfile
  pyproject.toml
  tests/common/test_rabbitmq_integration.py
Due: none

fix(test): declare exclusive queues in the RabbitMQ integration test
  tests/common/test_rabbitmq_integration.py
Due: none

fix(ci): enable RabbitMQ management stats for the integration tests
  .github/workflows/test.yml
  tests/common/test_rabbitmq_integration.py
Due: none

fix(ci): bound every await in the RabbitMQ integration tests
  .github/workflows/test.yml
  justfile
  tests/common/test_rabbitmq_integration.py
Due: none

test(rabbitmq): split the reconnect test out, keep verified heartbeat coverage
  tests/common/test_rabbitmq_integration.py
Due: none

docs: rewrite the bv-managed beads section as beadhive-focused
  AGENTS.md
  CLAUDE.md
Due: none

gitblobstore: checkandput manifest
  manifest
  ucmccav6rcij5vvg48f2kutht6qn1vb9.darc
Due: none

gitblobstore: checkandput manifest
  ff5mems5voh2c8h1d76c1j9dgvnnh1l1
  manifest
Due: none

chore(deps): migrate to aio-pika 10.x, with live-broker CI coverage (#426)
  .github/workflows/test.yml
  brainzgraphinator/pyproject.toml
  brainztableinator/pyproject.toml
  common/pyproject.toml
  common/rabbitmq_resilient.py
  dashboard/pyproject.toml
  graphinator/pyproject.toml
  justfile
  pyproject.toml
  tableinator/pyproject.toml
  tests/common/test_rabbitmq_integration.py
  tests/common/test_rabbitmq_resilient.py
  uv.lock
Due: common, dashboard, graphinator, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard, Graphinator, Tableinator, Common

gitblobstore: checkandput manifest
  6ucaa0s66i4l062mpag42kalc6u5p86g.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  c4pjf3ika9rhfol3cpf76m3u7g63lqtv
  manifest
Due: none

docs: rewrite the bv-managed beads section as beadhive-focused (#427)
  AGENTS.md
  CLAUDE.md
Due: none

gitblobstore: checkandput manifest
  4a54vcll7cdlsor98g47tb7gkh1u3j7t.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  dcp5bjbt0a13i09itmc3bjvq1tq13hb5
  manifest
Due: none

test(rabbitmq): reconnect coverage with a readiness gate + queue restoration
  tests/common/test_rabbitmq_integration.py
Due: none
