Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

codecov.yml:

---
# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status checks on pull requests
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% drop
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

# PR comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag configuration for different coverage types
flags:
  api:
    paths:
      - "api/**"
    carryforward: true
  curator:
    paths:
      - "curator/**"
    carryforward: true
  common:
    paths:
      - "common/**"
    carryforward: true
  dashboard:
    paths:
      - "dashboard/**"
    carryforward: true
  explore:
    paths:
      - "explore/**"
    carryforward: true
  graphinator:
    paths:
      - "graphinator/**"
    carryforward: true
  schema-init:
    paths:
      - "schema-init/**"
    carryforward: true
  tableinator:
    paths:
      - "tableinator/**"
    carryforward: true
  extractor:
    paths:
      - "extractor/**"
    carryforward: true
  e2e-chromium:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-firefox:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-webkit:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-iphone-15:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-ipad-pro-11:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false

# Component configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API
      paths:
        - "api/**"
    - component_id: curator
      name: Curator
      paths:
        - "curator/**"
    - component_id: dashboard
      name: Dashboard
      paths:
        - "dashboard/**"
    - component_id: explore
      name: Explore
      paths:
        - "explore/**"
    - component_id: extractor
      name: Extractor
      paths:
        - "extractor/**"
    - component_id: graphinator
      name: Graphinator
      paths:
        - "graphinator/**"
    - component_id: schema-init
      name: Schema-Init
      paths:
        - "schema-init/**"
    - component_id: tableinator
      name: Tableinator
      paths:
        - "tableinator/**"
    - component_id: common
      name: Common
      paths:
        - "common/**"

# Ignore patterns
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/node_modules/**"
  - "**/.venv/**"
  - "**/venv/**"
  - "**/*.pyc"
  # Removed modules - carried-forward reports reference these old paths
  - "discovery/**"
  - "extractor/pyextractor/**"
  - "extractor/rustextractor/**"

# Parsers configuration - disable unused parsers to prevent warnings
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  v1:
    include_full_missed_files: false

# CLI behavior configuration
cli:
  # Disable automatic search for coverage.py to prevent warnings
  # We explicitly provide coverage files in the GitHub Actions workflow
  runners:
    use:
      - python
      - rust

# Integrations
slack_app: false

fix: truncate oversized record files in extraction analysis detail view
  api/routers/extraction_analysis.py
  dashboard/static/admin.js
Due: api, dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard

fix: truncate oversized record files in extraction analysis detail view (#284)
  api/routers/extraction_analysis.py
  dashboard/static/admin.js
Due: api, dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard

fix: dashboard UI polish and logging noise reduction
  dashboard/dashboard.py
  dashboard/static/admin.html
  dashboard/static/admin.js
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

style: apply ruff formatting to extraction_analysis.py
  api/routers/extraction_analysis.py
Due: api, API

test: cover missing lines flagged by Codecov in PR #285
  tests/api/test_extraction_analysis.py
  tests/dashboard/test_dashboard_app.py
Due: none

fix: dashboard UI polish and logging noise reduction (#285)
  api/routers/extraction_analysis.py
  dashboard/dashboard.py
  dashboard/static/admin.html
  dashboard/static/admin.js
  tests/api/test_extraction_analysis.py
  tests/dashboard/test_dashboard_app.py
Due: api, dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard

fix: align prompt-context API with dashboard frontend request shape (#283)
  api/routers/extraction_analysis.py
  tests/api/test_extraction_analysis.py
Due: api, API

feat: add POST /api/auth/change-password endpoint with tests (#280, #281)
  api/models.py
  api/routers/auth.py
  tests/api/test_auth_router.py
Due: api, API

feat: add changePassword method to API client (#280, #281)
  explore/static/js/api-client.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat: add updateTotpEnabled to AuthManager (#280, #281)
  explore/static/js/auth.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat: add settings pane HTML and dropdown link (#280, #281)
  explore/static/index.html
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat: add settings page and 2FA card styles (#280, #281)
  explore/static/css/styles.css
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat: add settings.js controller with 2FA state machine (#280, #281)
  explore/static/js/settings.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat: integrate settings pane into app.js navigation (#280, #281)
  explore/static/js/app.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

test: add comprehensive Vitest tests for settings.js and related modules
  explore/__tests__/api-client.test.js
  explore/__tests__/app.test.js
  explore/__tests__/auth.test.js
  explore/__tests__/settings.test.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat: add account settings page with 2FA setup UI (#286)
  api/models.py
  api/routers/auth.py
  explore/__tests__/api-client.test.js
  explore/__tests__/app.test.js
  explore/__tests__/auth.test.js
  explore/__tests__/settings.test.js
  explore/static/css/styles.css
  explore/static/index.html
  explore/static/js/api-client.js
  explore/static/js/app.js
  explore/static/js/auth.js
  explore/static/js/settings.js
  tests/api/test_auth_router.py
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

docs: add design spec for account settings page and 2FA UI (#280, #281)
  docs/superpowers/specs/2026-04-10-account-settings-2fa-ui-design.md
Due: none

docs: add implementation plan for account settings and 2FA UI (#280, #281)
  docs/superpowers/plans/2026-04-10-account-settings-2fa-ui.md
Due: none

fix: admin dashboard UI polish and AI-powered prompt generation (#287)
  api/api.py
  api/routers/extraction_analysis.py
  dashboard/admin_proxy.py
  dashboard/static/admin.html
  dashboard/static/admin.js
Due: api, dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard

test: add tests for AI prompt generation endpoint and proxy
  tests/api/test_extraction_analysis.py
  tests/dashboard/test_extraction_analysis_proxy.py
Due: none

fix: admin dashboard UI polish and AI-powered prompt generation (#287)
  api/api.py
  api/routers/extraction_analysis.py
  dashboard/admin_proxy.py
  dashboard/static/admin.html
  dashboard/static/admin.js
  docs/superpowers/plans/2026-04-10-account-settings-2fa-ui.md
  docs/superpowers/specs/2026-04-10-account-settings-2fa-ui-design.md
  tests/api/test_extraction_analysis.py
  tests/dashboard/test_extraction_analysis_proxy.py
Due: api, dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard

fix: use get_secret() for all credential env vars to support Docker _FILE convention
  api/setup.py
  common/config.py
Due: api, common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Common

fix: unify UI patterns across dashboard and explore services
  dashboard/static/admin.html
  dashboard/static/admin.js
  dashboard/static/index.html
  dashboard/tailwind.config.js
  explore/static/css/styles.css
Due: dashboard, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard, Explore

feat: add skip_records and filters to extraction rules engine
  extractor/src/rules.rs
  extractor/src/tests/rules_tests.rs
Due: extractor, Extractor

feat: integrate skip and filter logic into message_validator pipeline
  extractor/src/extractor.rs
Due: extractor, Extractor

feat: add skip_records and filters sections to extraction-rules.yaml
  extractor/extraction-rules.yaml
Due: extractor, Extractor

feat: add skipped records endpoint and summary extension to extraction analysis API
  api/routers/extraction_analysis.py
  tests/api/test_extraction_analysis.py
Due: api, API

feat: add dashboard proxy route for skipped records endpoint
  dashboard/admin_proxy.py
  tests/dashboard/test_extraction_analysis_proxy.py
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

feat: add skipped records section to extraction analysis report view
  dashboard/static/admin.html
  dashboard/static/admin.js
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

feat: add skipped records delta row to extraction analysis compare view
  api/routers/extraction_analysis.py
Due: api, API

docs: add design spec and implementation plan for skip/filter rules
  docs/superpowers/plans/2026-04-10-extraction-rules-skip-filter.md
  docs/superpowers/specs/2026-04-10-extraction-rules-skip-filter-design.md
Due: none

fix: unify UI patterns across dashboard and explore services (#288)
  dashboard/static/admin.html
  dashboard/static/admin.js
  dashboard/static/index.html
  dashboard/tailwind.config.js
  explore/static/css/styles.css
Due: dashboard, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard, Explore

docs: add nullify_when filter type and normalizer migration to spec and plan
  docs/superpowers/plans/2026-04-10-extraction-rules-skip-filter.md
  docs/superpowers/specs/2026-04-10-extraction-rules-skip-filter-design.md
Due: none

feat(extractor): add nullify_when filter type for scalar field nullification
  extractor/extraction-rules.yaml
  extractor/src/rules.rs
  extractor/src/tests/rules_tests.rs
Due: extractor, Extractor

refactor(common): simplify _parse_year_int now that extraction rules handle sentinel years
  common/data_normalizer.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

docs: add standalone extraction rules usage guide
  docs/extraction-rules-guide.md
Due: none

chore: update deps
  .pre-commit-config.yaml
  Cargo.lock
  api/Dockerfile
  brainzgraphinator/Dockerfile
  brainztableinator/Dockerfile
  dashboard/Dockerfile
  docs/dockerfile-standards.md
  explore/Dockerfile
  explore/package-lock.json
  graphinator/Dockerfile
  insights/Dockerfile
  osv-scanner.toml
  schema-init/Dockerfile
  tableinator/Dockerfile
  uv.lock
Due: api, dashboard, explore, graphinator, schema-init, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Graphinator, Schema-Init, Tableinator

test: improve patch coverage for extraction rules skip/filter feature
  extractor/src/tests/rules_tests.rs
  tests/api/test_extraction_analysis.py
  tests/dashboard/test_extraction_analysis_proxy.py
Due: extractor, Extractor

feat: add skip_records, filters (with nullify_when), and rules usage guide to extraction engine (#289)
  api/routers/extraction_analysis.py
  common/data_normalizer.py
  dashboard/admin_proxy.py
  dashboard/static/admin.html
  dashboard/static/admin.js
  docs/extraction-rules-guide.md
  docs/superpowers/plans/2026-04-10-extraction-rules-skip-filter.md
  docs/superpowers/specs/2026-04-10-extraction-rules-skip-filter-design.md
  extractor/extraction-rules.yaml
  extractor/src/discogs_downloader.rs
  extractor/src/extractor.rs
  extractor/src/health.rs
  extractor/src/jsonl_parser.rs
  extractor/src/main.rs
  extractor/src/rules.rs
  extractor/src/state_marker.rs
  extractor/src/tests/jsonl_parser_tests.rs
  extractor/src/tests/message_queue_tests.rs
  extractor/src/tests/rules_tests.rs
  extractor/tests/downloader_test.rs
  tests/api/test_extraction_analysis.py
  tests/dashboard/test_extraction_analysis_proxy.py
Due: api, common, dashboard, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Extractor, Common

fix: compute content hash post-filter so filter changes trigger consumer re-processing
  extractor/src/extractor.rs
  extractor/src/jsonl_parser.rs
  extractor/src/parser.rs
  extractor/src/tests/jsonl_parser_tests.rs
  extractor/src/tests/parser_tests.rs
  extractor/src/tests/types_tests.rs
  extractor/src/types.rs
  extractor/tests/parser_test.rs
Due: extractor, Extractor
