Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

fix: resolve CI failures for Credits & Provenance PR
  api/README.md
  common/README.md
  explore/README.md
  explore/static/js/credits.js
  graphinator/README.md
  tests/api/test_credits.py
  tests/graphinator/test_batch_processor.py
  tests/perftest/config.yaml
  tests/perftest/run_perftest.py
Due: api, common, explore, graphinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore, Graphinator, Common

test: improve coverage for credits feature
  explore/__tests__/app.test.js
  explore/__tests__/credits.test.js
  tests/common/test_data_normalizer.py
  tests/graphinator/test_batch_processor.py
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

test: improve credits.js coverage to 99.64% by exercising d3 callbacks
  explore/__tests__/credits.test.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat: Credits & Provenance — the people behind the music (#219)
  api/README.md
  api/api.py
  api/models.py
  api/queries/credits_queries.py
  api/routers/credits.py
  common/README.md
  common/credit_roles.py
  common/data_normalizer.py
  explore/README.md
  explore/__tests__/app.test.js
  explore/__tests__/credits.test.js
  explore/static/css/styles.css
  explore/static/index.html
  explore/static/js/app.js
  explore/static/js/credits.js
  graphinator/README.md
  graphinator/batch_processor.py
  graphinator/graphinator.py
  schema-init/neo4j_schema.py
  tests/api/conftest.py
  tests/api/test_credits.py
  tests/api/test_credits_queries.py
  tests/common/test_credit_roles.py
  tests/common/test_data_normalizer.py
  tests/graphinator/test_batch_processor.py
  tests/graphinator/test_graphinator.py
  tests/perftest/config.yaml
  tests/perftest/run_perftest.py
  tests/schema-init/test_neo4j_schema.py
Due: api, common, explore, graphinator, schema-init, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore, Graphinator, Schema-Init, Common

docs: comprehensive documentation review and update
  CLAUDE.md
  README.md
  api/README.md
  docker-compose.yml
  docs/README.md
  docs/admin-guide.md
  docs/configuration.md
  docs/consumer-cancellation.md
  docs/development.md
  docs/monorepo-guide.md
  docs/quick-start.md
  docs/testing-guide.md
  explore/README.md
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

docs: comprehensive documentation review and update (#221)
  CLAUDE.md
  README.md
  api/README.md
  docker-compose.yml
  docs/README.md
  docs/admin-guide.md
  docs/configuration.md
  docs/consumer-cancellation.md
  docs/development.md
  docs/monorepo-guide.md
  docs/quick-start.md
  docs/testing-guide.md
  explore/README.md
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

feat: add secret file support to encryption key migration script
  scripts/migrate-encryption-key.sh
Due: none

feat: add secret file support to encryption key migration script (#222)
  scripts/migrate-encryption-key.sh
Due: none

refactor: overhaul encryption key migration script
  scripts/migrate-encryption-key.sh
Due: none

refactor: split shfmt into named groups and add --shell=bash to shellcheck
  .pre-commit-config.yaml
  scripts/compute-label-stats.sh
  scripts/create-secrets.sh
  scripts/migrate-encryption-key.sh
  scripts/migrate-master-year-to-int.sh
  scripts/neo4j-entrypoint.sh
  scripts/test-database-resilience.sh
  scripts/update-project.sh
Due: none

fix: use ENTRYPOINT instead of CMD in extractor Dockerfile
  extractor/Dockerfile
Due: extractor, Extractor

feat: add tar dependency for MusicBrainz archive extraction
  extractor/Cargo.toml
Due: extractor, Extractor

feat: add musicbrainz_dump_url config field
  Cargo.lock
  extractor/src/config.rs
  extractor/src/tests/config_tests.rs
  extractor/tests/extractor_di_test.rs
  extractor/tests/extractor_state_test.rs
Due: extractor, Extractor

feat: add find_latest_mb_directory for version directory scanning
  extractor/src/musicbrainz_downloader.rs
  extractor/src/tests/musicbrainz_downloader_tests.rs
Due: extractor, Extractor

feat: support bare .jsonl files in MusicBrainz dump discovery
  extractor/src/musicbrainz_downloader.rs
  extractor/src/tests/musicbrainz_downloader_tests.rs
Due: extractor, Extractor

feat: add MbDownloader struct with version scraping and SHA256 parsing
  extractor/src/musicbrainz_downloader.rs
  extractor/src/tests/musicbrainz_downloader_tests.rs
Due: extractor, Extractor

feat: implement MbDownloader with streaming download, SHA256 verification, and retry
  extractor/src/musicbrainz_downloader.rs
  extractor/src/tests/musicbrainz_downloader_tests.rs
Due: extractor, Extractor

feat: integrate MusicBrainz download into extraction pipeline
  extractor/src/extractor.rs
  extractor/src/musicbrainz_downloader.rs
Due: extractor, Extractor

feat: add run_musicbrainz_loop with periodic version checking
  extractor/src/extractor.rs
  extractor/src/jsonl_parser.rs
  extractor/src/main.rs
  extractor/tests/extractor_di_test.rs
Due: extractor, Extractor

feat: add MUSICBRAINZ_DUMP_URL to docker-compose config
  docker-compose.yml
Due: none

test: add retry test for MusicBrainz download
  extractor/src/tests/musicbrainz_downloader_tests.rs
Due: extractor, Extractor

style: apply rustfmt formatting
  extractor/src/extractor.rs
  extractor/src/musicbrainz_downloader.rs
  extractor/src/tests/musicbrainz_downloader_tests.rs
  extractor/tests/extractor_di_test.rs
Due: extractor, Extractor

test: improve MusicBrainz download coverage targeting 90%+ patch
  extractor/src/musicbrainz_downloader.rs
  extractor/src/tests/musicbrainz_downloader_tests.rs
  extractor/tests/extractor_di_test.rs
Due: extractor, Extractor

test: cover retry cleanup, periodic check arms, and trigger error paths
  extractor/src/tests/musicbrainz_downloader_tests.rs
  extractor/tests/extractor_di_test.rs
Due: extractor, Extractor

feat: auto-download MusicBrainz JSON dumps from MetaBrainz (#223)
  Cargo.lock
  docker-compose.yml
  extractor/Cargo.toml
  extractor/src/config.rs
  extractor/src/extractor.rs
  extractor/src/jsonl_parser.rs
  extractor/src/main.rs
  extractor/src/musicbrainz_downloader.rs
  extractor/src/tests/config_tests.rs
  extractor/src/tests/musicbrainz_downloader_tests.rs
  extractor/tests/extractor_di_test.rs
  extractor/tests/extractor_state_test.rs
Due: extractor, Extractor

fix: create /musicbrainz-data directory in extractor Dockerfile
  extractor/Dockerfile
Due: extractor, Extractor

test: improve coverage across explore, mcp-server, insights, and extractor
  explore/__tests__/app.test.js
  explore/__tests__/graph.test.js
  explore/__tests__/search.test.js
  extractor/src/tests/rules_tests.rs
  extractor/tests/downloader_test.rs
  extractor/tests/extractor_di_test.rs
  tests/insights/test_computations.py
  tests/insights/test_insights.py
  tests/mcp-server/test_server.py
Due: explore, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore, Extractor

test: improve coverage across explore, mcp-server, insights, and extractor (#224)
  explore/__tests__/app.test.js
  explore/__tests__/graph.test.js
  explore/__tests__/search.test.js
  extractor/src/tests/rules_tests.rs
  extractor/tests/downloader_test.rs
  extractor/tests/extractor_di_test.rs
  tests/insights/test_computations.py
  tests/insights/test_insights.py
  tests/mcp-server/test_server.py
Due: explore, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore, Extractor

test: improve coverage for lowest-covered Python modules
  tests/api/test_metrics_collector.py
  tests/api/test_recommend_queries.py
  tests/api/test_search.py
  tests/api/test_taste.py
  tests/common/test_oauth.py
Due: none

fix: resolve multiple UI, API, and extractor bugs
  api/metrics_collector.py
  api/queries/genre_tree_queries.py
  api/routers/auth.py
  dashboard/dashboard.py
  dashboard/static/admin.html
  dashboard/static/admin.js
  dashboard/static/dashboard.js
  dashboard/static/index.html
  docker-compose.yml
  explore/static/css/styles.css
  explore/static/index.html
  extractor/src/musicbrainz_downloader.rs
Due: api, dashboard, explore, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Extractor

test: improve coverage for lowest-covered Python modules (#225)
  tests/api/test_metrics_collector.py
  tests/api/test_recommend_queries.py
  tests/api/test_search.py
  tests/api/test_taste.py
  tests/common/test_oauth.py
Due: none

test: add coverage for admin page route and Jsonb wrapping
  tests/api/test_metrics_collector.py
  tests/dashboard/test_dashboard_api.py
Due: none

fix: resolve multiple UI, API, and extractor bugs (#226)
  api/metrics_collector.py
  api/queries/genre_tree_queries.py
  api/routers/auth.py
  dashboard/dashboard.py
  dashboard/static/admin.html
  dashboard/static/admin.js
  dashboard/static/dashboard.js
  dashboard/static/index.html
  docker-compose.yml
  explore/static/css/styles.css
  explore/static/index.html
  extractor/src/musicbrainz_downloader.rs
  tests/api/test_metrics_collector.py
  tests/dashboard/test_dashboard_api.py
Due: api, dashboard, explore, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Extractor

fix: add progress logging during MusicBrainz tarball extraction
  extractor/src/musicbrainz_downloader.rs
Due: extractor, Extractor

chore: update deps
  Cargo.lock
  explore/package-lock.json
  uv.lock
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

chore: add docs
  docs/superpowers/plans/2026-03-27-musicbrainz-auto-download.md
  docs/superpowers/specs/2026-03-27-musicbrainz-auto-download-design.md
Due: none

test: achieve 100% coverage for resilience and query modules
  tests/api/test_admin_queries.py
  tests/api/test_label_dna_queries.py
  tests/api/test_metrics_queries.py
  tests/api/test_neo4j_queries.py
  tests/common/test_db_resilience.py
  tests/common/test_postgres_resilient.py
  tests/common/test_rabbitmq_resilient.py
Due: none

test: achieve 100% coverage for resilience and query modules (#228)
  tests/api/test_admin_queries.py
  tests/api/test_label_dna_queries.py
  tests/api/test_metrics_queries.py
  tests/api/test_neo4j_queries.py
  tests/common/test_db_resilience.py
  tests/common/test_postgres_resilient.py
  tests/common/test_rabbitmq_resilient.py
Due: none

fix: resolve MusicBrainz extractor AMQP errors
  docker-compose.yml
  extractor/src/extractor.rs
  extractor/src/message_queue.rs
  extractor/tests/extractor_di_test.rs
Due: extractor, Extractor

Path conditions:
  api: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  schema-init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-chromium: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-firefox: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-webkit: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-iphone-15: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-ipad-pro-11: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  API: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Schema-Init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
