Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

codecov.yml:

---
# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status checks on pull requests
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% drop
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

# PR comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag configuration for different coverage types
flags:
  api:
    paths:
      - "api/**"
    carryforward: true
  curator:
    paths:
      - "curator/**"
    carryforward: true
  common:
    paths:
      - "common/**"
    carryforward: true
  dashboard:
    paths:
      - "dashboard/**"
    carryforward: true
  explore:
    paths:
      - "explore/**"
    carryforward: true
  graphinator:
    paths:
      - "graphinator/**"
    carryforward: true
  schema-init:
    paths:
      - "schema-init/**"
    carryforward: true
  tableinator:
    paths:
      - "tableinator/**"
    carryforward: true
  extractor:
    paths:
      - "extractor/**"
    carryforward: true
  e2e-chromium:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-firefox:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-webkit:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-iphone-15:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-ipad-pro-11:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false

# Component configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API
      paths:
        - "api/**"
    - component_id: curator
      name: Curator
      paths:
        - "curator/**"
    - component_id: dashboard
      name: Dashboard
      paths:
        - "dashboard/**"
    - component_id: explore
      name: Explore
      paths:
        - "explore/**"
    - component_id: extractor
      name: Extractor
      paths:
        - "extractor/**"
    - component_id: graphinator
      name: Graphinator
      paths:
        - "graphinator/**"
    - component_id: schema-init
      name: Schema-Init
      paths:
        - "schema-init/**"
    - component_id: tableinator
      name: Tableinator
      paths:
        - "tableinator/**"
    - component_id: common
      name: Common
      paths:
        - "common/**"

# Ignore patterns
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/node_modules/**"
  - "**/.venv/**"
  - "**/venv/**"
  - "**/*.pyc"
  # Removed modules - carried-forward reports reference these old paths
  - "discovery/**"
  - "extractor/pyextractor/**"
  - "extractor/rustextractor/**"

# Parsers configuration - disable unused parsers to prevent warnings
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  v1:
    include_full_missed_files: false

# CLI behavior configuration
cli:
  # Disable automatic search for coverage.py to prevent warnings
  # We explicitly provide coverage files in the GitHub Actions workflow
  runners:
    use:
      - python
      - rust

# Integrations
slack_app: false

fix(common): stop AsyncPostgreSQLPool yielding a stale CLOSED connection
  common/postgres_resilient.py
  tests/common/test_postgres_resilient.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

fix(common): roll back AsyncPostgreSQLPool capacity on cancellation mid-create
  common/postgres_resilient.py
  tests/common/test_postgres_resilient.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

fix(api): reject 2FA challenge tokens on access-token validation paths
  api/api.py
  api/dependencies.py
  api/routers/nlq.py
  api/routers/snapshot.py
  api/routers/sync.py
  tests/api/test_api.py
  tests/api/test_dependencies.py
  tests/api/test_nlq_suggestions_endpoint.py
  tests/api/test_snapshot.py
  tests/api/test_sync.py
Due: api, API

fix(api): coalesce id to name for name-keyed Genre/Style nodes
  api/queries/neo4j_queries.py
  api/queries/recommend_queries.py
  tests/api/test_neo4j_queries.py
  tests/api/test_recommend_queries.py
Due: api, API

fix(common): cap the PostgreSQL health-check replenisher at max_connections
  common/postgres_resilient.py
  tests/common/test_postgres_resilient.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

fix(extractor): entity-unescape XML attribute values
  extractor/src/parser.rs
  extractor/src/tests/parser_tests.rs
Due: extractor, Extractor

fix(extractor): pin runtime user to configurable UID/GID matching compose
  docker-compose.yml
  extractor/Dockerfile
  tests/extractor/__init__.py
  tests/extractor/test_dockerfile_uid.py
Due: extractor, Extractor

fix(api): push year/genre filters into per-table search subqueries
  api/queries/search_queries.py
  tests/api/test_search.py
Due: api, API

fix(api): stop deduping per-release genre/label lists in collection timeline
  api/queries/user_queries.py
  tests/api/test_user_queries.py
Due: api, API

fix(common): decrement active_connections when a sync connection dies in use
  common/postgres_resilient.py
  tests/common/test_postgres_resilient.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

fix(common): stop sync ResilientPostgreSQLPool busy-spinning when exhausted
  common/postgres_resilient.py
  tests/common/test_postgres_resilient.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

fix(common): close the old connection on resilient reconnect (no leak)
  common/db_resilience.py
  tests/common/test_db_resilience.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

fix(extractor): propagate original extraction start time on resume
  extractor/src/extractor.rs
  extractor/src/tests/state_marker_tests.rs
Due: extractor, Extractor

fix(tableinator): guard stale-row purge against resumed-extraction wipes
  tableinator/tableinator.py
  tests/tableinator/test_tableinator.py
Due: tableinator, Tableinator

fix(api): escape Lucene metacharacters in person autocomplete (discogsography-cu2.3)
  api/queries/credits_queries.py
  tests/api/test_credits_queries.py
Due: api, API

fix(api): reconcile stale sync rows and stop reporting sync failures as completed
  api/syncer.py
  tests/api/test_syncer.py
Due: api, API

fix(explore): forward repeated query params through the /api proxy
  explore/explore.py
  tests/explore/test_explore_api.py
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix(api): refuse 2FA setup while it is already enabled (discogsography-cu2.24)
  api/routers/auth.py
Due: api, API

fix(graphinator): batch genre/style/label stats per node in CALL IN TRANSACTIONS
  graphinator/graphinator.py
  tests/graphinator/test_graphinator.py
Due: graphinator, Graphinator

fix(api): make 2FA verify atomic, verify-then-consume, and lockout-reset (discogsography-cu2.25, discogsography-cu2.59, discogsography-cu2.96)
  api/routers/auth.py
  tests/api/test_auth_router.py
Due: api, API

fix(api): consume 2FA recovery codes atomically (discogsography-cu2.58, discogsography-cu2.60)
  api/routers/auth.py
  tests/api/test_auth_router.py
Due: api, API

test(api): 2FA state-machine regression suite (discogsography-cu2.24, discogsography-cu2.25, discogsography-cu2.58, discogsography-cu2.59, discogsography-cu2.60, discogsography-cu2.96)
  tests/api/test_auth_router.py
Due: none

style(api): apply ruff format to search_queries.py
  api/queries/search_queries.py
Due: api, API

fix(brainzgraphinator): match Discogs node ids as strings, not ints
  brainzgraphinator/brainzgraphinator.py
  tests/brainzgraphinator/test_brainzgraphinator.py
Due: none

fix(brainzgraphinator): honor MusicBrainz relation direction
  brainzgraphinator/brainzgraphinator.py
  tests/brainzgraphinator/test_brainzgraphinator.py
Due: none

fix(brainztableinator): honor MusicBrainz relation direction
  brainztableinator/brainztableinator.py
  tests/brainztableinator/test_brainztableinator.py
Due: none

fix(graphinator): await async Neo4j transaction in non-batch mode
  graphinator/graphinator.py
  tests/graphinator/test_graphinator.py
Due: graphinator, Graphinator

fix(graphinator): nack extraction_complete when post-import maintenance fails
  graphinator/graphinator.py
  tests/graphinator/test_graphinator.py
Due: graphinator, Graphinator

fix(api): gate the internal insights router with a shared secret (discogsography-cu2.8)
  api/routers/insights_compute.py
  common/config.py
  docker-compose.yml
  docs/configuration.md
  insights/insights.py
  tests/api/conftest.py
  tests/api/test_auth_router.py
  tests/api/test_insights_compute.py
  tests/common/test_config.py
Due: api, common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Common

fix(graphinator,tableinator): bound poison-batch retries and nack to DLQ
  graphinator/batch_processor.py
  tableinator/batch_processor.py
  tests/graphinator/test_batch_processor.py
  tests/tableinator/test_batch_processor.py
Due: graphinator, tableinator, Graphinator, Tableinator

fix(graphinator,tableinator): nack invalid batch-mode input with requeue=False
  graphinator/graphinator.py
  tableinator/tableinator.py
  tests/graphinator/test_graphinator.py
  tests/tableinator/test_tableinator.py
Due: graphinator, tableinator, Graphinator, Tableinator

fix(extractor): abort MBID map build on persistent JSONL read errors
  extractor/src/jsonl_parser.rs
  extractor/src/tests/jsonl_parser_tests.rs
Due: extractor, Extractor

fix(extractor): make persistent JSONL read errors fatal in MB parser
  extractor/src/jsonl_parser.rs
  extractor/src/tests/jsonl_parser_tests.rs
Due: extractor, Extractor

fix(extractor): atomically publish MB dumps via tmp+rename to survive crashes
  extractor/src/musicbrainz_downloader.rs
  extractor/src/tests/musicbrainz_downloader_tests.rs
Due: extractor, Extractor

fix(extractor): send extraction_complete before marking resumed run Completed
  extractor/src/extractor.rs
  extractor/tests/extractor_di_test.rs
Due: extractor, Extractor

fix(extractor): derive resumed-run record_counts from persisted progress
  extractor/src/extractor.rs
  extractor/src/types.rs
  extractor/tests/extractor_di_test.rs
Due: extractor, Extractor

fix(graphinator,tableinator,brainztableinator,brainzgraphinator): recover consumers for all data types
  brainzgraphinator/brainzgraphinator.py
  brainztableinator/brainztableinator.py
  graphinator/graphinator.py
  tableinator/tableinator.py
  tests/brainzgraphinator/test_brainzgraphinator.py
  tests/brainztableinator/test_brainztableinator.py
  tests/graphinator/test_graphinator.py
  tests/tableinator/test_tableinator.py
Due: graphinator, tableinator, Graphinator, Tableinator

fix(api): default extractor_host to a real service (discogsography-cu2.32)
  common/config.py
  tests/common/test_config.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

fix(dashboard): generate DLQ_NAMES to match backend purge contract
  dashboard/static/admin.js
  tests/dashboard/test_admin_dlq_names_contract.py
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

fix(graphinator,tableinator,brainztableinator,brainzgraphinator): clear stale consumer_tags on recovery error
  brainzgraphinator/brainzgraphinator.py
  brainztableinator/brainztableinator.py
  graphinator/graphinator.py
  tableinator/tableinator.py
  tests/brainzgraphinator/test_brainzgraphinator.py
  tests/brainztableinator/test_brainztableinator.py
  tests/graphinator/test_graphinator.py
  tests/tableinator/test_tableinator.py
Due: graphinator, tableinator, Graphinator, Tableinator
