Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

fix(mcp-server): clamp find_path max_depth to the API's real ceiling (discogsography-cu2.51)
  mcp-server/mcp_server/server.py
  tests/mcp-server/test_server.py
Due: none

fix(extractor): filter single-value (scalar) fields in remove_matching (discogsography-cu2.47)
  extractor/src/rules.rs
  extractor/src/tests/rules_tests.rs
Due: extractor, Extractor

fix(explore): guard undated container <g> elements in genre emergence
  explore/__tests__/app.test.js
  explore/static/js/app.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix(explore): switch to explore pane before dispatching genre-tree search
  explore/__tests__/genre-tree.test.js
  explore/static/js/genre-tree.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix(common): make HealthServer threading with a bounded socket timeout (discogsography-cu2.61)
  common/health_server.py
  tests/common/test_health_server.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

fix(extractor): write per-data-type quality reports to avoid overwrite (discogsography-cu2.48)
  extractor/src/rules.rs
  extractor/src/tests/extractor_tests.rs
  extractor/src/tests/rules_tests.rs
Due: extractor, Extractor

fix(explore): clear beforeYear on new explore session and snapshot restore
  explore/__tests__/graph.test.js
  explore/static/js/graph.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix(dashboard): send WebSocket broadcasts outside _ws_lock (discogsography-cu2.62)
  dashboard/dashboard.py
  tests/dashboard/test_dashboard_app.py
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

fix(extractor): persist download metadata after each file, not only at end (discogsography-cu2.65)
  extractor/src/discogs_downloader.rs
  extractor/src/tests/downloader_tests.rs
Due: extractor, Extractor

fix(explore): base NLQ applied-action log on what actually applied
  explore/__tests__/nlq-action-applier.test.js
  explore/__tests__/nlq-orchestrator.test.js
  explore/static/js/nlq-action-applier.js
  explore/static/js/nlq.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix(explore): preserve in-flight 2FA state across Settings re-activation
  explore/__tests__/settings.test.js
  explore/static/js/settings.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix(extractor): bound body reads with a read timeout to catch mid-stream stalls (discogsography-cu2.66)
  extractor/src/polite_http.rs
Due: extractor, Extractor

fix(explore): stream SSE responses through the /api/* proxy (discogsography-cu2.63)
  explore/explore.py
  tests/explore/test_explore_api.py
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix(explore): guard localStorage writes in NLQ recent-history
  explore/__tests__/nlq-suggestions.test.js
  explore/static/js/nlq-suggestions.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

style(dashboard): ruff-format DLQ contract test
  tests/dashboard/test_admin_dlq_names_contract.py
Due: none

fix(api): bump app-token last_used_at on the unified auth path (discogsography-cu2.22)
  api/dependencies.py
  tests/api/test_dependencies.py
Due: api, API

fix(api): tolerate transient errors in community-enrichment fetch loop (discogsography-cu2.26)
  api/routers/insights_compute.py
  tests/api/test_community_enrichment.py
Due: api, API

fix(api): harden _track_extraction against non-httpx faults (discogsography-cu2.57)
  api/routers/admin.py
  tests/api/test_admin_endpoints.py
Due: api, API

fix(api): add unique tiebreaker to rarity pagination ordering (discogsography-cu2.55)
  api/queries/rarity_queries.py
  tests/api/test_rarity_queries.py
Due: api, API

fix(api): include hops in explore_from_here cache key (discogsography-cu2.29)
  api/routers/recommend.py
  tests/api/test_recommend.py
Due: api, API

fix(extractor): normalize + hash records unconditionally (discogsography-cu2.43)
  extractor/src/extractor.rs
  extractor/src/tests/extractor_tests.rs
Due: extractor, Extractor

fix(api): add unique tiebreaker to search result pagination (discogsography-cu2.56)
  api/queries/search_queries.py
  tests/api/test_search.py
Due: api, API

fix(api): degrade search gracefully on Redis outage (discogsography-cu2.23)
  api/queries/search_queries.py
  tests/api/test_search.py
Due: api, API

fix(api): stream cache hits to SSE NLQ clients instead of a JSON body (discogsography-cu2.27)
  api/routers/nlq.py
  tests/api/nlq/test_nlq_router.py
  tests/api/test_nlq_sse.py
Due: api, API

fix(api): cancel the NLQ engine task on SSE client disconnect (discogsography-cu2.28)
  api/routers/nlq.py
  tests/api/test_nlq_sse.py
Due: api, API

fix(graphinator): clean stub nodes across all entity labels (discogsography-cu2.49)
  graphinator/graphinator.py
  tests/graphinator/test_graphinator.py
Due: graphinator, Graphinator

fix(graphinator): batch stub-node DETACH DELETE in transactions (discogsography-cu2.68)
  graphinator/graphinator.py
  tests/graphinator/test_graphinator.py
Due: graphinator, Graphinator

fix(graphinator): defer stub cleanup until all extraction_complete signals (discogsography-cu2.67)
  graphinator/graphinator.py
  tests/graphinator/conftest.py
  tests/graphinator/test_graphinator.py
Due: graphinator, Graphinator

fix(extractor): reset stuck Running status after failed checks (discogsography-cu2.41)
  extractor/src/extractor.rs
  extractor/src/tests/extractor_tests.rs
Due: extractor, Extractor

fix(extractor): don't treat initial-run shutdown as failure (discogsography-cu2.45)
  extractor/src/extractor.rs
  extractor/src/tests/extractor_tests.rs
Due: extractor, Extractor

fix(extractor): observe SIGTERM during Discogs extraction (discogsography-cu2.44)
  extractor/src/extractor.rs
  extractor/src/tests/extractor_tests.rs
  extractor/tests/extractor_di_test.rs
Due: extractor, Extractor

fix(common): don't swallow body exceptions in connection() release
  common/postgres_resilient.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

test(common): cover pool release/replenish edge paths and exception propagation
  tests/common/test_db_resilience.py
  tests/common/test_postgres_resilient.py
Due: none

test(explore): cover SSE proxy error and buffered-read teardown paths
  tests/explore/test_explore_api.py
Due: none

test(services): cover remaining uncovered changed lines
  tests/api/test_admin_endpoints.py
  tests/api/test_auth_router.py
  tests/insights/test_insights.py
  tests/tableinator/test_tableinator.py
Due: none

test(batch): cover poison-batch nack failure logging in both processors
  tests/graphinator/test_batch_processor.py
  tests/tableinator/test_batch_processor.py
Due: none

test(tableinator): lift tableinator.py and batch_processor.py above 90%
  tests/tableinator/test_batch_processor.py
  tests/tableinator/test_tableinator.py
Due: none

test(api): cover admin_setup bootstrap paths
  tests/api/test_admin_setup.py
Due: none

test(utilities): cover monitoring utilities
  tests/utilities/__init__.py
  tests/utilities/test_check_errors.py
  tests/utilities/test_check_queues.py
  tests/utilities/test_debug_message.py
  tests/utilities/test_healthcheck.py
  tests/utilities/test_monitor_queues.py
  tests/utilities/test_system_monitor.py
Due: none

test(tableinator): cover main() teardown error-handlers to 100%
  tests/tableinator/test_tableinator.py
Due: none

Path conditions:
  api: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  schema-init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-chromium: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-firefox: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-webkit: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-iphone-15: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-ipad-pro-11: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  API: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Schema-Init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
