Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

codecov.yml:

---
# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status checks on pull requests
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% drop
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

# PR comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag configuration for different coverage types
flags:
  api:
    paths:
      - "api/**"
    carryforward: true
  curator:
    paths:
      - "curator/**"
    carryforward: true
  common:
    paths:
      - "common/**"
    carryforward: true
  dashboard:
    paths:
      - "dashboard/**"
    carryforward: true
  explore:
    paths:
      - "explore/**"
    carryforward: true
  graphinator:
    paths:
      - "graphinator/**"
    carryforward: true
  schema-init:
    paths:
      - "schema-init/**"
    carryforward: true
  tableinator:
    paths:
      - "tableinator/**"
    carryforward: true
  extractor:
    paths:
      - "extractor/**"
    carryforward: true
  e2e-chromium:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-firefox:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-webkit:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-iphone-15:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-ipad-pro-11:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false

# Component configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API
      paths:
        - "api/**"
    - component_id: curator
      name: Curator
      paths:
        - "curator/**"
    - component_id: dashboard
      name: Dashboard
      paths:
        - "dashboard/**"
    - component_id: explore
      name: Explore
      paths:
        - "explore/**"
    - component_id: extractor
      name: Extractor
      paths:
        - "extractor/**"
    - component_id: graphinator
      name: Graphinator
      paths:
        - "graphinator/**"
    - component_id: schema-init
      name: Schema-Init
      paths:
        - "schema-init/**"
    - component_id: tableinator
      name: Tableinator
      paths:
        - "tableinator/**"
    - component_id: common
      name: Common
      paths:
        - "common/**"

# Ignore patterns
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/node_modules/**"
  - "**/.venv/**"
  - "**/venv/**"
  - "**/*.pyc"
  # Removed modules - carried-forward reports reference these old paths
  - "discovery/**"
  - "extractor/pyextractor/**"
  - "extractor/rustextractor/**"

# Parsers configuration - disable unused parsers to prevent warnings
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  v1:
    include_full_missed_files: false

# CLI behavior configuration
cli:
  # Disable automatic search for coverage.py to prevent warnings
  # We explicitly provide coverage files in the GitHub Actions workflow
  runners:
    use:
      - python
      - rust

# Integrations
slack_app: false

docs: add community have/want enrichment design spec (#206)
  docs/superpowers/specs/2026-04-11-community-enrichment-rarity-design.md
Due: none

fix: compute content hash post-filter so filter changes trigger consumer re-processing (#292)
  extractor/src/extractor.rs
  extractor/src/jsonl_parser.rs
  extractor/src/parser.rs
  extractor/src/tests/jsonl_parser_tests.rs
  extractor/src/tests/parser_tests.rs
  extractor/src/tests/types_tests.rs
  extractor/src/types.rs
  extractor/tests/parser_test.rs
Due: extractor, Extractor

docs: add community enrichment implementation plan (#206)
  docs/superpowers/plans/2026-04-11-community-enrichment-rarity.md
Due: none

feat(schema): add community_counts table and collection_prevalence column (#206)
  schema-init/postgres_schema.py
Due: schema-init, Schema-Init

feat(rarity): add collection_prevalence scoring function and update weights (#206)
  api/queries/rarity_queries.py
  tests/api/test_rarity_queries.py
Due: api, API

feat(rarity): integrate collection_prevalence into signal computation (#206)
  api/queries/rarity_queries.py
  tests/api/test_rarity_queries.py
Due: api, API

feat(rarity): update call sites to pass pool and select collection_prevalence (#206)
  api/queries/rarity_queries.py
  api/routers/insights_compute.py
Due: api, API

feat(insights): update pipeline to store and serve collection_prevalence (#206)
  insights/computations.py
  insights/insights.py
  tests/insights/test_rarity_computation.py
Due: none

docs: add design spec for moving normalizer logic to Rust extractor (#290)
  docs/superpowers/specs/2026-04-11-normalizer-to-extractor-design.md
Due: none

feat(enrichment): add community have/want enrichment endpoint (#206)
  api/api.py
  api/routers/insights_compute.py
  tests/api/test_community_enrichment.py
Due: api, API

feat(insights): add community enrichment to computation pipeline (#206)
  insights/computations.py
  tests/insights/test_computations.py
  tests/insights/test_insights.py
Due: none

docs: add implementation plan for normalizer-to-extractor migration (#290)
  docs/superpowers/plans/2026-04-11-normalizer-to-extractor.md
Due: none

fix: address code review findings for community enrichment (#206)
  api/queries/rarity_queries.py
  api/routers/insights_compute.py
Due: api, API

feat(extractor): add normalize.rs with generic helpers
  extractor/src/lib.rs
  extractor/src/normalize.rs
  extractor/src/tests/normalize_tests.rs
Due: extractor, Extractor

feat(extractor): add artist normalization to normalize.rs
  extractor/src/normalize.rs
  extractor/src/tests/normalize_tests.rs
Due: extractor, Extractor

feat(extractor): add label normalization to normalize.rs
  extractor/src/normalize.rs
  extractor/src/tests/normalize_tests.rs
Due: extractor, Extractor

feat(extractor): add master normalization to normalize.rs
  extractor/src/normalize.rs
  extractor/src/tests/normalize_tests.rs
Due: extractor, Extractor

test: improve coverage for community enrichment feature (#206)
  tests/api/test_community_enrichment.py
  tests/api/test_rarity_queries.py
  tests/insights/test_rarity_computation.py
Due: none

feat(extractor): add release normalization to normalize.rs
  extractor/src/normalize.rs
  extractor/src/tests/normalize_tests.rs
Due: extractor, Extractor

refactor(extractor): address code review — clarify doc, add edge case tests
  extractor/src/normalize.rs
  extractor/src/tests/normalize_tests.rs
Due: extractor, Extractor

feat: community have/want enrichment for release rarity scoring (#293)
  api/api.py
  api/queries/rarity_queries.py
  api/routers/insights_compute.py
  docs/superpowers/plans/2026-04-11-community-enrichment-rarity.md
  docs/superpowers/specs/2026-04-11-community-enrichment-rarity-design.md
  insights/computations.py
  insights/insights.py
  schema-init/postgres_schema.py
  tests/api/test_community_enrichment.py
  tests/api/test_rarity_queries.py
  tests/insights/test_computations.py
  tests/insights/test_insights.py
  tests/insights/test_rarity_computation.py
Due: api, schema-init, API, Schema-Init

feat(extractor): wire normalize_record into validator pipeline
  extractor/src/extractor.rs
  extractor/src/main.rs
Due: extractor, Extractor

refactor: simplify Python normalizer — structural normalization moved to Rust extractor
  common/__init__.py
  common/data_normalizer.py
  graphinator/batch_processor.py
  graphinator/graphinator.py
  tests/common/test_data_normalizer.py
  tests/conftest.py
  tests/graphinator/test_graphinator.py
Due: common, graphinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Graphinator, Common

fix(extractor): reorder normalize after evaluate_rules to preserve rule path resolution
  extractor/src/extractor.rs
  tableinator/tableinator.py
Due: tableinator, extractor, Extractor, Tableinator

test(extractor): add coverage tests for defensive branches in normalize.rs
  extractor/src/normalize.rs
  extractor/src/tests/normalize_tests.rs
Due: extractor, Extractor

docs: add design language and rebrand specification
  docs/superpowers/specs/2026-04-11-design-language-rebrand-design.md
Due: none

docs: reconcile brand asset list with phaze and cronduit
  docs/superpowers/specs/2026-04-11-design-language-rebrand-design.md
Due: none

docs: add design language rebrand implementation plan
  docs/superpowers/plans/2026-04-11-design-language-rebrand.md
Due: none

chore: add Pillow dev dependency and Space Grotesk font files
  pyproject.toml
  static/fonts/SpaceGrotesk-Bold.ttf
  static/fonts/SpaceGrotesk-Regular.ttf
  static/fonts/SpaceGrotesk[wght].ttf
  uv.lock
Due: none

feat: move data normalization from Python consumers to Rust extractor (#290) (#294)
  common/__init__.py
  common/data_normalizer.py
  docs/superpowers/plans/2026-04-11-normalizer-to-extractor.md
  docs/superpowers/specs/2026-04-11-normalizer-to-extractor-design.md
  extractor/src/extractor.rs
  extractor/src/lib.rs
  extractor/src/main.rs
  extractor/src/normalize.rs
  extractor/src/tests/normalize_tests.rs
  graphinator/batch_processor.py
  graphinator/graphinator.py
  tableinator/tableinator.py
  tests/common/test_data_normalizer.py
  tests/conftest.py
  tests/graphinator/test_graphinator.py
Due: common, graphinator, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Extractor, Graphinator, Tableinator, Common

feat: add complete brand asset generation script
  pyproject.toml
  scripts/generate_brand_assets.py
Due: none

feat: generate complete brand asset set for explore and dashboard
  dashboard/static/brand/apple-touch-icon.png
  dashboard/static/brand/banner_dark.png
  dashboard/static/brand/banner_light.png
  dashboard/static/brand/design_showcase.png
  dashboard/static/brand/favicon-128.png
  dashboard/static/brand/favicon-16.png
  dashboard/static/brand/favicon-192.png
  dashboard/static/brand/favicon-256.png
  dashboard/static/brand/favicon-32.png
  dashboard/static/brand/favicon-48.png
  dashboard/static/brand/favicon-512.png
  dashboard/static/brand/favicon-64.png
  dashboard/static/brand/favicon.ico
  dashboard/static/brand/icon_dark.png
  dashboard/static/brand/icon_light.png
  dashboard/static/brand/og_image.png
  dashboard/static/brand/site.webmanifest
  dashboard/static/brand/square_dark.png
  dashboard/static/brand/square_light.png
  explore/static/brand/apple-touch-icon.png
  explore/static/brand/banner_dark.png
  explore/static/brand/banner_light.png
  explore/static/brand/design_showcase.png
  explore/static/brand/favicon-128.png
  explore/static/brand/favicon-16.png
  explore/static/brand/favicon-192.png
  explore/static/brand/favicon-256.png
  explore/static/brand/favicon-32.png
  explore/static/brand/favicon-48.png
  explore/static/brand/favicon-512.png
  explore/static/brand/favicon-64.png
  explore/static/brand/favicon.ico
  explore/static/brand/icon_dark.png
  explore/static/brand/icon_light.png
  explore/static/brand/og_image.png
  explore/static/brand/site.webmanifest
  explore/static/brand/square_dark.png
  explore/static/brand/square_light.png
Due: dashboard, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard, Explore

feat: replace explore CSS color system with Deep Space palette
  explore/static/css/styles.css
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat: update explore Tailwind config and components for Deep Space palette
  explore/tailwind.config.js
  explore/tailwind.input.css
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat: update explore HTML with new logo, favicons, and remove theme toggle
  explore/static/index.html
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat: replace dashboard CSS variables with Deep Space palette
  dashboard/static/index.html
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

feat: update dashboard index with new logo, favicons, remove theme toggle
  dashboard/static/index.html
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

feat: update dashboard admin with new logo, favicons, remove theme toggle
  dashboard/static/admin.html
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

feat: remove theme toggle logic from dashboard JavaScript
  dashboard/static/admin.js
  dashboard/static/dashboard.js
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

feat: update dashboard Tailwind config, remove dark mode toggle
  dashboard/tailwind.config.js
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard
