Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

codecov.yml:

---
# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status checks on pull requests
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% drop
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

# PR comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag configuration for different coverage types
flags:
  api:
    paths:
      - "api/**"
    carryforward: true
  curator:
    paths:
      - "curator/**"
    carryforward: true
  common:
    paths:
      - "common/**"
    carryforward: true
  dashboard:
    paths:
      - "dashboard/**"
    carryforward: true
  explore:
    paths:
      - "explore/**"
    carryforward: true
  graphinator:
    paths:
      - "graphinator/**"
    carryforward: true
  schema-init:
    paths:
      - "schema-init/**"
    carryforward: true
  tableinator:
    paths:
      - "tableinator/**"
    carryforward: true
  extractor:
    paths:
      - "extractor/**"
    carryforward: true
  e2e-chromium:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-firefox:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-webkit:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-iphone-15:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-ipad-pro-11:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false

# Component configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API
      paths:
        - "api/**"
    - component_id: curator
      name: Curator
      paths:
        - "curator/**"
    - component_id: dashboard
      name: Dashboard
      paths:
        - "dashboard/**"
    - component_id: explore
      name: Explore
      paths:
        - "explore/**"
    - component_id: extractor
      name: Extractor
      paths:
        - "extractor/**"
    - component_id: graphinator
      name: Graphinator
      paths:
        - "graphinator/**"
    - component_id: schema-init
      name: Schema-Init
      paths:
        - "schema-init/**"
    - component_id: tableinator
      name: Tableinator
      paths:
        - "tableinator/**"
    - component_id: common
      name: Common
      paths:
        - "common/**"

# Ignore patterns
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/node_modules/**"
  - "**/.venv/**"
  - "**/venv/**"
  - "**/*.pyc"
  # Removed modules - carried-forward reports reference these old paths
  - "discovery/**"
  - "extractor/pyextractor/**"
  - "extractor/rustextractor/**"

# Parsers configuration - disable unused parsers to prevent warnings
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  v1:
    include_full_missed_files: false

# CLI behavior configuration
cli:
  # Disable automatic search for coverage.py to prevent warnings
  # We explicitly provide coverage files in the GitHub Actions workflow
  runners:
    use:
      - python
      - rust

# Integrations
slack_app: false

fix(dashboard): use total messages for tableinator queue size display
  dashboard/static/dashboard.js
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

chore: update deps
  .pre-commit-config.yaml
  Cargo.lock
  api/Dockerfile
  dashboard/Dockerfile
  docs/dockerfile-standards.md
  explore/Dockerfile
  graphinator/Dockerfile
  schema-init/Dockerfile
  tableinator/Dockerfile
  uv.lock
Due: api, dashboard, explore, graphinator, schema-init, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Graphinator, Schema-Init, Tableinator

docs(extractor): add implementation plan for trait-based DI refactor (#97)
  docs/superpowers/plans/2026-03-13-extractor-trait-di.md
Due: none

chore: add .worktrees/ to .gitignore for isolated development workspaces
  .gitignore
Due: none

chore(extractor): add mockall with test-support feature flag for DI refactor (#97)
  Cargo.lock
  extractor/Cargo.toml
Due: extractor, Extractor

chore(extractor): add async-trait dependency for dyn-compatible async traits (#97)
  extractor/Cargo.toml
Due: extractor, Extractor

refactor(extractor): implement trait-based dependency injection (#97)
  Cargo.lock
  extractor/src/config.rs
  extractor/src/downloader.rs
  extractor/src/extractor.rs
  extractor/src/main.rs
  extractor/src/message_queue.rs
  extractor/src/parser.rs
Due: extractor, Extractor

test(extractor): add mock-based DI tests for orchestration functions (#97)
  extractor/tests/extractor_di_test.rs
  extractor/tests/mock_helpers.rs
Due: extractor, Extractor

feat(schema): add GIN FTS indexes on entity name/title fields
  schema-init/postgres_schema.py
  tests/schema-init/test_postgres_schema.py
Due: schema-init, Schema-Init

feat(search): add PostgreSQL FTS search queries module
  .pre-commit-config.yaml
  api/queries/search_queries.py
  pyproject.toml
Due: api, API

fix(search): guard empty types, fix year/genre filter for non-year entities, add structlog
  api/queries/search_queries.py
Due: api, API

feat(search): add GET /api/search router with tests
  api/api.py
  api/routers/search.py
  tests/api/conftest.py
  tests/api/test_search.py
Due: api, API

fix(test): use AsyncMock for execute_search patch in invalid-type test
  tests/api/test_search.py
Due: none

feat(api): add Pydantic models for taste fingerprint endpoints (#114)
  api/models.py
  tests/api/test_api_models.py
Due: api, API

feat(api): add GET /api/path shortest-path endpoint
  api/routers/explore.py
  tests/api/test_explore.py
Due: api, API

feat(api): add find_shortest_path Neo4j query
  api/queries/neo4j_queries.py
  tests/api/test_neo4j_queries.py
Due: api, API

feat(explore): add CSS styles for Find Path pane
  explore/static/css/styles.css
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(api): add PathNode and PathResponse Pydantic models
  api/models.py
  tests/api/test_api_models.py
Due: api, API

feat(explore): add Find Path nav tab and pane HTML
  explore/static/index.html
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(explore): wire Find Path pane JS logic
  explore/static/js/app.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(explore): add findPath() to ApiClient
  explore/static/js/api-client.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(api): add taste fingerprint Pydantic response models (#114)
  api/models.py
Due: api, API

feat(api): add taste fingerprint router with heatmap, fingerprint, blindspots, and card endpoints (#114)
  api/api.py
  api/routers/taste.py
  tests/api/conftest.py
  tests/api/test_taste.py
Due: api, API

feat(api): add taste fingerprint queries — heatmap, obscurity, drift, blind spots, top labels (#114)
  api/queries/taste_queries.py
  tests/api/test_taste_queries.py
Due: api, API

feat(api): add SVG taste card generator (#114)
  api/taste_card.py
  tests/api/test_taste_card.py
Due: api, API

docs(claude): require worktrees and PRs for all changes
  CLAUDE.md
Due: none

docs(claude): enforce worktree isolation — one worktree, one PR, no shared commits
  CLAUDE.md
Due: none

docs(claude): require worktrees and PRs for all changes (#119)
  CLAUDE.md
Due: none

fix(test): align TestTasteModels with actual Pydantic model definitions
  tests/api/test_api_models.py
Due: none

test(extractor): add coverage for DataSource trait impl and DefaultMessageQueueFactory
  extractor/src/downloader.rs
  extractor/tests/extractor_di_test.rs
Due: extractor, Extractor

fix(security): suppress false-positive Semgrep sqlalchemy-execute-raw-query findings
  api/queries/search_queries.py
Due: api, API

fix(security): use psycopg.sql for safe SQL composition in search queries
  api/queries/search_queries.py
Due: api, API

feat: unified full-text search via GET /api/search (#103) (#122)
  .pre-commit-config.yaml
  api/api.py
  api/queries/search_queries.py
  api/routers/search.py
  pyproject.toml
  schema-init/postgres_schema.py
  tests/api/conftest.py
  tests/api/test_search.py
  tests/schema-init/test_postgres_schema.py
Due: api, schema-init, API, Schema-Init

test(api): add coverage for invalid to_type in path endpoint
  tests/api/test_explore.py
Due: none

refactor(extractor): move inline tests to separate files in src/tests/
  extractor/src/config.rs
  extractor/src/downloader.rs
  extractor/src/extractor.rs
  extractor/src/health.rs
  extractor/src/lib.rs
  extractor/src/main.rs
  extractor/src/message_queue.rs
  extractor/src/message_queue_tests.rs
  extractor/src/parser.rs
  extractor/src/state_marker.rs
  extractor/src/tests/config_tests.rs
  extractor/src/tests/downloader_tests.rs
  extractor/src/tests/extractor_tests.rs
  extractor/src/tests/health_tests.rs
  extractor/src/tests/main_tests.rs
  extractor/src/tests/message_queue_tests.rs
  extractor/src/tests/message_queue_unit_tests.rs
  extractor/src/tests/parser_tests.rs
  extractor/src/tests/state_marker_tests.rs
  extractor/src/tests/types_tests.rs
  extractor/src/types.rs
Due: extractor, Extractor
