Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

codecov.yml:

---
# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status checks on pull requests
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% drop
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

# PR comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag configuration for different coverage types
flags:
  api:
    paths:
      - "api/**"
    carryforward: true
  curator:
    paths:
      - "curator/**"
    carryforward: true
  common:
    paths:
      - "common/**"
    carryforward: true
  dashboard:
    paths:
      - "dashboard/**"
    carryforward: true
  explore:
    paths:
      - "explore/**"
    carryforward: true
  graphinator:
    paths:
      - "graphinator/**"
    carryforward: true
  schema-init:
    paths:
      - "schema-init/**"
    carryforward: true
  tableinator:
    paths:
      - "tableinator/**"
    carryforward: true
  extractor:
    paths:
      - "extractor/**"
    carryforward: true
  e2e-chromium:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-firefox:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-webkit:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-iphone-15:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-ipad-pro-11:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false

# Component configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API
      paths:
        - "api/**"
    - component_id: curator
      name: Curator
      paths:
        - "curator/**"
    - component_id: dashboard
      name: Dashboard
      paths:
        - "dashboard/**"
    - component_id: explore
      name: Explore
      paths:
        - "explore/**"
    - component_id: extractor
      name: Extractor
      paths:
        - "extractor/**"
    - component_id: graphinator
      name: Graphinator
      paths:
        - "graphinator/**"
    - component_id: schema-init
      name: Schema-Init
      paths:
        - "schema-init/**"
    - component_id: tableinator
      name: Tableinator
      paths:
        - "tableinator/**"
    - component_id: common
      name: Common
      paths:
        - "common/**"

# Ignore patterns
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/node_modules/**"
  - "**/.venv/**"
  - "**/venv/**"
  - "**/*.pyc"
  # Removed modules - carried-forward reports reference these old paths
  - "discovery/**"
  - "extractor/pyextractor/**"
  - "extractor/rustextractor/**"

# Parsers configuration - disable unused parsers to prevent warnings
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  v1:
    include_full_missed_files: false

# CLI behavior configuration
cli:
  # Disable automatic search for coverage.py to prevent warnings
  # We explicitly provide coverage files in the GitHub Actions workflow
  runners:
    use:
      - python
      - rust

# Integrations
slack_app: false

feat(neo4j-tls): apply TLS helper at api/dashboard/graphinator/brainzgraphinator driver sites
  api/api.py
  brainzgraphinator/brainzgraphinator.py
  dashboard/dashboard.py
  graphinator/graphinator.py
Due: api, dashboard, graphinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Graphinator

feat(neo4j-tls): apply TLS helper at schema-init and perftest driver sites
  schema-init/schema_init.py
  tests/perftest/run_perftest.py
Due: schema-init, Schema-Init

docs(neo4j-tls): document NEO4J_TLS_* vars and Bolt TLS termination options
  CLAUDE.md
  docs/configuration.md
Due: none

chore: update dependencies via update-project.sh
  .pip-audit-ignores
  .pre-commit-config.yaml
  Cargo.lock
  api/Dockerfile
  api/pyproject.toml
  brainzgraphinator/Dockerfile
  brainztableinator/Dockerfile
  common/pyproject.toml
  dashboard/Dockerfile
  docs/dockerfile-standards.md
  explore/Dockerfile
  explore/package-lock.json
  graphinator/Dockerfile
  insights/Dockerfile
  pyproject.toml
  schema-init/Dockerfile
  tableinator/Dockerfile
  uv.lock
Due: api, common, dashboard, explore, graphinator, schema-init, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Graphinator, Schema-Init, Tableinator, Common

feat(neo4j-tls): configurable client-side Neo4j Bolt TLS (#74) (#354)
  .pip-audit-ignores
  .pre-commit-config.yaml
  CLAUDE.md
  Cargo.lock
  api/Dockerfile
  api/api.py
  api/pyproject.toml
  brainzgraphinator/Dockerfile
  brainzgraphinator/brainzgraphinator.py
  brainztableinator/Dockerfile
  common/__init__.py
  common/config.py
  common/pyproject.toml
  dashboard/Dockerfile
  dashboard/dashboard.py
  docs/configuration.md
  docs/dockerfile-standards.md
  docs/superpowers/plans/2026-05-21-neo4j-bolt-tls.md
  docs/superpowers/specs/2026-05-21-neo4j-bolt-tls-design.md
  explore/Dockerfile
  explore/package-lock.json
  graphinator/Dockerfile
  graphinator/graphinator.py
  insights/Dockerfile
  pyproject.toml
  schema-init/Dockerfile
  schema-init/schema_init.py
  tableinator/Dockerfile
  tests/common/test_config.py
  tests/perftest/run_perftest.py
  uv.lock
Due: api, common, dashboard, explore, graphinator, schema-init, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Graphinator, Schema-Init, Tableinator, Common

fix(digger): ship digger_agent system prompt in api image
  .dockerignore
Due: none

fix(digger): ship digger_agent system prompt in api image (#355)
  .dockerignore
Due: none

chore: update dependencies
  Cargo.lock
  api/pyproject.toml
  common/pyproject.toml
  dashboard/pyproject.toml
  explore/package-lock.json
  explore/pyproject.toml
  graphinator/pyproject.toml
  pyproject.toml
  tableinator/pyproject.toml
  uv.lock
Due: api, common, dashboard, explore, graphinator, tableinator, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Graphinator, Tableinator, Common

fix(common): support REDIS_PASSWORD for authenticated Redis connections
  .env.example
  CLAUDE.md
  common/config.py
  docs/configuration.md
  tests/common/test_config.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

fix(common): support REDIS_PASSWORD for authenticated Redis connections (#357)
  .env.example
  CLAUDE.md
  common/config.py
  docs/configuration.md
  tests/common/test_config.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

fix(digger-agent): broaden SSE exception scope to prevent stream aborts
  api/routers/digger_agent.py
  tests/api/test_digger_agent_endpoint.py
Due: api, API

chore: update deps
  Cargo.lock
  explore/package-lock.json
  osv-scanner.toml
  pyproject.toml
  uv.lock
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix(digger-agent): broaden SSE exception scope to prevent stream aborts (#360)
  api/routers/digger_agent.py
  tests/api/test_digger_agent_endpoint.py
Due: api, API

docs(v2-gruvax): SPEC.md and PLAN.md for App Tokens + Collection API milestone
  .planning/v2-gruvax/PLAN.md
  .planning/v2-gruvax/SPEC.md
Due: none

feat(schema-init): app_tokens table for third-party app authorization
  schema-init/postgres_schema.py
  tests/schema-init/test_postgres_schema.py
Due: schema-init, Schema-Init

feat(schema-init): app_tokens table for third-party app authorization (v2-gruvax P2) (#362)
  .planning/v2-gruvax/PLAN.md
  .planning/v2-gruvax/SPEC.md
  schema-init/postgres_schema.py
  tests/schema-init/test_postgres_schema.py
Due: schema-init, Schema-Init

feat(api): require_app_token dependency for third-party app authorization
  api/api.py
  api/app_tokens.py
  api/dependencies.py
  tests/api/test_app_token_auth.py
Due: api, API

feat(api): require_app_token dependency for third-party app authorization (#363)
  api/api.py
  api/app_tokens.py
  api/dependencies.py
  tests/api/test_app_token_auth.py
Due: api, API

feat(api+explore): Connected Apps settings UI for app tokens (v2-gruvax P4)
  api/api.py
  api/models.py
  api/routers/app_tokens.py
  explore/__tests__/settings-app-tokens.test.js
  explore/static/css/styles.css
  explore/static/index.html
  explore/static/js/api-client.js
  explore/static/js/settings.js
  tests/api/conftest.py
  tests/api/test_app_tokens_router.py
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

test: add coverage for app-tokens code paths flagged by codecov (#364)
  explore/__tests__/api-client.test.js
  explore/__tests__/settings-app-tokens.test.js
  tests/api/test_app_tokens_router.py
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(api+explore): Connected Apps settings UI for app tokens (v2-gruvax P4) (#364)
  api/api.py
  api/models.py
  api/routers/app_tokens.py
  explore/__tests__/api-client.test.js
  explore/__tests__/settings-app-tokens.test.js
  explore/static/css/styles.css
  explore/static/index.html
  explore/static/js/api-client.js
  explore/static/js/settings.js
  tests/api/conftest.py
  tests/api/test_app_tokens_router.py
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

feat(api): app-token auth + rate limits on /api/user/collection family (v2-gruvax P5)
  api/dependencies.py
  api/limiter.py
  api/routers/user.py
  tests/api/test_collection_app_token_auth.py
Due: api, API

fix(api): preserve require_user 503-before-401 order in unified dep + ignore upstream fastapi advisory
  .pip-audit-ignores
  api/dependencies.py
Due: api, API

feat(api): app-token auth + rate limits on /api/user/collection family (v2-gruvax P5) (#365)
  .pip-audit-ignores
  api/dependencies.py
  api/limiter.py
  api/routers/user.py
  tests/api/test_collection_app_token_auth.py
Due: api, API

chore: update deps
  Cargo.lock
  digger/pyproject.toml
  explore/package-lock.json
  explore/package.json
  pyproject.toml
  uv.lock
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(api+graphinator): catalog_number everywhere via metadata bag (v2-gruvax P6)
  api/queries/user_queries.py
  api/syncer.py
  graphinator/batch_processor.py
  tests/api/test_syncer.py
  tests/api/test_user_queries.py
  tests/graphinator/test_batch_processor.py
Due: api, graphinator, API, Graphinator

feat(api+graphinator): catalog_number everywhere via metadata bag (v2-gruvax P6) (#366)
  api/queries/user_queries.py
  api/syncer.py
  graphinator/batch_processor.py
  tests/api/test_syncer.py
  tests/api/test_user_queries.py
  tests/graphinator/test_batch_processor.py
Due: api, graphinator, API, Graphinator

docs(specs): cross-repo contract artifact for GRUVAX v2.0 integration (v2-gruvax P7)
  .planning/v2-gruvax/SPEC.md
  docs/README.md
  docs/specs/v2-gruvax-integration.md
Due: none

chore(tests): silence pytest warnings (markers, AsyncMock leaks, deprecations)
  api/routers/admin.py
  common/digger_optimizer/ilp.py
  pyproject.toml
  tests/api/test_admin_endpoints.py
  tests/api/test_sync.py
  tests/brainzgraphinator/test_brainzgraphinator.py
  tests/brainztableinator/test_brainztableinator.py
  tests/dashboard/test_dashboard_app.py
  tests/digger/test_main.py
  tests/graphinator/test_graphinator.py
  tests/schema-init/test_schema_init.py
  tests/tableinator/test_tableinator.py
Due: api, common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Common

docs(specs): cross-repo contract artifact for GRUVAX v2.0 integration (v2-gruvax P7) (#367)
  .planning/v2-gruvax/SPEC.md
  docs/README.md
  docs/specs/v2-gruvax-integration.md
Due: none

chore(tests): silence pytest warnings (markers, AsyncMock leaks, deprecations) (#368)
  api/routers/admin.py
  common/digger_optimizer/ilp.py
  pyproject.toml
  tests/api/test_admin_endpoints.py
  tests/api/test_sync.py
  tests/brainzgraphinator/test_brainzgraphinator.py
  tests/brainztableinator/test_brainztableinator.py
  tests/dashboard/test_dashboard_app.py
  tests/digger/test_main.py
  tests/graphinator/test_graphinator.py
  tests/schema-init/test_schema_init.py
  tests/tableinator/test_tableinator.py
Due: api, common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Common

ci: add digger to image build matrix
  .github/workflows/list-sub-projects.yml
Due: none

ci(digger): convert Dockerfile to multi-stage with builder target
  digger/Dockerfile
Due: none

ci: add digger to image build matrix (#369)
  .github/workflows/list-sub-projects.yml
  digger/Dockerfile
Due: none

fix(digger): use python -m digger.main in container start script
  digger/Dockerfile
Due: none

fix(digger): use python -m digger.main in container start script (#370)
  digger/Dockerfile
Due: none

fix(digger): install workspace deps via --extra digger in Dockerfile
  digger/Dockerfile
  pyproject.toml
  uv.lock
Due: none

fix(digger): install workspace deps via --extra digger in Dockerfile (#371)
  digger/Dockerfile
  pyproject.toml
  uv.lock
Due: none

fix(digger): add missing pydantic dep and standardize ASCII art
  digger/Dockerfile
  digger/main.py
  digger/pyproject.toml
  pyproject.toml
  uv.lock
Due: none
