Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: python, rust, e2e, e2e-chromium, e2e-firefox, e2e-webkit, e2e-desktop, e2e-iPhone 15, e2e-iPad Pro 11, Dashboard, Explore, Extractor, Graphinator, Tableinator, Common

fix(ci): increase Firefox page.goto timeout and set E2E coverage threshold
  .github/workflows/e2e-test.yml
  tests/explore/test_explore_ui.py
Due: none

fix(ci): increase page.goto timeout for mobile webkit E2E tests
  tests/explore/test_explore_ui.py
Due: none

fix(ci): use correct input names for coverage-monitor-action
  .github/workflows/e2e-test.yml
Due: none

refactor: consolidate all user-facing HTTP APIs into the api service (#70)
  .github/workflows/e2e-test.yml
  CLAUDE.md
  api/api.py
  api/models.py
  api/pyproject.toml
  api/queries/__init__.py
  api/queries/neo4j_queries.py
  api/queries/user_queries.py
  api/routers/__init__.py
  api/routers/explore.py
  api/routers/snapshot.py
  api/routers/sync.py
  api/routers/user.py
  api/snapshot_store.py
  api/syncer.py
  common/config.py
  curator/curator.py
  docker-compose.yml
  explore/explore.py
  pyproject.toml
  tests/api/conftest.py
  tests/api/test_api.py
  tests/api/test_explore.py
  tests/api/test_neo4j_queries.py
  tests/api/test_snapshot.py
  tests/api/test_sync.py
  tests/api/test_user.py
  tests/api/test_user_queries.py
  tests/curator/conftest.py
  tests/curator/test_curator.py
  tests/explore/conftest.py
  tests/explore/explore_test_app.py
  tests/explore/test_explore_api.py
  tests/explore/test_explore_ui.py
  tests/explore/test_snapshot.py
  tests/explore/test_user_queries.py
  tests/graphinator/test_batch_processor.py
  tests/graphinator/test_graphinator.py
  tests/test_config.py
  uv.lock
Due: python, e2e, e2e-chromium, e2e-firefox, e2e-webkit, e2e-desktop, e2e-iPhone 15, e2e-iPad Pro 11, Explore, Common

test(curator): improve coverage to 100% for curator.py
  tests/curator/test_curator.py
Due: none

docs: update service docs to reflect API consolidation
  README.md
  curator/README.md
  docs/architecture.md
  docs/quick-start.md
  explore/README.md
Due: Explore

docs(api): add Operator Setup section and fix endpoint table
  api/README.md
Due: none

refactor(explore): remove dead models.py
  explore/models.py
Due: python, Explore

docs: fix architecture diagrams and add missing API endpoints
  README.md
  api/README.md
  docs/architecture.md
  docs/configuration.md
  docs/quick-start.md
Due: none

chore: mdformat
  api/README.md
  docs/architecture.md
  docs/quick-start.md
  explore/README.md
Due: Explore

chore(scripts): add api and curator to update-project.sh
  scripts/update-project.sh
Due: none

chore: update deps
  Cargo.lock
  api/Dockerfile
  curator/Dockerfile
  dashboard/Dockerfile
  docs/dockerfile-standards.md
  explore/Dockerfile
  graphinator/Dockerfile
  schema-init/Dockerfile
  tableinator/Dockerfile
  uv.lock
Due: Dashboard, Explore, Graphinator, Tableinator

fix(security): harden API against issue-71 findings
  api/api.py
  api/auth.py
  api/limiter.py
  api/pyproject.toml
  api/routers/explore.py
  api/routers/snapshot.py
  api/routers/sync.py
  api/routers/user.py
  api/services/discogs.py
  api/snapshot_store.py
  api/syncer.py
  common/config.py
  curator/curator.py
  pyproject.toml
  tests/api/conftest.py
  tests/api/test_api.py
  tests/api/test_auth.py
  tests/api/test_discogs_service.py
  tests/api/test_explore.py
  tests/api/test_snapshot.py
  tests/api/test_sync.py
  tests/api/test_user.py
  tests/curator/conftest.py
  tests/explore/conftest.py
  tests/explore/test_explore_api.py
  tests/explore/test_snapshot.py
  tests/explore/test_user_queries.py
  tests/test_config.py
  uv.lock
Due: python, e2e, e2e-chromium, e2e-firefox, e2e-webkit, e2e-desktop, e2e-iPhone 15, e2e-iPad Pro 11, Common

refactor: replace type: ignore pragmas with proper type narrowing
  common/config.py
  common/health_server.py
  schema-init/schema_init.py
Due: python, e2e, e2e-chromium, e2e-firefox, e2e-webkit, e2e-desktop, e2e-iPhone 15, e2e-iPad Pro 11, Common

fix(codecov): align flag declarations with workflow uploads
  codecov.yml
Due: none

tests: add targeted tests to cover missing lines in explore, snapshot, user routers and config
  common/config.py
  tests/api/test_explore.py
  tests/api/test_snapshot.py
  tests/api/test_user.py
  tests/test_config.py
Due: python, e2e, e2e-chromium, e2e-firefox, e2e-webkit, e2e-desktop, e2e-iPhone 15, e2e-iPad Pro 11, Common

docs: update documentation to reflect security hardening changes
  README.md
  api/README.md
  docs/configuration.md
  docs/development.md
  docs/recent-improvements.md
  docs/usage-examples.md
Due: none

fix(security): harden API against issue #71 findings (#73)
  README.md
  api/README.md
  api/api.py
  api/auth.py
  api/limiter.py
  api/pyproject.toml
  api/routers/explore.py
  api/routers/snapshot.py
  api/routers/sync.py
  api/routers/user.py
  api/services/discogs.py
  api/snapshot_store.py
  api/syncer.py
  codecov.yml
  common/config.py
  common/health_server.py
  curator/curator.py
  docs/configuration.md
  docs/development.md
  docs/recent-improvements.md
  docs/usage-examples.md
  pyproject.toml
  schema-init/schema_init.py
  tests/api/conftest.py
  tests/api/test_api.py
  tests/api/test_auth.py
  tests/api/test_discogs_service.py
  tests/api/test_explore.py
  tests/api/test_snapshot.py
  tests/api/test_sync.py
  tests/api/test_user.py
  tests/curator/conftest.py
  tests/explore/conftest.py
  tests/explore/test_explore_api.py
  tests/explore/test_snapshot.py
  tests/explore/test_user_queries.py
  tests/test_config.py
  uv.lock
Due: python, e2e, e2e-chromium, e2e-firefox, e2e-webkit, e2e-desktop, e2e-iPhone 15, e2e-iPad Pro 11, Common

chore: add lcov.info to .gitignore
  .gitignore
Due: none

refactor(api): deduplicate OAuth helpers in syncer.py
  api/syncer.py
Due: python

refactor(extractor): remove stale commented import in message_queue.rs
  extractor/src/message_queue.rs
Due: rust, Extractor

test(extractor): increase coverage for extractor.rs and message_queue.rs
  extractor/Cargo.toml
  extractor/src/extractor.rs
Due: rust, Extractor

fix(ci): eliminate Codecov unusable reports
  .coveragerc.api
  .coveragerc.common
  .coveragerc.curator
  .coveragerc.dashboard
  .coveragerc.explore
  .coveragerc.graphinator
  .coveragerc.schema-init
  .coveragerc.tableinator
  .github/workflows/e2e-test.yml
  .github/workflows/test.yml
  justfile
Due: none

security: encrypt Discogs consumer key/secret at rest
  api/api.py
  api/setup.py
  api/syncer.py
  tests/api/test_setup.py
Due: python

security: encrypt Discogs consumer key/secret at rest (#76)
  api/api.py
  api/setup.py
  api/syncer.py
  tests/api/test_setup.py
Due: python

docs(config): document and wire OAUTH_ENCRYPTION_KEY and dashboard RabbitMQ credentials
  .env.example
  docker-compose.prod.yml
Due: none

feat(security): Docker Compose runtime secrets via _FILE convention (#69)
  .gitignore
  api/setup.py
  common/config.py
  docker-compose.prod.yml
  docs/configuration.md
  docs/docker-security.md
  scripts/create-secrets.sh
  scripts/neo4j-entrypoint.sh
  secrets.example/jwt_secret_key.txt
  secrets.example/neo4j_password.txt
  secrets.example/oauth_encryption_key.txt
  secrets.example/postgres_password.txt
  secrets.example/postgres_user.txt
  secrets.example/rabbitmq_pass.txt
  secrets.example/rabbitmq_user.txt
  tests/test_config.py
Due: python, e2e, e2e-chromium, e2e-firefox, e2e-webkit, e2e-desktop, e2e-iPhone 15, e2e-iPad Pro 11, Common

test(config): move test_config.py into tests/common/ and add _FILE coverage
  common/config.py
  tests/common/test_config.py
Due: python, e2e, e2e-chromium, e2e-firefox, e2e-webkit, e2e-desktop, e2e-iPhone 15, e2e-iPad Pro 11, Common

test(common): add health_server tests — 39% → 100% coverage
  tests/common/test_health_server.py
Due: none

feat(security): Docker Compose runtime secrets via _FILE convention (#77)
  .gitignore
  api/setup.py
  common/config.py
  docker-compose.prod.yml
  docs/configuration.md
  docs/docker-security.md
  scripts/create-secrets.sh
  scripts/neo4j-entrypoint.sh
  secrets.example/jwt_secret_key.txt
  secrets.example/neo4j_password.txt
  secrets.example/oauth_encryption_key.txt
  secrets.example/postgres_password.txt
  secrets.example/postgres_user.txt
  secrets.example/rabbitmq_pass.txt
  secrets.example/rabbitmq_user.txt
  tests/common/test_config.py
  tests/common/test_health_server.py
Due: python, e2e, e2e-chromium, e2e-firefox, e2e-webkit, e2e-desktop, e2e-iPhone 15, e2e-iPad Pro 11, Common

feat(api): migrate SnapshotStore from in-memory dict to Redis (#55)
  api/README.md
  api/api.py
  api/routers/snapshot.py
  api/snapshot_store.py
  docs/architecture.md
  docs/recent-improvements.md
  docs/usage-examples.md
  explore/snapshot_store.py
  pyproject.toml
  tests/api/conftest.py
  tests/api/test_snapshot.py
  tests/explore/conftest.py
  tests/explore/test_snapshot.py
  uv.lock
Due: python, Explore

test(api): cover snapshot router 503 paths for missing store
  tests/api/test_snapshot.py
Due: none

fix(coverage): remove conflicting source= from all coveragerc files
  .coveragerc.api
  .coveragerc.common
  .coveragerc.curator
  .coveragerc.dashboard
  .coveragerc.explore
  .coveragerc.graphinator
  .coveragerc.schema-init
  .coveragerc.tableinator
Due: none

feat(api): migrate SnapshotStore from in-memory dict to Redis (#55) (#78)
  .coveragerc.api
  .coveragerc.common
  .coveragerc.curator
  .coveragerc.dashboard
  .coveragerc.explore
  .coveragerc.graphinator
  .coveragerc.schema-init
  .coveragerc.tableinator
  api/README.md
  api/api.py
  api/routers/snapshot.py
  api/snapshot_store.py
  docs/architecture.md
  docs/recent-improvements.md
  docs/usage-examples.md
  explore/snapshot_store.py
  pyproject.toml
  tests/api/conftest.py
  tests/api/test_snapshot.py
  tests/explore/conftest.py
  tests/explore/test_snapshot.py
  uv.lock
Due: python, Explore

fix: replace deprecated ORJSONResponse with JSONResponse and drop invalid fakeredis extra
  api/api.py
  api/routers/explore.py
  api/routers/snapshot.py
  api/routers/sync.py
  api/routers/user.py
  curator/curator.py
  dashboard/dashboard.py
  docs/recent-improvements.md
  explore/explore.py
  pyproject.toml
  tests/dashboard/dashboard_test_app.py
  tests/dashboard/test_dashboard_app.py
  tests/explore/explore_test_app.py
  uv.lock
Due: python, e2e, e2e-chromium, e2e-firefox, e2e-webkit, e2e-desktop, e2e-iPhone 15, e2e-iPad Pro 11, Dashboard, Explore

fix(dashboard): use model_dump(mode="json") to serialize datetime fields
  dashboard/dashboard.py
Due: python, e2e, e2e-chromium, e2e-firefox, e2e-webkit, e2e-desktop, e2e-iPhone 15, e2e-iPad Pro 11, Dashboard

chore: update deps
  .pre-commit-config.yaml
Due: none

fix(e2e): increase page.goto timeout to 30s in explore UI tests
  tests/explore/test_explore_ui.py
Due: none

feat(ci): add security workflow and wire into build pipeline (closes #72)
  .github/workflows/build.yml
  .github/workflows/docker-validate.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  extractor/deny.toml
  pyproject.toml
  uv.lock
Due: Extractor

fix(ci): fix osv-scanner action and cargo-audit unmaintained warnings
  .github/workflows/security.yml
  extractor/deny.toml
Due: Extractor

Path conditions:
  python: any of: **/*.py, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
  rust: any of: extractor/**/*.rs, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
  e2e: any of: dashboard/**/*.py, common/**/*.py, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
  e2e-chromium: any of: dashboard/**/*.py, common/**/*.py, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
  e2e-firefox: any of: dashboard/**/*.py, common/**/*.py, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
  e2e-webkit: any of: dashboard/**/*.py, common/**/*.py, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
  e2e-desktop: any of: dashboard/**/*.py, common/**/*.py, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
  e2e-iPhone 15: any of: dashboard/**/*.py, common/**/*.py, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
  e2e-iPad Pro 11: any of: dashboard/**/*.py, common/**/*.py, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
  Dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
  Explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
  Extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
  Graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
  Tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
  Common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc
