Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

docs: mark brevo_api_key secret as required for prod email delivery (#190)
  docker-compose.prod.yml
  scripts/create-secrets.sh
Due: none

feat(audit): add record_audit_entry function (#139)
  api/audit_log.py
  tests/api/test_audit_log.py
Due: api, API

feat(models): add AuditLogEntry and AuditLogResponse (#139)
  api/models.py
Due: api, API

feat(auth): verify is_admin against DB in require_admin (#139)
  api/dependencies.py
  tests/api/test_dependencies.py
Due: api, API

feat(queries): add get_audit_log query function (#139)
  api/queries/admin_queries.py
  tests/api/test_admin_queries.py
Due: api, API

fix: update all OAUTH_ENCRYPTION_KEY references to ENCRYPTION_MASTER_KEY (#190)
  api/README.md
  api/routers/sync.py
  api/setup.py
  docs/docker-security.md
  tests/api/test_setup.py
  tests/common/test_config.py
Due: api, API

feat(admin): unify login with users table, add audit logging and endpoint (#139)
  api/routers/admin.py
  tests/api/test_admin_endpoints.py
Due: api, API

feat(api): pass pool to dependencies for DB-verified admin auth (#139)
  api/api.py
  tests/api/conftest.py
Due: api, API

feat(proxy): add audit-log proxy route (#139)
  dashboard/admin_proxy.py
  tests/dashboard/test_admin_proxy.py
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

test: add comprehensive 2FA endpoint tests for auth router coverage (#190)
  tests/api/test_auth_router.py
Due: none

feat(dashboard): add Audit Log tab to admin UI (#139)
  dashboard/static/admin.html
  dashboard/static/admin.js
Due: dashboard, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard

fix: use Pydantic serialization and execute_sql for audit log (#139)
  api/queries/admin_queries.py
  api/routers/admin.py
  tests/api/test_admin_endpoints.py
Due: api, API

test: add JS and Python tests for password reset and 2FA coverage (#190)
  explore/__tests__/api-client.test.js
  explore/__tests__/app.test.js
  explore/__tests__/auth.test.js
  tests/api/test_auth_router.py
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

test: add comprehensive app.js coverage for reset confirm, 2FA verify, and recovery flows (#190)
  explore/__tests__/app.test.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat: password reset flow and TOTP two-factor authentication (#190) (#210)
  api/README.md
  api/api.py
  api/auth.py
  api/models.py
  api/notifications.py
  api/pyproject.toml
  api/routers/auth.py
  api/routers/sync.py
  api/setup.py
  common/config.py
  docker-compose.prod.yml
  docker-compose.yml
  docs/architecture.md
  docs/configuration.md
  docs/docker-security.md
  docs/emoji-guide.md
  docs/superpowers/specs/2026-03-25-brevo-email-integration-design.md
  explore/__tests__/api-client.test.js
  explore/__tests__/app.test.js
  explore/__tests__/auth.test.js
  explore/static/index.html
  explore/static/js/api-client.js
  explore/static/js/app.js
  explore/static/js/auth.js
  pyproject.toml
  schema-init/postgres_schema.py
  scripts/create-secrets.sh
  scripts/migrate-encryption-key.sh
  scripts/reset-password.sh
  secrets.example/brevo_api_key.txt
  secrets.example/encryption_master_key.txt
  secrets.example/oauth_encryption_key.txt
  tests/api/conftest.py
  tests/api/test_api.py
  tests/api/test_auth.py
  tests/api/test_auth_router.py
  tests/api/test_notifications.py
  tests/api/test_setup.py
  tests/common/test_config.py
  uv.lock
Due: api, common, explore, schema-init, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore, Schema-Init, Common

test: improve coverage for admin queries, proxy, and router (#139)
  tests/api/test_admin_endpoints.py
  tests/api/test_admin_queries.py
  tests/dashboard/test_admin_proxy.py
Due: none

test: add test plan verification tests for admin phase 4 (#139)
  tests/api/test_admin_endpoints.py
  tests/api/test_admin_queries.py
Due: none

feat: Admin Dashboard Phase 4 — unified identity and audit log (#139) (#211)
  api/api.py
  api/audit_log.py
  api/dependencies.py
  api/models.py
  api/queries/admin_queries.py
  api/routers/admin.py
  dashboard/admin_proxy.py
  dashboard/static/admin.html
  dashboard/static/admin.js
  docs/superpowers/plans/2026-03-25-admin-dashboard-phase2.md
  docs/superpowers/plans/2026-03-25-admin-dashboard-phase3.md
  docs/superpowers/plans/2026-03-25-admin-dashboard-phase4.md
  docs/superpowers/plans/2026-03-25-natural-language-graph-queries.md
  docs/superpowers/plans/2026-03-25-password-reset-totp-2fa.md
  docs/superpowers/plans/2026-03-25-release-rarity-scoring-phase1.md
  docs/superpowers/specs/2026-03-25-admin-dashboard-phase2-design.md
  docs/superpowers/specs/2026-03-25-admin-dashboard-phase3-design.md
  docs/superpowers/specs/2026-03-25-admin-dashboard-phase4-design.md
  docs/superpowers/specs/2026-03-25-musicbrainz-integration-design.md
  docs/superpowers/specs/2026-03-25-natural-language-graph-queries-design.md
  docs/superpowers/specs/2026-03-25-password-reset-totp-2fa-design.md
  docs/superpowers/specs/2026-03-25-release-rarity-scoring-phase1-design.md
  schema-init/postgres_schema.py
  tests/api/conftest.py
  tests/api/test_admin_endpoints.py
  tests/api/test_admin_queries.py
  tests/api/test_audit_log.py
  tests/api/test_dependencies.py
  tests/dashboard/test_admin_proxy.py
Due: api, dashboard, schema-init, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Schema-Init

refactor(extractor): extract shared Discogs ID lookup and add blocking docs (#168)
  extractor/src/jsonl_parser.rs
Due: extractor, Extractor

feat(extractor): make AMQP exchange prefix configurable (#168)
  extractor/src/message_queue.rs
  extractor/src/tests/message_queue_tests.rs
  extractor/tests/extractor_di_test.rs
  extractor/tests/mock_helpers.rs
Due: extractor, Extractor

style(extractor): apply cargo fmt to all source files (#168)
  extractor/src/config.rs
  extractor/src/extractor.rs
  extractor/src/health.rs
  extractor/src/jsonl_parser.rs
  extractor/src/tests/extractor_tests.rs
  extractor/src/tests/rules_tests.rs
  extractor/tests/rules_integration_test.rs
Due: extractor, Extractor

fix(ci): update docker-compose validation for extractor-musicbrainz (#168)
  .github/workflows/docker-compose-validate.yml
Due: none

feat(extractor): add --source CLI argument and Source enum (#168)
  Cargo.lock
  extractor/Cargo.toml
  extractor/src/config.rs
  extractor/src/extractor.rs
  extractor/src/main.rs
  extractor/src/types.rs
  extractor/tests/extractor_di_test.rs
Due: extractor, Extractor

feat(docker): add extractor-musicbrainz service container (#168)
  docker-compose.yml
Due: none

test(extractor): improve MusicBrainz pipeline test coverage (#168)
  extractor/src/tests/types_tests.rs
  extractor/tests/extractor_di_test.rs
  extractor/tests/extractor_types_test.rs
Due: extractor, Extractor

feat(extractor): add two-pass Discogs ID resolution for relationship targets (#168)
  extractor/src/extractor.rs
  extractor/src/jsonl_parser.rs
  extractor/src/tests/jsonl_parser_tests.rs
Due: extractor, Extractor

feat(extractor): add MusicBrainz JSONL parser with Discogs ID extraction (#168)
  extractor/src/jsonl_parser.rs
  extractor/src/lib.rs
  extractor/src/tests/jsonl_parser_tests.rs
Due: extractor, Extractor

feat(extractor): add MusicBrainz download and extraction pipeline (#168)
  extractor/src/extractor.rs
  extractor/src/lib.rs
  extractor/src/main.rs
  extractor/src/mb_downloader.rs
  extractor/src/tests/mb_downloader_tests.rs
Due: extractor, Extractor

feat: add brainztableinator service scaffold for MusicBrainz PostgreSQL storage (#168)
  brainztableinator/__init__.py
  brainztableinator/brainztableinator.py
  brainztableinator/pyproject.toml
  common/__init__.py
  common/config.py
  pyproject.toml
  uv.lock
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

fix(ci): update docker-compose validation for brainztableinator (#168)
  .github/workflows/docker-compose-validate.yml
Due: none

test(brainztableinator): improve test coverage for message handling and config (#168)
  tests/brainztableinator/test_brainztableinator.py
Due: none

feat(schema-init): add MusicBrainz PostgreSQL schema and indexes (#168)
  schema-init/postgres_schema.py
  tests/schema-init/test_musicbrainz_schema.py
  tests/schema-init/test_postgres_schema.py
Due: schema-init, Schema-Init

feat: add brainztableinator tests, Docker, CI, and coverage (#168)
  .coveragerc.brainztableinator
  .github/workflows/test.yml
  brainztableinator/Dockerfile
  docker-compose.yml
  justfile
  tests/brainztableinator/__init__.py
  tests/brainztableinator/conftest.py
  tests/brainztableinator/test_brainztableinator.py
Due: none

feat(schema-init): add Neo4j MBID indexes for MusicBrainz enrichment (#168)
  common/__init__.py
  common/config.py
  schema-init/neo4j_schema.py
  tests/schema-init/test_neo4j_schema.py
Due: common, schema-init, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Schema-Init, Common

feat: add brainzgraphinator service with metadata enrichment and relationship edges (#168)
  brainzgraphinator/__init__.py
  brainzgraphinator/brainzgraphinator.py
  brainzgraphinator/pyproject.toml
Due: none

feat: add brainzgraphinator tests, Docker, CI, coverage, and docker-compose validation (#168)
  .coveragerc.brainzgraphinator
  .github/workflows/docker-compose-validate.yml
  .github/workflows/test.yml
  brainzgraphinator/Dockerfile
  docker-compose.yml
  justfile
  pyproject.toml
  tests/brainzgraphinator/__init__.py
  tests/brainzgraphinator/conftest.py
  tests/brainzgraphinator/test_brainzgraphinator.py
  uv.lock
Due: none

feat(api): add MusicBrainz query functions (#168)
  api/queries/musicbrainz_queries.py
Due: api, API

feat(api): add MusicBrainz API endpoints and router (#168)
  api/api.py
  api/routers/musicbrainz.py
Due: api, API

test(api): add MusicBrainz endpoint tests (#168)
  tests/api/conftest.py
  tests/api/test_musicbrainz_endpoints.py
Due: none

docs: add brainzgraphinator and brainztableinator service READMEs (#168)
  brainzgraphinator/README.md
  brainztableinator/README.md
Due: none

Path conditions:
  api: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  schema-init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-chromium: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-firefox: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-webkit: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-iphone-15: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  e2e-ipad-pro-11: any of: dashboard/**, explore/**, common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  API: any of: api/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Curator: any of: curator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Dashboard: any of: dashboard/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Explore: any of: explore/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Extractor: any of: extractor/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Graphinator: any of: graphinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Schema-Init: any of: schema-init/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Tableinator: any of: tableinator/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
  Common: any of: common/**, but not: tests/**, **/__pycache__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/*.pyc, discovery/**, extractor/pyextractor/**, extractor/rustextractor/**
