Repository SimplicityGuy/discogsography: changes, and which Codecov flags are due for each by the changed paths.
All: api, curator, common, dashboard, explore, graphinator, schema-init, tableinator, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Curator, Dashboard, Explore, Extractor, Graphinator, Schema-Init, Tableinator, Common

codecov.yml:

---
# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status checks on pull requests
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% drop
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

# PR comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag configuration for different coverage types
flags:
  api:
    paths:
      - "api/**"
    carryforward: true
  curator:
    paths:
      - "curator/**"
    carryforward: true
  common:
    paths:
      - "common/**"
    carryforward: true
  dashboard:
    paths:
      - "dashboard/**"
    carryforward: true
  explore:
    paths:
      - "explore/**"
    carryforward: true
  graphinator:
    paths:
      - "graphinator/**"
    carryforward: true
  schema-init:
    paths:
      - "schema-init/**"
    carryforward: true
  tableinator:
    paths:
      - "tableinator/**"
    carryforward: true
  extractor:
    paths:
      - "extractor/**"
    carryforward: true
  e2e-chromium:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-firefox:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-webkit:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-iphone-15:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false
  e2e-ipad-pro-11:
    paths:
      - "dashboard/**"
      - "explore/**"
      - "common/**"
    carryforward: false

# Component configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API
      paths:
        - "api/**"
    - component_id: curator
      name: Curator
      paths:
        - "curator/**"
    - component_id: dashboard
      name: Dashboard
      paths:
        - "dashboard/**"
    - component_id: explore
      name: Explore
      paths:
        - "explore/**"
    - component_id: extractor
      name: Extractor
      paths:
        - "extractor/**"
    - component_id: graphinator
      name: Graphinator
      paths:
        - "graphinator/**"
    - component_id: schema-init
      name: Schema-Init
      paths:
        - "schema-init/**"
    - component_id: tableinator
      name: Tableinator
      paths:
        - "tableinator/**"
    - component_id: common
      name: Common
      paths:
        - "common/**"

# Ignore patterns
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/node_modules/**"
  - "**/.venv/**"
  - "**/venv/**"
  - "**/*.pyc"
  # Removed modules - carried-forward reports reference these old paths
  - "discovery/**"
  - "extractor/pyextractor/**"
  - "extractor/rustextractor/**"

# Parsers configuration - disable unused parsers to prevent warnings
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
  v1:
    include_full_missed_files: false

# CLI behavior configuration
cli:
  # Disable automatic search for coverage.py to prevent warnings
  # We explicitly provide coverage files in the GitHub Actions workflow
  runners:
    use:
      - python
      - rust

# Integrations
slack_app: false

docs: add DESIGN_SYSTEM.md design language reference
  design/DESIGN_SYSTEM.md
Due: none

docs: add interactive design system showcase
  design/showcase.html
Due: none

fix: update dashboard UI test to match Deep Space rebrand heading
  tests/dashboard/test_dashboard_ui.py
Due: none

docs: restyle README header with banner image and no h1
  README.md
Due: none

fix: broken /static/brand/ paths, narrow account settings, blank 2FA QR
  dashboard/static/admin.html
  dashboard/static/brand/site.webmanifest
  dashboard/static/index.html
  explore/static/brand/site.webmanifest
  explore/static/css/styles.css
  explore/static/index.html
  explore/static/js/settings.js
Due: dashboard, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard, Explore

fix: broken /static/brand/ paths, narrow account settings, blank 2FA QR (#296)
  dashboard/static/admin.html
  dashboard/static/brand/site.webmanifest
  dashboard/static/index.html
  explore/static/brand/site.webmanifest
  explore/static/css/styles.css
  explore/static/index.html
  explore/static/js/settings.js
Due: dashboard, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Dashboard, Explore

fix: align explore search bar inline with brand and login
  explore/static/css/styles.css
  explore/static/index.html
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix: align explore search bar inline with brand and login (#297)
  explore/static/css/styles.css
  explore/static/index.html
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

chore: update dependencies
  Cargo.lock
  explore/package-lock.json
  uv.lock
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

chore: update deps
  Cargo.lock
  explore/package-lock.json
  uv.lock
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix: 2FA recovery codes display, sync rate limit, taste strip gap, btn-danger
  api/notifications.py
  api/routers/sync.py
  explore/__tests__/api-client.test.js
  explore/__tests__/settings.test.js
  explore/__tests__/user-panes.test.js
  explore/static/css/styles.css
  explore/static/js/api-client.js
  explore/static/js/settings.js
  explore/static/js/user-panes.js
  explore/tailwind.input.css
  tests/api/test_notifications.py
  tests/api/test_sync.py
  uv.lock
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

fix: set NLQ toggle to display:flex explicitly
  explore/__tests__/app.test.js
  explore/static/js/app.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

test: cover new triggerSync branches in user-panes
  explore/__tests__/user-panes.test.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

fix: 2FA recovery codes display, sync rate limit, taste strip gap, btn-danger (#302)
  api/notifications.py
  api/routers/sync.py
  explore/__tests__/api-client.test.js
  explore/__tests__/app.test.js
  explore/__tests__/settings.test.js
  explore/__tests__/user-panes.test.js
  explore/static/css/styles.css
  explore/static/js/api-client.js
  explore/static/js/app.js
  explore/static/js/settings.js
  explore/static/js/user-panes.js
  explore/tailwind.input.css
  tests/api/test_notifications.py
  tests/api/test_sync.py
Due: api, explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Explore

fix: unblock MusicBrainz extractor during Discogs periodic wait
  api/routers/admin.py
  dashboard/static/admin.html
  dashboard/static/admin.js
  extractor/README.md
  extractor/src/extractor.rs
  extractor/src/tests/extractor_tests.rs
  extractor/src/tests/health_tests.rs
  tests/api/test_admin_endpoints.py
Due: api, dashboard, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Extractor

chore: increase timeout
  .github/workflows/test.yml
Due: none

fix: update extractor_di_test polling loops for Waiting state
  extractor/tests/extractor_di_test.rs
Due: extractor, Extractor

fix: unblock MusicBrainz extractor during Discogs periodic wait (#303)
  .github/workflows/test.yml
  Cargo.lock
  api/routers/admin.py
  dashboard/static/admin.html
  dashboard/static/admin.js
  explore/package-lock.json
  extractor/README.md
  extractor/src/extractor.rs
  extractor/src/tests/extractor_tests.rs
  extractor/src/tests/health_tests.rs
  extractor/tests/extractor_di_test.rs
  tests/api/test_admin_endpoints.py
  uv.lock
Due: api, dashboard, explore, extractor, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, API, Dashboard, Explore, Extractor

test(perftest): add NLQ query and suggestions scenarios
  tests/perftest/config.yaml
  tests/perftest/run_perftest.py
Due: none

test(mcp-server): assert public tool exports
  tests/mcp-server/test_mcp_tools_regression.py
Due: none

feat(common): scaffold agent_tools package
  common/agent_tools/__init__.py
  common/agent_tools/schemas.py
  tests/common/test_agent_tools_package.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

docs: add ask-mode integration design spec
  docs/superpowers/specs/2026-04-14-ask-mode-integration-design.md
Due: none

docs: add ask-mode integration implementation plan
  docs/superpowers/plans/2026-04-14-ask-mode-integration-plan.md
Due: none

feat(explore): NlqSummaryStrip with undo and dismiss
  explore/__tests__/nlq-summary-strip.test.js
  explore/static/js/nlq-summary-strip.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(explore): NlqSuggestions chip renderer and history store
  explore/__tests__/nlq-suggestions.test.js
  explore/static/js/nlq-suggestions.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

chore(explore): remove legacy navbar NLQ toggle and panel
  explore/__tests__/app.test.js
  explore/__tests__/nlq.test.js
  explore/__tests__/no-legacy-nlq-navbar.test.js
  explore/__tests__/path-finder.test.js
  explore/static/index.html
  explore/static/js/app.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(explore): NlqActionApplier with ordering, sanitization, and undo
  explore/__tests__/nlq-action-applier.test.js
  explore/static/js/nlq-action-applier.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

feat(api/routers/nlq): emit actions SSE event before result
  api/routers/nlq.py
  tests/api/test_nlq_sse.py
Due: api, API

test(e2e): Ask cross-pane switch to insights
  tests/e2e/test_ask_cross_pane.py
Due: none

fix(explore): load nlq.js as ES module to support imports
  explore/static/index.html
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

test(e2e): Ask pill expand-and-submit end-to-end
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/test_ask_pill.py
Due: none

refactor(api/nlq): delegate _handle_find_path to common.agent_tools
  api/nlq/tools.py
  tests/api/nlq/test_tools_delegation.py
Due: api, API

feat(common): add agent_tools.graph.find_path
  common/agent_tools/__init__.py
  common/agent_tools/graph.py
  tests/common/test_agent_tools_graph.py
Due: common, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Common

feat(explore): wire initNlq into app startup and add strip mount point
  explore/__tests__/nlq-init.test.js
  explore/static/index.html
  explore/static/js/app.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

refactor(mcp-server): route find_path through common.agent_tools
  mcp-server/mcp_server/server.py
  tests/mcp-server/test_mcp_tools_regression.py
Due: none

feat(explore): nlq-handlers bridge to graph/insights/trends
  explore/__tests__/nlq-handlers.test.js
  explore/static/js/nlq-handlers.js
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

style(explore): NLQ pill, expanded card, and summary strip CSS
  explore/static/css/nlq-pill.css
  explore/static/index.html
Due: explore, e2e-chromium, e2e-firefox, e2e-webkit, e2e-iphone-15, e2e-ipad-pro-11, Explore

refactor(api/nlq): delegate remaining _handle_* methods to common.agent_tools
  api/nlq/tools.py
  tests/api/nlq/test_tools_delegation.py
Due: api, API
